<mat-accordion>
    <mat-expansion-panel #panel hideToggle [expanded]="true"
        [disabled]="interventionDataService.getMnInPremixCount() === 0">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span class="mat-typography">
                    <div class="border"></div>
                    Other micronutrients in the premix ({{ interventionDataService.getMnInPremixCount() }})
                </span>
                <mat-icon>{{ panel.expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
            </mat-panel-title>
        </mat-expansion-panel-header>




        <app-premix-table-static [micronutrients]="micronutrients" [editable]="editable"
            [baselineAssumptions]="baselineAssumptions"></app-premix-table-static>
    </mat-expansion-panel>
</mat-accordion>