@import "src/assets/scss/_colour.scss";

.map-container {
    display: block;
    width: 100%;
}
#mapView1,
#mapView2 {
    height: 279px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.example-spacer {
    flex: 1 1 auto;
    text-align: center;
    font-size: 17px;
}
