<mat-toolbar color="primary" style="height:40px">
    <button mat-icon-button class="example-icon" aria-label="Settings icon">
        <mat-icon>settings</mat-icon>
    </button>
    <span class="example-spacer">Map View</span>
    <button mat-icon-button class="example-icon" aria-label="Modal icon">
        <mat-icon>launch</mat-icon>
    </button>
</mat-toolbar>

<mat-tab-group mat-align-tabs="center" (selectedTabChange)="tabChanged($event)">
    <mat-tab label="Absolute Values">
        <div class="map-container">
            <div id="mapView1"></div>
        </div>
    </mat-tab>
    <mat-tab label="Variation from Threshold">
        <div class="map-container">
            <div id="mapView2"></div>
        </div>
    </mat-tab>
</mat-tab-group>