.fab-container {
  /* ... Existing styles for the FAB container ... */
  bottom: 20px;
  right: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transition: transform 0.2s, background-color 0.2s;
  /* Add z-index to make sure the menu appears above other elements */
  z-index: 100;
  /* Set position to relative to make sure the absolute-positioned menu stays within this container */
  position: fixed;
}

.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 20px;
  bottom: 60px;
  button {
    margin-bottom: 1em;
  }
}

/* Animation to show/hide the menu */
@keyframes expandMenu {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
