<div class="bmgf-maps-nice-scrollbar container">
  <div class="content">
    <app-intervention-description></app-intervention-description>
    <div class="title">
      <span>Expected Losses
        <button class="icon-display floater" mat-mini-fab color="primary"
          (click)="openProjectedHouseholdsInfoDialog()"><mat-icon class="icon-display">question_mark</mat-icon>
        </button></span>
    </div>

    <app-reusable-skeleton-table *ngIf="!dataLoaded" [setData]="{ columns: 11, rows: 2 }"></app-reusable-skeleton-table>

    <table mat-table [dataSource]="dataSource" class="table-full-width">

      <ng-container matColumnDef="micronutrient">
        <th class="row-title-left" mat-header-cell *matHeaderCellDef>
          Micronutrient </th>
        <td class="row-title-left row-left" [ngClass]="{'national': element.adminLevel === 0}" mat-cell
          *matCellDef="let element">
          {{ element.micronutrient }}
        </td>
      </ng-container>

      <ng-container matColumnDef="averageFortificationLevel">
        <th class="row-title" mat-header-cell *matHeaderCellDef>
          Average fortification Level (mg/kg) among all food vehicle</th>
        <td class="row-left" [ngClass]="{'national': element.adminLevel === 0}" mat-cell *matCellDef="let element">
          {{ element.baseline.actuallyFortified.year0 *
          element.baseline.averageFortificationLevel.year0 *
          element.baseline.potentiallyFortified.year0 *
          element.expectedLosses.targetVal | sigFig:3}}
        </td>
      </ng-container>

      <ng-container matColumnDef="expectedLosses">
        <th class="row-title" mat-header-cell *matHeaderCellDef>
          Expected Loss (%) </th>
        <td class="row-left" [ngClass]="{'national': element.adminLevel === 0}" mat-cell *matCellDef="let element">
          {{ element.expectedLosses.expectedLosses | percent }}
        </td>
      </ng-container>

      <ng-container matColumnDef="averageFortificationLevelPoC">
        <th class="row-title" mat-header-cell *matHeaderCellDef>
          Calculated average fortification level (mg/kg) among food vehicle at point of consumption</th>
        <td class="row-left" [ngClass]="{'national': element.adminLevel === 0}" mat-cell *matCellDef="let element">
          {{ element.baseline.actuallyFortified.year0 *
          element.baseline.averageFortificationLevel.year0 *
          element.baseline.potentiallyFortified.year0 *
          element.expectedLosses.targetVal * (1-element.expectedLosses.expectedLosses) | sigFig:3}}

        </td>
      </ng-container>

      <ng-container matColumnDef="source">
        <th class="row-title" mat-header-cell *matHeaderCellDef>
          Source for default expected loss values </th>
        <td class="row-left" [ngClass]="{'national': element.adminLevel === 0}" mat-cell *matCellDef="let element">
          {{ element.expectedLosses.source }}

        </td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
  <footer>
    <a class="intervention-navigation" mat-stroked-button [routerLink]="prevRoute | route"
      queryParamsHandling="preserve">Back</a>
    <a class="intervention-navigation" mat-stroked-button [routerLink]="ROUTES.COST_EFFECTIVENESS | route"
      queryParamsHandling="preserve">Save and close</a>
    <a class="intervention-navigation-confirm" mat-flat-button color="primary"
      [routerLink]="ROUTES.INTERVENTION_REVIEW_EFFECTIVENESS_HOUSEHOLDS | route" queryParamsHandling="preserve"
      (click)="confirmAndContinue()">Confirm and
      continue</a>
  </footer>
</div>