<app-base-dialog [data]="dialogData" [title]="title">
  <div class="bmgf-maps-nice-scrollbar">
    <table mat-table [dataSource]="dataSource" matSort class="table-full-width">
      <ng-container matColumnDef="section">
        <th class="row-title-left" mat-header-cell *matHeaderCellDef>Years of start-up or scale-up</th>
        <td class="row-title-left" mat-cell *matCellDef="let element"> {{element.section}} </td>
        <td class="row-title-left" mat-footer-cell *matFooterCellDef>Total</td>
      </ng-container>
      <ng-container matColumnDef="year0Total">
        <th mat-header-cell *matHeaderCellDef>2021</th>
        <td mat-cell *matCellDef="let element">{{element.year0Total | currencyExtended}}</td>
        <td mat-footer-cell *matFooterCellDef> {{getTotalCost('year0Total') | currencyExtended}} </td>
      </ng-container>
      <ng-container matColumnDef="year1Total">
        <th mat-header-cell *matHeaderCellDef>2022</th>
        <td mat-cell *matCellDef="let element">{{element.year1Total | currencyExtended}}</td>
        <td mat-footer-cell *matFooterCellDef> {{getTotalCost('year1Total') | currencyExtended}} </td>
      </ng-container>
      <ng-container matColumnDef="year2Total">
        <th mat-header-cell *matHeaderCellDef>2023</th>
        <td mat-cell *matCellDef="let element">{{element.year2Total | currencyExtended}}</td>
        <td mat-footer-cell *matFooterCellDef> {{getTotalCost('year2Total') | currencyExtended}} </td>
      </ng-container>
      <ng-container matColumnDef="year3Total">
        <th mat-header-cell *matHeaderCellDef>2024</th>
        <td mat-cell *matCellDef="let element">{{element.year3Total | currencyExtended}}</td>
        <td mat-footer-cell *matFooterCellDef> {{getTotalCost('year3Total') | currencyExtended}} </td>
      </ng-container>
      <ng-container matColumnDef="year4Total">
        <th mat-header-cell *matHeaderCellDef>2025</th>
        <td mat-cell *matCellDef="let element">{{element.year4Total | currencyExtended}}</td>
        <td mat-footer-cell *matFooterCellDef> {{getTotalCost('year4Total') | currencyExtended}} </td>
      </ng-container>
      <ng-container matColumnDef="year5Total">
        <th mat-header-cell *matHeaderCellDef>2026</th>
        <td mat-cell *matCellDef="let element">{{element.year5Total | currencyExtended}}</td>
        <td mat-footer-cell *matFooterCellDef> {{getTotalCost('year5Total') | currencyExtended}} </td>
      </ng-container>
      <ng-container matColumnDef="year6Total">
        <th mat-header-cell *matHeaderCellDef>2027</th>
        <td mat-cell *matCellDef="let element">{{element.year6Total | currencyExtended}}</td>
        <td mat-footer-cell *matFooterCellDef> {{getTotalCost('year6Total') | currencyExtended}} </td>
      </ng-container>
      <ng-container matColumnDef="year7Total">
        <th mat-header-cell *matHeaderCellDef>2028</th>
        <td mat-cell *matCellDef="let element">{{element.year7Total | currencyExtended}}</td>
        <td mat-footer-cell *matFooterCellDef> {{getTotalCost('year7Total') | currencyExtended}} </td>
      </ng-container>
      <ng-container matColumnDef="year8Total">
        <th mat-header-cell *matHeaderCellDef>2029</th>
        <td mat-cell *matCellDef="let element">{{element.year8Total | currencyExtended}}</td>
        <td mat-footer-cell *matFooterCellDef> {{getTotalCost('year8Total') | currencyExtended}} </td>
      </ng-container>
      <ng-container matColumnDef="year9Total">
        <th mat-header-cell *matHeaderCellDef>2030</th>
        <td mat-cell *matCellDef="let element">{{element.year9Total | currencyExtended}}</td>
        <td mat-footer-cell *matFooterCellDef> {{getTotalCost('year9Total') | currencyExtended}} </td>
      </ng-container>
      <ng-container matColumnDef="source">
        <th mat-header-cell *matHeaderCellDef> Source </th>
        <td mat-cell *matCellDef="let element let index = index">
          <span>
            <button class="sourceBtn" mat-button color="primary" matTooltip="{{element.dataSource}}">
              {{element.dataSource}}
              <!-- GFDx<mat-icon>arrow_right_alt</mat-icon> -->
            </button>
            <button *ngIf="!element.isCalculated && dirtyIndexes.includes(index)" mat-button color="primary">
              User Input
            </button>
            <button *ngIf="element.isCalculated && dirtyIndexes.includes(index)" mat-button color="primary">
              User Overridden
            </button>
            <button *ngIf="element.isCalculated && dirtyIndexes.includes(index) === false" mat-button color="primary">
              Model calculation
            </button>
          </span>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayHeaders;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayHeaders"></tr>
      <tr class="mat-row" *matNoDataRow></tr>
      <tr mat-footer-row *matFooterRowDef="displayHeaders"></tr>
    </table>
    <div class="button-container">
      <button mat-stroked-button (click)="dialogData.close()">Close</button>
    </div>
  </div>
</app-base-dialog>