@import 'src/assets/scss/_colour';
.bold {
  font-weight: 700;
  padding: 20px;
}
.heading-bold,
.item-bold {
  font-weight: 700;
}

.bold-primary {
  color: $color_primary;
  font-weight: 700;
}
// .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled='true']) {
::ng-deep .mat-expansion-panel,
::ng-deep.mat-expansion-panel-header,
::ng-deep.mat-expansion-panel-body {
  background: $color_background_form;
  box-shadow: none !important;
  padding: none !important;
}

.chart,
.chart-description {
  width: 50%;
  padding: 0 2rem;
}
.flex-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2rem 0;
}
.chart-tab {
  background-color: $color_background_form;
}
