// @import 'src/assets/scss/_colour';

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
  height: auto !important;
  padding-left: 10px;
  padding-right: 10px;

  .item {
    flex-grow: 1;
    text-align: center;
    margin: 5px;

    &.wideItem {
      flex-grow: 2;
    }

    &.downloadOption {
      background-color: white;
      padding: 10px;
    }
  }
}
.chartRenderScreenshot {
  display: block;
  max-width: 300px;
  max-height: 200px;
  object-fit: fill;
}

.chartInput {
  height: fit-content;
  background-color: yellow;
}
.panelInput {
  position: absolute !important;
  height: 60px !important;
  width: 100% !important;
}
.panelChart {
  position: absolute !important;
  height: calc(100% - 60px) !important;
  min-height: 200px !important;
  top: 60px !important;
  bottom: 0px !important;
  left: 0px !important;
  right: 0px !important;
}
