<table mat-table [dataSource]="dataSource" class="table-full-width">
  <ng-container matColumnDef="micronutrient">
    <th class="row-title-left focus " mat-header-cell *matHeaderCellDef>
      Micronutrient
    </th>
    <td class="mn-row column-title-left" mat-cell *matCellDef="let element; let i = index;">
      <button *ngIf="editable" mat-icon-button color="warn" aria-label="Remove micronutrient from premix"
        class="remove-mn action-button" (click)="removeMn(element, i)">
        <mat-icon>highlight_off</mat-icon>
      </button>
      <span class="micronutrient-title">{{ element.micronutrient }}</span>
    </td>
  </ng-container>
  <ng-container matColumnDef="compounds">
    <th class="row-title-left" mat-header-cell *matHeaderCellDef>
      Compound
    </th>
    <td class="column-title-left" mat-cell *matCellDef="let element; let i = index;">
      <mat-form-field appearance="outline" class="override">
        <mat-select placeholder="Please select a compound" matNativeControl [compareWith]="compareObjects"
          [(ngModel)]="element.selectedCompound" (selectionChange)="handleSelectCompound(element)">
          <mat-option *ngFor="let item of element.compounds" [value]="item">
            {{ item.compound }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </ng-container>
  <ng-container matColumnDef="targetVal">
    <th class="row-title-left header-top-align" mat-header-cell *matHeaderCellDef>Standard/target nutrient level at
      point of
      fortification (mg/kg)
    </th>
    <td class="column-title" mat-cell *matCellDef="let element; let i = index;">
      <div *ngIf="editable" class="double-cell">
        <input type="number" matInput required
          [(ngModel)]="element.selectedCompound && element.selectedCompound.targetVal" (change)="setButtonEdited(i, 1)"
          min="0">
        <button *ngIf="userEdited(i, 1) === false || userEdited(i, 1) == null" mat-button color="primary">
          GFDx<mat-icon>arrow_right_alt</mat-icon>
        </button>
        <button *ngIf="userEdited(i, 1)" mat-button color="primary">
          User Input
        </button>
      </div>
      <div *ngIf="!editable" class="double-cell">
        {{ element.selectedCompound ? element.selectedCompound.targetVal : '0' }}
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="avgVal">
    <th class="row-title-left header-top-align" mat-header-cell *matHeaderCellDef>Calculated baseline fortification
      levels in practice
      <button class="icon-display floater" mat-mini-fab color="primary" (click)="openFortificationInfoDialog()">
        <mat-icon class="icon-display">question_mark</mat-icon>
      </button>
    </th>
    <td class="column-title" mat-cell *matCellDef="let element; let i = index;">
      <div class="double-cell">
        <span>
          {{ (element.selectedCompound ? element.selectedCompound.targetVal : 0) *
          baselineAssumptions.actuallyFortified.year0 | sigFig: 3
          }}
        </span>
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="calcFort">
    <th class="row-title-left header-top-align" mat-header-cell *matHeaderCellDef>
      Calculated average fortification level (mg/kg) among
      all food vehicle
      <button class="icon-display floater" mat-mini-fab color="primary"
        (click)="openCalculatedFortificationInfoDialog()">
        <mat-icon class="icon-display">question_mark</mat-icon>
      </button>
    </th>
    <td class="column-title" mat-cell *matCellDef="let element; let i = index;">
      <span>
        {{ (element.selectedCompound ? element.selectedCompound.targetVal : 0) *
        (baselineAssumptions.actuallyFortified.year0 *
        baselineAssumptions.potentiallyFortified.year0) | sigFig: 3 }}
      </span>
    </td>
  </ng-container>
  <div *ngIf="!editable">
    <tr mat-header-row *matHeaderRowDef="addedFVdisplayedColumns;"></tr>
  </div>
  <tr mat-row *matRowDef="let row; columns: addedFVdisplayedColumns;"></tr>
</table>