// @import "@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';
// Plus imports for other components in your app.

/*
  Generated here:
  http://mcg.mbitson.com/#!?mcgpalette0=%236979f7&themename=mcgtheme
  from base #6979f7
*/
$_primary_pallete: (
  50 : #edeffe,
  100 : #d2d7fd,
  200 : #b4bcfb,
  300 : #96a1f9,
  400 : #808df8,
  500 : #6979f7,
  600 : #6171f6,
  700 : #5666f5,
  800 : #4c5cf3,
  900 : #3b49f1,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #d6d9ff,
  A700 : #bdc1ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff, // changed
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);
// from base #be52f2
$_accent_pallete: (
  50 : #f7eafd,
  100 : #eccbfb,
  200 : #dfa9f9,
  300 : #d286f6,
  400 : #c86cf4,
  500 : #be52f2,
  600 : #b84bf0,
  700 : #af41ee,
  800 : #a738ec,
  900 : #9928e8,
  A100 : #ffffff,
  A200 : #f9f2ff,
  A400 : #e3bfff,
  A700 : #d8a6ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);





// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat-palette($_primary_pallete);
$app-accent:  mat-palette($_accent_pallete);

// The warn palette is optional (defaults to red).
$app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);



// Define a mixin that accepts a theme and outputs the theme-specific styles.
@mixin bmgf-maps-theme($theme) {
  // Extract the palettes you need from the theme definition.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  body.bmgf-maps-theme {

  }
}



// Include theme styles for your custom components.
@include bmgf-maps-theme($app-theme);
