// @import "@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';
// Plus imports for other components in your app.

/*
  Generated here:
  http://mcg.mbitson.com/#!?mcgpalette0=%236979f7&themename=mcgtheme
  from base #6979f7
*/

/* For use in src/lib/core/theming/_palette.scss */
$_primary_pallete: (
    50 : #f3eafb,
    100 : #e1cbf6,
    200 : #cda8f0,
    300 : #b985e9,
    400 : #aa6be5,
    500 : #9b51e0,
    600 : #934adc,
    700 : #8940d8,
    800 : #7f37d3,
    900 : #6d27cb,
    A100 : #ffffff,
    A200 : #e6d5ff,
    A400 : #c8a2ff,
    A700 : #b989ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$_accent_pallete: (
    50 : #e4e7eb,
    100 : #bbc2cd,
    200 : #8e9aab,
    300 : #617289,
    400 : #3f5370,
    500 : #1d3557,
    600 : #1a304f,
    700 : #152846,
    800 : #11223c,
    900 : #0a162c,
    A100 : #6896ff,
    A200 : #3573ff,
    A400 : #0250ff,
    A700 : #0047e7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat-palette($_primary_pallete);
$app-accent:  mat-palette($_accent_pallete);

// The warn palette is optional (defaults to red).
$app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);



// Define a mixin that accepts a theme and outputs the theme-specific styles.
@mixin bmgf-maps-theme($theme) {
  // Extract the palettes you need from the theme definition.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  body.bmgf-maps-theme {

  }
}



// Include theme styles for your custom components.
@include bmgf-maps-theme($app-theme);
