// MAPS Custom Angular Materials theme

// @import "@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';
@import 'colour';
@import 'scroll';
@import 'page';
@import 'typography';
@import 'angular_material_components';
@import 'card';
@import 'utilities';

/*
  Generated here:
  http://mcg.mbitson.com/#!?mcgpalette0=%236979f7&themename=mcgtheme
  from base #6979f7
*/
/* For use in src/lib/core/theming/_palette.scss */

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat-palette($_primary_pallete);
$app-accent: mat-palette($_accent_pallete);
$app-warn: mat-palette($mat-red);

$app-theme-standard: mat-light-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn,
    ),
  )
);

// Create the theme object (a Sass map containing all of the palettes).
// $app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme-standard);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);

// // Define a mixin that accepts a theme and outputs the theme-specific styles.
// @mixin bmgf-maps-theme($theme) {
//   $primary: map-get($theme, primary);
//   $accent: map-get($theme, accent);
//   $warn: map-get($theme, warn);
// }

// // Include theme styles for your custom components.
// @include bmgf-maps-theme($app-theme-standard);
