$_primary_pallete: (
  50: #eee7f4,
  100: #d4c4e3,
  200: #b89dd1,
  300: #9b75bf,
  400: #8558b1,
  500: #703aa3,
  600: #68349b,
  700: #5d2c91,
  800: #532588,
  900: #411877,
  A100: #cfb0ff,
  A200: #b07dff,
  A400: #924aff,
  A700: #9b51e0,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$_accent_pallete: (
  50: #ffebef,
  100: #ffccd7,
  200: #ffabbc,
  300: #ff89a1,
  400: #ff6f8c,
  500: #ff5678,
  600: #ff4f70,
  700: #ff4565,
  800: #ff3c5b,
  900: #ff2b48,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffd8dd,
  A700: #ffbec6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$color_primary: map_get($_primary_pallete, A700);
$color_primary_dark: map_get($_primary_pallete, A500);
$color_grey: #4f4f4f;
$color_blue: #1d3557;
$color_blue_form: #013171;
$color_background_form: #f1ecf6;
