.intervention-form-field {
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-form-field-wrapper {
    padding-bottom: 0.5rem;
  }
}

.mat-form-field-appearance-outline {
  .mat-form-field-infix {
    padding: 0.25rem 0 0.5rem 0 !important;
  }
}

mat-form-field {
  &.override {
    width: 95%;

    .mat-mdc-text-field-wrapper {
      &.mdc-text-field--outlined {
        .mat-mdc-form-field-infix {
          padding-top: 8px;
          padding-bottom: 8px;
          min-height: 32px;
        }
      }
    }
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}
