.leaflet-screenshot {
  font-size: 18px;
  line-height: 29px;
  display: block;
  text-align: center;
  position: absolute;
  z-index: 401;
  height: 30px !important;
  width: 30px;
  background-color: #fff;
  top: 161px;
  left: 10px;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
