@mixin custom-scroll {
  display: block;
  overflow-y: auto;
  // overflow-x: hidden;

  // custom scrollbar
  /* width */
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: #d3d3d3;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $color_blue;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.bmgf-maps-nice-scrollbar {
  @include custom-scroll;
}

body {
  @include custom-scroll;
}

