@import './colour';

.mat-mdc-table {
  font-family: 'Ubuntu Mono' !important;
  text-align: right !important;
}

.table-full-width {
  width: 100%;
}

th.mat-mdc-header-cell {
  text-align: right !important;
}
