@use '@angular/material/theming';

.tab-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

mat-mdc-tab-group {
  // margin: 1rem 0rem;

  .mat-mdc-tab-body {
    overflow: hidden;
    /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
    &.mat-mdc-tab-body-active {
      overflow: hidden;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
    .mat-mdc-tab-body-content {
      margin: 2rem 0 0 0;
    }
  }
}
