<app-base-dialog [data]="data" title="Welcome to Quick MAPS">

  <div class="bmgf-maps-nice-scrollbar">
    <p class="text-center"><img class="maps-welcome-header-image"
        src="https://assets.micronutrient.support/strapi/logo_9418bb2b7c.svg">
    </p>
    <p class="welcome-text">This version of the MAPS tool is released for user-testing and feedback: we would be
      delighted to receive your
      views on the ease of use of the tool before you leave our site, using the
      <button mat-mini-fab color="primary" arial-label="feedback" class="mini-button">
        <mat-icon>add_comment</mat-icon>
      </button> button at the bottom right of the page. We also
      have a ‘Submit Feedback’ button on the right side of the screen – this can be
      used
      for feedback on content on the
      specific part of the tool you are looking at, at any time.
    </p>

    <p class="mat-body-strong warning welcome-text">As we are still testing and improving the interface and underlying
      system and
      data
      operations, we do not recommend using the outputs for decision making until this process is completed in the next
      few months.</p>
    <p>If you would like to request, or up-vote, features operationalised in the tool, please use the <a
        href="https://features.micronutrient.support" target="_blank">Feature Request Portal</a> to do this.</p>

    <p class="welcome-text">
      You can return to this dialog at any point using the
      <button arial-label="help" mat-mini-fab color="primary" class="mini-button">
        <mat-icon>tour</mat-icon>
      </button> icon in the bottom right of the page.
    </p>

    <p class="text-center welcome-text">
      <button mat-stroked-button color="primary" (click)="openQuickMapsTour($event)">View a tour of Quick MAPS</button>
    </p>
  </div>

</app-base-dialog>