<app-base-dialog [data]="data">

  <div class="bmgf-maps-nice-scrollbar">
    <div class="title">
      <span>Welcome to Quick MAPS</span>
    </div>
    <p class="text-center"><img style="width: 30%; max-width: 100px;"
        src="https://micronutrient.support/images/logo.svg"></p>
    <p>This version of the MAPS tool is released for user-testing and feedback: we would be delighted to receive your
      views on the ease of use of the tool before you leave our site, using the button at the top of the page. We also
      have a ‘submit feedback’ button on the right side of the screen – this can be used for feedback on content on the
      specific part of the tool you are looking at, at any time.</p>
    <p class="mat-body-strong warning">As we are still testing and improving the interface and underlying system and
      data
      operations, we do not recommend using the outputs for decision making until this process is completed in the next
      few months.</p>
    <p>If you would like to request, or up-vote, features operationalised in the tool, please use the <a
        href="https://features.micronutrient.support" target="_blank">Feature Request Portal</a> to do this.</p>
    <p class="text-center">
      <button mat-raised-button color="primary" (click)="openQuickMapsTour($event)">View a tour of Quick MAPS</button>
    </p>
  </div>

</app-base-dialog>