<div class="wrapper">
  <div class="card-container">
    <mat-toolbar color="primary">
      <mat-icon class="drag-handle">drag_indicator</mat-icon>
      <button *ngIf="showSettings" (click)="functionSettings()" mat-icon-button aria-label="Settings icon">
        <mat-icon>settings</mat-icon>
      </button>
      <button *ngIf="showSettingsMenu" (click)="functionSettingsMenu()" [matMenuTriggerFor]="matMenu" mat-icon-button
        aria-label="Settings icon">
        <mat-icon>settings</mat-icon>
      </button>
      <button *ngIf="showInfo" (click)="functionInfo()" mat-icon-button aria-label="Info icon">
        <mat-icon>info</mat-icon>
      </button>
      <span class="title-spacer">{{title}}</span>
      <button *ngIf="showExpand" (click)="functionExpand()" mat-icon-button aria-label="Modal icon">
        <mat-icon>launch</mat-icon>
      </button>
    </mat-toolbar>

    <div *ngIf="error" class="centredContent">
      <!-- <div class="centredContent"> -->
      <!-- <img class="header-image" src="/assets/images/webp/maps-min.webp"> -->
      <h2 class="mat-headline">Content unavailable</h2>
      <h3 class="mat-title">We are unable to display this content right now. Please adjust your search or try again
        soon.</h3>
      <!-- </div> -->
    </div>
    <div *ngIf="!error" mat-align-tabs="center" class="card-content-wrapper">
      <ng-content></ng-content>
      <div *ngIf="loading" class="loading-indicator">
        <mat-spinner aria-label="spinner" [diameter]="90" color='accent'></mat-spinner>
      </div>
    </div>
  </div>
</div>