.status-chart-header {
  display: block;
  height: 50px !important;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
}

.status-chart-data {
  display: block;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
}

.pull-right {
  text-align: right;
}

.pull-left {
  text-align: left;
}
