<ng-template #componentTemplate>
  <mat-tab-group mat-align-tabs="center" (selectedTabChange)="tabChanged($event)" [(selectedIndex)]="selectedTab">
    <mat-tab label="Chart">
      <div class="bmgf-maps-nice-scrollbar" *ngIf="binData">
        <div class="status-chart-header">
          Histogram of <strong>{{ (quickMapsService.ageGenderGroup.obs | async)?.name }}</strong> in
          {{ (quickMapsService.country.obs | async)?.name }}
        </div>
        <mat-form-field *ngIf="null != chartData" appearance="fill">
          <mat-label>Bin selection</mat-label>
          <!-- <mat-select #select (selectionChange)="createBins(select.value)"> -->
          <!-- <mat-select [(value)]="selectedBinSize" (selectionChange)="createBins()">
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="5">5</mat-option>
            <mat-option value="10">10</mat-option>
            <mat-option value="25">25</mat-option>
            <mat-option value="50">50</mat-option>
          </mat-select> -->
        </mat-form-field>
        <!-- <ngx-chartjs *ngIf="chartData" id="histo" [data]="chartData.data" [type]="chartData.type"
          [options]="chartData.options" [plugins]="chartData.plugins"></ngx-chartjs> -->
        <canvas #histo>{{ chartData }}</canvas>

        <div class="status-chart-header">Descriptive Statistics</div>

        <div class="status-chart-data">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="NaS">
              <th mat-header-cell *matHeaderCellDef>NaS</th>
              <td mat-cell *matCellDef="let element">{{ element.NaS }}</td>
            </ng-container>
            <ng-container matColumnDef="lowerOutlier">
              <th mat-header-cell *matHeaderCellDef>Lower Outlier</th>
              <td mat-cell *matCellDef="let element">{{ element.lowerOutlier }}</td>
            </ng-container>
            <ng-container matColumnDef="lowerQuartile">
              <th mat-header-cell *matHeaderCellDef>Lower Quartile</th>
              <td mat-cell *matCellDef="let element">{{ element.lowerQuartile }}</td>
            </ng-container>
            <ng-container matColumnDef="maximum">
              <th mat-header-cell *matHeaderCellDef>Maximum</th>
              <td mat-cell *matCellDef="let element">{{ element.maximum }}</td>
            </ng-container>
            <ng-container matColumnDef="mean">
              <th mat-header-cell *matHeaderCellDef>Mean</th>
              <td mat-cell *matCellDef="let element">{{ element.mean }}</td>
            </ng-container>
            <ng-container matColumnDef="median">
              <th mat-header-cell *matHeaderCellDef>Median</th>
              <td mat-cell *matCellDef="let element">{{ element.median }}</td>
            </ng-container>
            <ng-container matColumnDef="minimum">
              <th mat-header-cell *matHeaderCellDef>Minimum</th>
              <td mat-cell *matCellDef="let element">{{ element.minimum }}</td>
            </ng-container>
            <ng-container matColumnDef="n">
              <th mat-header-cell *matHeaderCellDef>N</th>
              <td mat-cell *matCellDef="let element">{{ element.n }}</td>
            </ng-container>
            <ng-container matColumnDef="standardDeviation">
              <th mat-header-cell *matHeaderCellDef>Standard Deviation</th>
              <td mat-cell *matCellDef="let element">{{ element.standardDeviation }}</td>
            </ng-container>
            <ng-container matColumnDef="upperOutlier">
              <th mat-header-cell *matHeaderCellDef>Upper Outlier</th>
              <td mat-cell *matCellDef="let element">{{ element.upperOutlier }}</td>
            </ng-container>
            <ng-container matColumnDef="upperQuartile">
              <th mat-header-cell *matHeaderCellDef>Upper Quartile</th>
              <td mat-cell *matCellDef="let element">{{ element.upperQuartile }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="More Information About The Data">
      <ul>
        <li>How the outliers were defined</li>
        <li>The quality assurance/quality of the data</li>
        <li>Any known issues</li>
        <li>supporting information</li>
        <li>links to wider maps resources</li>
      </ul>
    </mat-tab>

    <mat-tab label="Download">
      <app-download [chartDownloadPNG]="chartPNG" [chartDownloadPDF]="chartPDF">
      </app-download>
    </mat-tab>

    <mat-tab label="About {{title}}">
      <div class="about-container">
        <h2>About {{title}}</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>
      </div>

    </mat-tab>
  </mat-tab-group>
</ng-template>

<ng-container *ngIf="null != dialogData; else componentTemplate">
  <app-base-dialog [data]="dialogData" [title]="title">
    <ng-container *ngTemplateOutlet="componentTemplate"></ng-container>
  </app-base-dialog>
</ng-container>

<!-- *ngIf="null != chartData" -->