@use 'src/app/pages/costEffectiveness/interventionReview/pages/interventionReviewPages.scss';
@import 'src/assets/scss/_colour.scss';

.button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  bottom: 10px;
  right: 10px;
  position: absolute;

  button {
    margin: 0 5px 0 5px;
  }

  .confirm {
    background-color: $color_primary;
    color: white;
  }
}

.premixCalcForm table {
  width: 100%;
  tr.mat-mdc-footer-row {
    font-weight: bold;
  }
}

.title {
  border: solid 1px $color_primary;
  margin: 1em;
  padding: 10px;
  span {
    font-size: 20px;
    font-weight: 600;
  }
}

tr.mat-mdc-footer-row td {
  font-weight: bold;
}

::ng-deep app-premix-cost-review .mat-mdc-dialog-content {
  max-height: 80vh;

  .premixCalcForm {
    tbody::before {
      //content: '';
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: calc(100% - 20px);
      height: 30px;
      right: 0;
      position: absolute;
      z-index: 9999999;
      margin-left: auto;
      margin-top: 8em;
      top: 0;
      background: linear-gradient(to top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.7) 40%, #fff 70%);
    }

    tbody::after {
      //content: '';
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: calc(100% - 20px);
      height: 30px;
      right: 0;
      position: absolute;
      z-index: 9999999;
      margin-left: auto;
      top: 0;
      margin-top: calc(15em + 8em - 60px);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.7) 40%, #fff 70%);
    }

    table {
      width: 60em;
      table-layout: fixed;
      position: relative;
    }

    thead th {
      width: 10%;
    }

    tbody {
      display: block;
      width: 60em;
      height: 15em;
      overflow-y: scroll;

      td {
        width: 10%;
      }
    }

    tfoot tr {
      height: 36px !important;
    }

    tfoot tr:first-child td {
      border-top: 1px solid rgba(0, 0, 0, 0.12) !important;
    }

    tfoot td {
      border: none;
    }

    tfoot td:nth-child(8) {
      position: absolute;
      right: 11%;
      padding-top: 0.5em !important;
    }

    tfoot td:nth-child(5) {
      position: absolute;
      right: 45%;
      padding-top: 0.5em !important;
    }

    tfoot input {
      width: 5em;
      text-align: center;
      border-radius: 0.3em;
      border: black 0.5px solid;
    }

    tbody tr.premixRow:last-child {
      // background: #eee;
      position: relative;
      vertical-align: top;

      > td {
        padding-top: 1em !important;
        width: calc(60em / 9);
        mat-icon {
          vertical-align: bottom;
        }

        div.excipientDetails {
          font-style: italic;
          //position: absolute;
          margin-left: 3em;
          border-left: 1px solid $color_primary;
          background: rgba(155, 81, 224, 0.1);
          position: absolute;
          width: 30em;

          table {
            width: auto;
          }
        }
      }

      td.excipient:not(:has(div.hidden)) {
        height: 13em;
        text-align: left;

        input {
          padding: 5px;
          border-style: solid;
          border-radius: 5px;
          border: black 0.5px solid;
          width: 6em;
        }

        tr {
          text-align: left;
        }
      }
    }
  }
}

.hidden {
  display: none;
}
