@import 'src/assets/scss/_colour';

.header-container {
  display: flex;
  border: 1px solid $color_primary;
  border-radius: 5px;
  background-color: white;
  align-items: center;
  justify-content: center;

  & .wideItem {
    flex-grow: 1;
    display: flex;
    margin: 1em 0.5em;
  }
}
// ::ng-deep th.mat-header-cell.row-title,
// ::ng-deep td.mat-cell.row-title {
//   border-bottom-style: none !important;
//   width: 200px !important;
//   text-align: right !important;
//   margin: 10px;
// }

// ::ng-deep th.mat-header-cell.column-title,
// ::ng-deep td.mat-cell.column-title {
//   border-bottom-style: none !important;
//   width: 60px !important;
//   text-align: center !important;
// }
input {
  // display: block;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
  width: 90%;
  padding: 5px;
  height: 30px;
  border-radius: 5px;
  border: black 0.5px solid;
  text-align: center;
}
table {
  width: 100%;
}
.red-icon {
  color: red;
}

.copy-wrap {
  position: relative;
}

.copy-wrap:focus-within > button {
  visibility: visible;
}

.copy-button {
  visibility: hidden;
  position: absolute;
  width: 13px;
  height: 100%;
  top: 0;
  left: calc(100% - 16px);
  border-radius: 0 5px 5px 0;
  padding: 0;
  background: rgb(112, 58, 163);
  color: #fff;
  border: none;
  padding-top: 0.6em;

  mat-icon {
    font-size: 1em;
    width: 10px;
  }
}
