.add-mn-button {
  margin-top: 1em;
}
::ng-deep mat-accordion {
  .mat-expansion-panel:not([class*='mat-elevation-z']) {
    background: none;
    width: 95%;
    box-shadow: none;
    margin-top: 1em;
  }
}
