<app-base-dialog [data]="dialogData"
  title="Average nutrient level* (mg/kg) among fortified food vehicle at point of fortification">
  <div class="container">
    <h2>What is the average nutrient level?</h2>
    <p>If no additional information is available on average nutrient level at point of fortification, average level
      among percentage of fortifiable food vehicle that is fortified is assumed to be standard/target level. To
      instead adjust baseline compliance/fortification in practice based on average nutrient level among all
      fortifiable food vehicle, adjust the percent of fortifiable/industrially process food vehicle that is fortified
      with this micronutrient to 100% and change the average nutrient level (in mg/kg) among fortified food vehicle to
      the appropriate value.</p>
  </div>
</app-base-dialog>