<app-base-dialog [data]="dialogData"
  title="Average fortification level (mg/kg) among fortifiable food vehicle at point of fortification">
  <div class="container">
    <!-- <h2>What is the average nutrient level?</h2> -->
    <p>This value represents the average fortification level among all fortifiable food vehicle in the food system at
      point of fortification (i.e., before adjusting for post-fortification micronutrient losses). It is calculated as
      the target/standard fortification level multiplied by the percent of fortifiable food vehicle that is fortified to
      any extent and by the average fortification level among fortified food vehicle as a percent of the standard. This
      value will change as you adjust the “Baseline performance” values above.</p>
  </div>
</app-base-dialog>