<table mat-table *ngIf="null != recurringCost" [dataSource]="dataSource" matSort class="table-full-width recurring">
  <ng-container matColumnDef="section">
    <th class="thead-head row-title-left" mat-header-cell *matHeaderCellDef>
      <span *ngIf="years.length > 1">Intervention Year</span>
      <span *ngIf="years.length == 1">Section</span>
    </th>
    <td class="thead-row row-title-left" mat-cell *matCellDef="let element">
      <button class="table-edit-button" mat-button color="primary"
        (click)="openSectionRecurringCostReviewDialog(element)">
        <mat-icon>edit</mat-icon>{{element.section}}
      </button>
    </td>
    <td class="row-title-left" mat-footer-cell *matFooterCellDef> Total </td>
  </ng-container>

  <ng-container *ngFor="let year of years; last as omitCopyButton" [matColumnDef]="'year' + year + 'Total'">
    <th class="thead-data" mat-header-cell *matHeaderCellDef>
      <span *ngIf="years.length > 1">{{ baseYear + year}}</span>
      <span *ngIf="years.length == 1">Annualised Cost</span>
    </th>
    <td mat-cell *matCellDef="let element">{{element['year' + year + 'Total'] | currencyExtended}}</td>
    <td mat-footer-cell *matFooterCellDef> {{getTotalCost('year' + year + 'Total') | currencyExtended}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayHeaders;"></tr>
  <tr mat-row *matRowDef="let row; columns: displayHeaders"></tr>
  <tr class="mat-row" *matNoDataRow></tr>
  <tr mat-footer-row *matFooterRowDef="displayHeaders"></tr>
</table>

<table mat-table *ngIf="null != startUpScaleUpCost" [dataSource]="dataSource" matSort class="table-full-width susu">
  <ng-container matColumnDef="section">
    <th class="thead-head row-title-left" mat-header-cell *matHeaderCellDef>Years of start-up or scale-up</th>
    <td class="thead-row row-title-left" mat-cell *matCellDef="let element">
      <button class="table-edit-button" mat-button color="primary"
        (click)="openSectionStartUpCostReviewDialog(element)">
        <mat-icon>edit</mat-icon>
        {{element.section}}
      </button>
    </td>
    <td class="row-title-left" mat-footer-cell *matFooterCellDef> Total </td>
  </ng-container>
  <ng-container matColumnDef="year0Total">
    <th class="thead-data" mat-header-cell *matHeaderCellDef>2021</th>
    <td mat-cell *matCellDef="let element">{{element.year0Total | currencyExtended}}</td>
    <td mat-footer-cell *matFooterCellDef> {{getTotalCost('year0Total') | currencyExtended}} </td>
  </ng-container>
  <ng-container matColumnDef="year1Total">
    <th class="thead-data" mat-header-cell *matHeaderCellDef>2022</th>
    <td mat-cell *matCellDef="let element">{{element.year1Total | currencyExtended}}</td>
    <td mat-footer-cell *matFooterCellDef> {{getTotalCost('year1Total') | currencyExtended}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="headers;"></tr>
  <tr mat-row *matRowDef="let row; columns: headers"></tr>
  <tr class="mat-row" *matNoDataRow>
  </tr>
  <tr mat-footer-row *matFooterRowDef="headers"></tr>
</table>