// @use '../../../interventionReview.component.scss';

table {
  width: 95%;
  margin-left: 2em;
  background: none;
  td.mat-mdc-cell {
    border-bottom-color: rgba(0, 0, 0, 0);
  }
  tr.mat-mdc-footer-row {
    font-weight: bold;
  }
}

.thead-data {
  min-width: 6em;
}

.thead-head {
  max-width: 10em;
  width: 10em;
}

.thead-row {
  height: 4.5em;
  button {
    white-space: normal;

    &::ng-deep .mdc-button__label {
      width: 100%;
    }

    mat-icon {
      width: 2rem;
    }
  }
}

.susu .thead-head {
  max-width: 15em;
  width: 15em;
}
