<div class="bmgf-maps-nice-scrollbar container">
  <div class="content">
    <app-intervention-description></app-intervention-description>
    <div class="title">
      <span>Review of program assumptions</span>
    </div>
    <app-intervention-step-details [resetDefaultValues]="true" [showFocusMn]="true" [showUserValues]="true"
      [showAddMicronutrient]="false" [showMnUnits]="true"></app-intervention-step-details>
    <form [formGroup]="form" *ngIf="form">

      <table mat-table [dataSource]="dataSource" formArrayName="items" class="table-full-width">
        <ng-container matColumnDef="title">
          <th class="row-title-left" mat-header-cell *matHeaderCellDef>Intervention
            year
          </th>
          <td class="row-title-left" mat-cell *matCellDef="let element">{{element.title}}</td>
        </ng-container>
        <!-- <ng-container matColumnDef="year0">
          <th mat-header-cell *matHeaderCellDef> 2021 </th>
          <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
            <div *ngIf="element.rowUnits === 'number'">
              <input type="text" appDecimalInput required [value]=element.year0 formControlName="year0">
            </div>
            <div *ngIf="element.rowUnits === 'percent'">
              <input type="text" appDecimalInput [value]="element.year0 * 100"
                (input)="element.year0 = $any($event.target).value / 100" formControlName="year0">
            </div>
          </td>
        </ng-container> -->
        <ng-container matColumnDef="year0">
          <th mat-header-cell *matHeaderCellDef>2021</th>
          <td mat-cell *matCellDef="let element">{{element.year0 | percent}}</td>
        </ng-container>
        <ng-container matColumnDef="year1">
          <th mat-header-cell *matHeaderCellDef> 2022 </th>
          <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
            <div *ngIf="element.rowUnits === 'number'">
              <input type="text" appDecimalInput required [value]=element.year1 formControlName="year1">
            </div>
            <div *ngIf="element.rowUnits === 'percent'">
              <input type="text" appDecimalInput [value]="element.year1 * 100"
                (input)="element.year1 = $any($event.target).value / 100" formControlName="year1">
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="year2">
          <th mat-header-cell *matHeaderCellDef> 2023 </th>
          <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
            <div *ngIf="element.rowUnits === 'number'">
              <input type="text" appDecimalInput required [value]=element.year2 formControlName="year2">
            </div>
            <div *ngIf="element.rowUnits === 'percent'">
              <input type="text" appDecimalInput [value]="element.year2 * 100"
                (input)="element.year2 = $any($event.target).value / 100" formControlName="year2">
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="year3">
          <th mat-header-cell *matHeaderCellDef> 2024 </th>
          <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
            <div *ngIf="element.rowUnits === 'number'">
              <input type="text" appDecimalInput required [value]=element.year3 formControlName="year3">
            </div>
            <div *ngIf="element.rowUnits === 'percent'">
              <input type="text" appDecimalInput [value]="element.year3 * 100"
                (input)="element.year3 = $any($event.target).value / 100" formControlName="year3">
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="year4">
          <th mat-header-cell *matHeaderCellDef> 2025 </th>
          <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
            <div *ngIf="element.rowUnits === 'number'">
              <input type="text" appDecimalInput required [value]=element.year4 formControlName="year4">
            </div>
            <div *ngIf="element.rowUnits === 'percent'">
              <input type="text" appDecimalInput [value]="element.year4 * 100"
                (input)="element.year4 = $any($event.target).value / 100" formControlName="year4">
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="year5">
          <th mat-header-cell *matHeaderCellDef> 2026 </th>
          <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
            <div *ngIf="element.rowUnits === 'number'">
              <input type="text" appDecimalInput required [value]=element.year5 formControlName="year5">
            </div>
            <div *ngIf="element.rowUnits === 'percent'">
              <input type="text" appDecimalInput [value]="element.year5 * 100"
                (input)="element.year5 = $any($event.target).value / 100" formControlName="year5">
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="year6">
          <th mat-header-cell *matHeaderCellDef> 2027</th>
          <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
            <div *ngIf="element.rowUnits === 'number'">
              <input type="text" appDecimalInput required [value]=element.year6 formControlName="year6">
            </div>
            <div *ngIf="element.rowUnits === 'percent'">
              <input type="text" appDecimalInput [value]="element.year6 * 100"
                (input)="element.year6 = $any($event.target).value / 100" formControlName="year6">
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="year7">
          <th mat-header-cell *matHeaderCellDef> 2028 </th>
          <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
            <div *ngIf="element.rowUnits === 'number'">
              <input type="text" appDecimalInput required [value]=element.year7 formControlName="year7">
            </div>
            <div *ngIf="element.rowUnits === 'percent'">
              <input type="text" appDecimalInput [value]="element.year7 * 100"
                (input)="element.year7 = $any($event.target).value / 100" formControlName="year7">
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="year8">
          <th mat-header-cell *matHeaderCellDef> 2029 </th>
          <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
            <div *ngIf="element.rowUnits === 'number'">
              <input type="text" appDecimalInput required [value]=element.year8 formControlName="year8">
            </div>
            <div *ngIf="element.rowUnits === 'percent'">
              <input type="text" appDecimalInput [value]="element.year8 * 100"
                (input)="element.year8 = $any($event.target).value / 100" formControlName="year8">
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="year9">
          <th mat-header-cell *matHeaderCellDef> 2030 </th>
          <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
            <div *ngIf="element.rowUnits === 'number'">
              <input type="text" appDecimalInput required [value]=element.year9 formControlName="year9">
            </div>
            <div *ngIf="element.rowUnits === 'percent'">
              <input type="text" appDecimalInput [value]="element.year9 * 100"
                (input)="element.year9 = $any($event.target).value / 100" formControlName="year9">
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="assumptionsDisplayedColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: assumptionsDisplayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
        </tr>
      </table>
    </form>
    <div class="title">
      <span>Average nutrient level (mg/kg) among all food vehicle at point of fortification</span>
    </div>
    <div class="lower-table-wrapper">
      <div class="focus-mn">
        <span class="sub-header">Focus micronutrient</span>
        <span class="mn-title">{{ (quickMapsService.micronutrient.obs | async)?.name }}</span>
      </div>
      <table mat-table [dataSource]="newDataSource" matSort class="table-full-width">
        <ng-container matColumnDef="standard">
          <th mat-header-cell *matHeaderCellDef>Standard</th>
          <td mat-cell *matCellDef="let element">{{element.standard}}</td>
        </ng-container>
        <ng-container matColumnDef="year0">
          <th mat-header-cell *matHeaderCellDef>2021</th>
          <td mat-cell *matCellDef="let element">{{element.year0}}</td>
        </ng-container>
        <ng-container matColumnDef="year1">
          <th mat-header-cell *matHeaderCellDef>2022</th>
          <td mat-cell *matCellDef="let element">
            {{element.year1 | number:'1.1-2'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="year2">
          <th mat-header-cell *matHeaderCellDef>2023</th>
          <td mat-cell *matCellDef="let element">
            {{element.year2 | number:'1.1-2'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="year3">
          <th mat-header-cell *matHeaderCellDef>2024</th>
          <td mat-cell *matCellDef="let element">
            {{element.year3 | number:'1.1-2'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="year4">
          <th mat-header-cell *matHeaderCellDef>2025</th>
          <td mat-cell *matCellDef="let element">
            {{element.year4 | number:'1.1-2'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="year5">
          <th mat-header-cell *matHeaderCellDef>2026</th>
          <td mat-cell *matCellDef="let element">
            {{element.year5 | number:'1.1-2'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="year6">
          <th mat-header-cell *matHeaderCellDef>2027</th>
          <td mat-cell *matCellDef="let element">
            {{element.year6 | number:'1.1-2'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="year7">
          <th mat-header-cell *matHeaderCellDef>2028</th>
          <td mat-cell *matCellDef="let element">
            {{element.year7 | number:'1.1-2'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="year8">
          <th mat-header-cell *matHeaderCellDef>2029</th>
          <td mat-cell *matCellDef="let element">
            {{element.year8 | number:'1.1-2'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="year9">
          <th mat-header-cell *matHeaderCellDef>2030</th>
          <td mat-cell *matCellDef="let element">
            {{element.year9 | number:'1.1-2'}}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="averageNutrientDisplayedColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: averageNutrientDisplayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
        </tr>
      </table>
    </div>
    <app-micro-nutrients-in-premix-table [editable]="false"></app-micro-nutrients-in-premix-table>

  </div>
  <footer>
    <a class="intervention-navigation" mat-stroked-button [routerLink]="ROUTES.INTERVENTION_REVIEW_BASELINE | route"
      queryParamsHandling="preserve">Back</a>
    <a class="intervention-navigation" mat-stroked-button [routerLink]="ROUTES.QUICK_MAPS_COST_EFFECTIVENESS | route"
      queryParamsHandling="preserve">Save and close</a>
    <a class="intervention-navigation-confirm" mat-stroked-button
      [routerLink]="ROUTES.INTERVENTION_REVIEW_ASSUMPTIONS_REVIEW | route" queryParamsHandling="preserve"
      (click)="confirmAndContinue()">Confirm and
      continue</a>
  </footer>
</div>