@use '../interventionReviewPages.scss';
@import 'src/assets/scss/_colour.scss';

.lower-table-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  .focus-mn {
    display: flex;
    flex-direction: column;
    margin-right: 1em;
    justify-content: flex-end;
    .mn-title {
      color: $color_primary;
      font-weight: bold;
      display: flex;
      justify-content: end;
      margin-top: 2em;
    }
  }
}
