<div class="container">
  <div class="content">
    <app-intervention-description></app-intervention-description>
    <div class="title">
      <span>Review of program assumptions</span>
    </div>
    <table mat-table [dataSource]="dataSource" matSort class="table-full-width">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Intervention year</th>
        <td mat-cell *matCellDef="let element">{{element.title}}</td>
      </ng-container>
      <!-- <ng-container matColumnDef="standard">
        <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Standard</th>
        <td mat-cell *matCellDef="let element"></td>
      </ng-container> -->
      <ng-container matColumnDef="year0">
        <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">2021</th>
        <td mat-cell *matCellDef="let element">{{element.year0 | percent}}</td>
      </ng-container>
      <ng-container matColumnDef="year1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">2022</th>
        <td mat-cell *matCellDef="let element">
          <input appDecimalInput type="text" [ngModel]="formatNumberForDisplay(element.year0)">
        </td>
      </ng-container>
      <ng-container matColumnDef="year2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">2023</th>
        <td mat-cell *matCellDef="let element">
          <input matInput appDecimalInput type="text" [ngModel]="formatNumberForDisplay(element.year2)">
        </td>
      </ng-container>
      <ng-container matColumnDef="year3">
        <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">2024</th>
        <td mat-cell *matCellDef="let element">
          <input appDecimalInput type="text" [ngModel]="formatNumberForDisplay(element.year3)">
        </td>
      </ng-container>
      <ng-container matColumnDef="year4">
        <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">2025</th>
        <td mat-cell *matCellDef="let element">
          <input appDecimalInput type="text" [ngModel]="formatNumberForDisplay(element.year4)">
        </td>
      </ng-container>
      <ng-container matColumnDef="year5">
        <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">2026</th>
        <td mat-cell *matCellDef="let element">
          <input appDecimalInput type="text" [ngModel]="formatNumberForDisplay(element.year5)">
        </td>
      </ng-container>
      <ng-container matColumnDef="year6">
        <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">2027</th>
        <td mat-cell *matCellDef="let element">
          <input appDecimalInput type="text" [ngModel]="formatNumberForDisplay(element.year6)">
        </td>
      </ng-container>
      <ng-container matColumnDef="year7">
        <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">2028</th>
        <td mat-cell *matCellDef="let element">
          <input appDecimalInput type="text" [ngModel]="formatNumberForDisplay(element.year7)">
        </td>
      </ng-container>
      <ng-container matColumnDef="year8">
        <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">2029</th>
        <td mat-cell *matCellDef="let element">
          <input appDecimalInput type="text" [ngModel]="formatNumberForDisplay(element.year8)">
        </td>
      </ng-container>
      <ng-container matColumnDef="year9">
        <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">2030</th>
        <td mat-cell *matCellDef="let element">
          <input appDecimalInput type="text" [ngModel]="formatNumberForDisplay(element.year9)">
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="assumptionsDisplayedColumns;"></tr>
      <tr mat-row *matRowDef="let row; columns: assumptionsDisplayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
      </tr>
    </table>
    <div class="title">
      <span>Average nutrient level (mg/kg) among all food vehicle at point of fortification</span>
    </div>
    <div class="lower-table-wrapper">
      <div class="focus-mn">
        <span class="sub-header">Focus micronutrient</span>
        <span class="mn-title">{{ (quickMapsService.micronutrient.obs | async)?.name }}</span>
      </div>
      <table mat-table [dataSource]="newDataSource" matSort class="table-full-width">
        <ng-container matColumnDef="standard">
          <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Standard</th>
          <td mat-cell *matCellDef="let element">{{element.standard}}</td>
        </ng-container>
        <ng-container matColumnDef="year0">
          <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">2021</th>
          <td mat-cell *matCellDef="let element">{{element.year0}}</td>
        </ng-container>
        <ng-container matColumnDef="year1">
          <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">2022</th>
          <td mat-cell *matCellDef="let element">
            {{element.year1 | number:'1.1-2'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="year2">
          <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">2023</th>
          <td mat-cell *matCellDef="let element">
            {{element.year2 | number:'1.1-2'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="year3">
          <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">2024</th>
          <td mat-cell *matCellDef="let element">
            {{element.year3 | number:'1.1-2'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="year4">
          <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">2025</th>
          <td mat-cell *matCellDef="let element">
            {{element.year4 | number:'1.1-2'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="year5">
          <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">2026</th>
          <td mat-cell *matCellDef="let element">
            {{element.year5 | number:'1.1-2'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="year6">
          <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">2027</th>
          <td mat-cell *matCellDef="let element">
            {{element.year6 | number:'1.1-2'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="year7">
          <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">2028</th>
          <td mat-cell *matCellDef="let element">
            {{element.year7 | number:'1.1-2'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="year8">
          <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">2029</th>
          <td mat-cell *matCellDef="let element">
            {{element.year8 | number:'1.1-2'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="year9">
          <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">2030</th>
          <td mat-cell *matCellDef="let element">
            {{element.year9 | number:'1.1-2'}}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="averageNutrientDisplayedColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: averageNutrientDisplayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
        </tr>
      </table>
    </div>
    <app-micro-nutrients-in-premix-table></app-micro-nutrients-in-premix-table>
    <app-intervention-step-details [resetDefaultValues]="true" [showFocusMn]="true" [showUserValues]="true"
      [showMnUnits]="true"></app-intervention-step-details>
  </div>
  <footer>
    <a class="intervention-navigation" mat-stroked-button [routerLink]="ROUTES.INTERVENTION_REVIEW_BASELINE | route"
      queryParamsHandling="preserve">Back</a>
    <a class="intervention-navigation" mat-stroked-button [routerLink]="ROUTES.QUICK_MAPS_COST_EFFECTIVENESS | route"
      queryParamsHandling="preserve">Save and close</a>
    <a class="intervention-navigation-confirm" mat-stroked-button
      [routerLink]="ROUTES.INTERVENTION_REVIEW_ASSUMPTIONS_REVIEW | route" queryParamsHandling="preserve">Confirm and
      continue</a>
  </footer>
</div>