<ng-template #componentTemplate>
  <mat-tab-group mat-align-tabs="center" (selectedTabChange)="tabChanged($event)" [(selectedIndex)]="selectedTab">
    <mat-tab label="Absolute Values">
      <a class="leaflet-screenshot" (click)="exportMapAsImage('absolute')"><i class="fas fa-camera"></i></a>
      <div #map1 id="absolute-map"></div>
    </mat-tab>

    <mat-tab label="Variation from Threshold">
      <a class="leaflet-screenshot" (click)="exportMapAsImage('threshold')"><i class="fas fa-camera"></i></a>
      <div #map2 id="threshold-map"></div>
    </mat-tab>


    <!-- <mat-tab label="Download">
      <app-download></app-download>
    </mat-tab> -->

    <mat-tab label="About {{title}}">
      <div class="about-container">
        <h2>About {{title}}</h2>
        <div *ngIf="dataLevelEnum.HOUSEHOLD === (quickMapsService.dietDataSource.obs | async)?.dataLevel">
          <p>The map provides a spatial overview for the selected micronutrient and geography of interest. The map is
            zoomable and using ‘hover’ will enable viewing of data for individual areas.</p>

          <p>The view defaults to the calculated median value for each administrative area presented, use ‘Adult Female
            Equivalent’ units. The colour ramp is presented by quartiles of the data range: this colour ramp can be
            altered to user preference by using the ‘cog’ icon on the top left of this card.</p>

          <p>The alternative mapped presentation is of the expected proportion of the households which are predicted to
            be deficient, based the apparent intake and the requirements of the specific demographic data for each
            household.</p>
        </div>
        <div *ngIf="dataLevelEnum.COUNTRY === (quickMapsService.dietDataSource.obs | async)?.dataLevel">
          <p>The map shows the national summary for the selected micronutrient and geography of interest, because it is
            based on a combination of national FAO Food Balance Sheet (FBS) data, and locally relevant Food Composition
            Table data. The map is zoomable and using ‘hover’ will enable viewing of the numerical data.</p>

          <p>The data is presented as per capita supply of the micronutrient, with the colour selected based upon
            quartiles of all the national-scale (FBS) data loaded in the tool. The colour can be altered to user
            preference by using the ‘cog’ icon on the top left of this card.</p>

          <p>The alternative mapped presentation is of the expected proportion of the population which are predicted to
            be deficient, based upon national demographic data, used to calculate the population requirements.</p>
        </div>
      </div>

    </mat-tab>
  </mat-tab-group>
</ng-template>

<ng-container *ngIf="null != dialogData; else componentTemplate">
  <app-base-dialog [data]="dialogData" [title]="title">
    <ng-container *ngTemplateOutlet="componentTemplate"></ng-container>
  </app-base-dialog>
</ng-container>