// @import 'src/assets/scss/_colour.scss';
.leaflet-screenshot {
  font-size: 18px;
  position: absolute;
  z-index: 401;
  height: 34px !important;
  width: 34px;
  background-color: #fff;
  top: 130px;
  left: 10px;
  border-radius: 4px;
  border: 2px solid #ccc;
  cursor: pointer;
  &:hover {
    background-color: #eee;
  }
}
