<ng-template #componentTemplate>
  <!-- <mat-button-toggle-group>
    <button (click)="changeColourRamp('colourblind')" mat-fab color="secondary">Colourblind</button>
    <button (click)="changeColourRamp('purpleBlueGreen')" mat-fab color="primary">PurpleBlueGreen</button>
  </mat-button-toggle-group> -->

  <mat-tab-group mat-align-tabs="center" (selectedTabChange)="tabChanged($event)">
    <mat-tab label="Absolute Values">
      <div #map1></div>
    </mat-tab>
    <mat-tab label="Variation from Threshold">
      <div #map2></div>
    </mat-tab>
  </mat-tab-group>
</ng-template>

<ng-container *ngIf="null != dialogData; else componentTemplate">
  <app-base-dialog [data]="dialogData" [title]="title">
    <ng-container *ngTemplateOutlet="componentTemplate"></ng-container>
  </app-base-dialog>
</ng-container>
