<div class="wave-header">
  <img src="/assets/images/purple-opacity-wave.svg">
</div>
<div class="mdc-layout-grid header">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--align-middle">
      <h1>MAPS Tool Interface</h1>
      <h2>MAPS will be a web-hosted tool, communicating estimates of dietary micronutrient (MN) supplies and
        deficiency risks at national and sub-national scales in Africa. </h2>
    </div>
    <div class="mdc-layout-grid__cell--span-6">
      <img class="homeCellImage" src="/assets/images/webp/study-min.webp">
    </div>
  </div>
</div>

<mat-divider></mat-divider>
