<footer>
  <hr>
  <div class="container">
    <div>
      <h3>MAPS</h3>
      <a [routerLink]="ROUTES.MAPS_TOOL | route">MAPS Tool</a>
      <a [routerLink]="ROUTES.EDUCATIONAL_RESOURCES | route">Educational Resources</a>
      <a [routerLink]="ROUTES.PROJECT_OBJECTIVES | route">Project Objectives</a>
    </div>
    <div>
      <h3>Help</h3>
      <a [routerLink]="ROUTES.HELP | route">Help & Documentation</a>
      <a>Downloads</a>
    </div>
    <div>
      <h3>About</h3>
      <a>Partners</a>
      <a>Social media</a>
    </div>
  </div>
</footer>