<div class="info-wrapper">
    <h2>Select an intervention</h2>
    <span>
        To explore the effectiveness of <strong>{{ (quickMapsService.micronutrient.obs | async)?.name }}</strong>
        interventions in <strong>{{ (quickMapsService.country.obs | async)?.name }}</strong>, by choosing either an
        existing (currently implemented
        at scale*) or hypothetical/alternative (not currently implemented at scale or implemented under alternative
        assumptions) intervention. Additional interventions can be added after the predicted effectiveness of the first
        intervention has been displayed and stored.
    </span>
    <button mat-raised-button color="primary">
        Add intervention
    </button>
</div>