<div class="bmgf-maps-nice-scrollbar container">
  <div class="content">
    <app-intervention-description></app-intervention-description>
    <app-reusable-skeleton-table *ngIf="!startupCosts"
      [setData]="{ columns: 3, rows: 5 }"></app-reusable-skeleton-table>
    <div *ngFor="let startupCost of startupCosts">
      <div class="title">
        <span>{{startupCost.category}}</span>
      </div>
      <div class="row-container">
        <div class="startUpTable">
          <app-reusable-cost-table *ngIf="null != startupCosts" [startUpScaleUpCost]="startupCost"
            [headers]="displayHeaders">
          </app-reusable-cost-table>
        </div>
        <div class="divider"></div>
        <div class="startUpGraph">
          <app-reusable-cost-graph *ngIf="null != startupCosts" [costData]="startupCost">
          </app-reusable-cost-graph>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <a class="intervention-navigation" mat-stroked-button
      [routerLink]="ROUTES.INTERVENTION_REVIEW_MONITORING_INFORMATION | route" queryParamsHandling="preserve">Back</a>
    <a class="intervention-navigation" mat-stroked-button [routerLink]="ROUTES.QUICK_MAPS_COST_EFFECTIVENESS | route"
      queryParamsHandling="preserve">Save and close</a>
    <a class="intervention-navigation-confirm" mat-flat-button color="primary"
      [routerLink]="ROUTES.INTERVENTION_REVIEW_RECURRING_COSTS | route" queryParamsHandling="preserve">Confirm and
      continue</a>
  </footer>
</div>