<div class="static-review-elements">
    <div class="button-wrapper">
        <button *ngIf="resetDefaultValues" class="item-reset" mat-flat-button (click)="resetValues()">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-rotate" width="24" height="24"
                viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff2825" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M19.95 11a8 8 0 1 0 -.5 4m.5 5v-5h-5" />
            </svg>
            Reset to default values
        </button>
    </div>
    <div class="item-group">
        <div *ngIf="showFocusMn" class="item-bottom-row">Focus MN<div class='box purple'></div>
        </div>
        <div *ngIf="showUserValues" class="item-bottom-row">User defined values<div class='box blue'></div>
        </div>
        <div *ngIf="showMnUnits" class="item-bottom-row">Units <strong>(mg/kg)</strong>
        </div>
    </div>
</div>
