form {
  display: flex;
  flex-direction: column;
  width: 100%;
  // mat-form-field {
  //   margin-bottom: 1em;
  // }
}

.success-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 9em;
  padding: 2em;
  .button-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
}
