<app-base-dialog *ngIf="!registrationSuccessful" [data]="data" [title]="title">
    <form [formGroup]="registerForm" (ngSubmit)="handleSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput type="text" id="username" formControlName="username">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hidePw ? 'password' : 'text'" id="password" formControlName="password">
            <button mat-icon-button matSuffix (click)="hidePw = !hidePw" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePw">
                <mat-icon>{{hidePw ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Repeat your password</mat-label>
            <input matInput [type]="hideRepeatPw ? 'password' : 'text'" id="password" formControlName="repeatPassword">
            <button mat-icon-button matSuffix (click)="hideRepeatPw = !hideRepeatPw" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideRepeatPw">
                <mat-icon>{{hideRepeatPw ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="registerForm.get('repeatPassword').hasError('match_error')">Passwords do not
                match</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email" id="email" formControlName="email">
            <mat-error *ngIf="registerForm.get('email').hasError('email')">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput type="text" id="name" formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Organisation</mat-label>
            <input matInput type="text" id="organisation" formControlName="organisation">
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid || awaitingResponse">
            Submit
        </button>
    </form>
</app-base-dialog>
<div class="success-message" *ngIf="registrationSuccessful">
    <h3>Thanks for registering <strong>{{registerForm.get('username').value}}</strong></h3>
    <p>You've successfully been logged in.</p>
    <button mat-raised-button mat-dialog-close="data" color="primary">Okay</button>
</div>