@import 'src/assets/scss/_layout.scss';

mat-toolbar {
  height: $header_height;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;

  .logo {
    height: 1.5em;
  }
}

a {
  text-decoration: none;
  font-weight: 500;
}

.space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0em 4em 0em 1em;

  & a {
    color: #fff;
  }

  & div:nth-child(2) {
    font-size: 14px;

    & a {
      margin-left: 2em;
    }
  }
}

.left-content {
  display: flex;
  #login {
    margin-right: 0.5em;
  }
  .user-details {
    display: flex;
    align-items: center;
    button {
      margin: 0 0.25em;
    }
    img {
      width: 2.8em;
    }
  }
}

@media only screen and (max-width: 840px) {
  .large {
    display: none;
  }

  .small {
    display: block;
  }

  .space-between {
    padding: 0em 1em;
  }
}

@media only screen and (min-width: 840px) {
  .small {
    display: none;
  }

  .large {
    display: block;
  }
}
