<header>
  <mat-toolbar color="primary" class="space-between">
    <div class="left-content">
      <a [routerLink]="ROUTES.HOME | route" class="header-logo">
        <img src="/assets/images/maps-logo-minimal-white.svg" alt="BMGF MAPS Logo" class="logo">
      </a>
      <app-user-menu [activeUser]="activeUser"></app-user-menu>
    </div>
    <div class="large">
      <a href="https://micronutrient.support/guides" target="_blank">Help and Guidance</a>
      <a mat-raised-button class="project-website-btn" href="https://micronutrient.support" target="_blank">MAPS Project
        Website</a>
    </div>
    <div class="small">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <i class="fas fa-bars"></i>
      </button>
      <mat-menu #menu="matMenu" class="mat-menu">
        <a href="https://micronutrient.support/guides" target="_blank">Help and Guidance</a>
        <a mat-raised-button class="project-website-btn" href="https://micronutrient.support" target="_blank">MAPS
          Project
          Website</a>
      </mat-menu>
    </div>
  </mat-toolbar>
</header>