<mat-toolbar color="primary" class="space-between">
  <a [routerLink]="ROUTES.HOME | route" class="header-logo">
    <img src="/assets/images/maps-logo-minimal-white.svg" alt="BMGF MAPS Logo" class="logo">
  </a>
  <div class="large">
    <a [routerLink]="ROUTES.MAPS_TOOL | route">MAPS Tools</a>
    <a [routerLink]="ROUTES.EDUCATIONAL_RESOURCES | route">Educational Resources</a>
    <a [routerLink]="ROUTES.HELP | route">Help</a>
    <a [routerLink]="ROUTES.PROJECT_OBJECTIVES | route">Project Objectives</a>
  </div>
  <div class="small">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <i class="fas fa-bars"></i>
    </button>
    <mat-menu #menu="matMenu" class="mat-menu">
      <button mat-menu-item [routerLink]="ROUTES.MAPS_TOOL | route">
        MAPS Tools
      </button>
      <button mat-menu-item [routerLink]="ROUTES.EDUCATIONAL_RESOURCES | route">
        Educational Resources
      </button>
      <button mat-menu-item [routerLink]="ROUTES.HELP | route">
        Help
      </button>
      <button mat-menu-item [routerLink]="ROUTES.PROJECT_OBJECTIVES | route">
        Project Objectives
      </button>
    </mat-menu>
  </div>
</mat-toolbar>