mat-toolbar {
    height: 2.5em;
}

a {
    text-decoration: none;
    margin: 0em 1em;
}

.space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0em 5em;

    div:nth-child(1) {
        font-size: 17px;
        a { color: #fff;}
    }

    div:nth-child(2) {
        font-size: 14px;
        a { color: #fff;}
    }

    .mat-menu-item {
        color: #000;
    }
}