@import 'src/assets/scss/_colour';

// .container {
//   display: flex;
//   margin-bottom: 10px;
//   border: 1px solid $color_primary;
//   border-radius: 5px;
//   flex-flow: row wrap;
//   background-color: white;
//   align-items: center;
//   justify-content: center;
// }

// @media (max-width: 920px) {
//   .container {
//     flex-direction: column;
//     text-align: center;
//   }
// }

@import 'src/assets/scss/_colour';

.container {
  display: flex;
  margin-bottom: 10px;
  border: 1px solid $color_primary;
  border-radius: 5px;
  flex-flow: row wrap;
  background-color: white;
  align-items: center;
  justify-content: center;

  & .wideItem {
    flex-grow: 1;
    display: flex;
    margin: 1em 0.5em;
  }

  & .right-text {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  & .form,
  & .left-text {
    flex-flow: row wrap;
  }

  & .form {
    align-items: center;
    justify-content: space-around;
  }

  & .left-text {
    align-items: flex-start;
    justify-content: space-around;
  }

  & .left-text > div {
    margin: 0em 0.5em;
  }
}

//set radio buttons to  primary colour and make label bold on selection
::ng-deep .mat-radio-checked .mat-radio-label-content {
  font-weight: bold;
  color: $color_primary;
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle,
.mat-radio-outer-circle {
  border-color: $color_primary !important;
}

::ng-deep.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: $color_primary !important;
}

.bold {
  font-weight: 700;
}

.form::ng-deep {
  .mat-form-field-wrapper {
    padding-bottom: 0em;
  }

  .width-quantity {
    width: 5em;
    margin-right: 0.5em;
  }

  .width-time {
    width: 8em;
    margin-left: 0.5em;
  }
}

.optionsHeader {
  font-weight: 700;
  font-size: 16px;
  display: block;
}

.optionsValue {
  font-weight: 700;
  font-size: 16px;
  display: block;

  &.blue {
    color: blue;
  }

  &.green {
    color: green;
  }

  &.red {
    color: red;
  }
}

.margin-left {
  margin-left: 0.5em;
}

.explore-projection-text {
  text-decoration: none;
  color: $color_primary;
  font-weight: 500;
}

.explore-projection-text:hover {
  font-weight: 700;
}

@media (max-width: 920px) {
  .container {
    flex-direction: column;
    text-align: center;
  }
}

mat-divider {
  padding-left: 20px;
  padding-right: 20px;

  height: 60px;
}
mat-icon {
  color: blue;
}
