<div class="container">
  <mat-spinner *ngIf="loading" color="accent"></mat-spinner>
  <ng-container *ngIf="!loading">
    <mat-radio-group [(ngModel)]="locallySelectedMode" (change)="changeMode($event)">
      <mat-radio-button [value]="MODE_ENUM.COMPOSITION" title="Composition change">
        Composition change
      </mat-radio-button>
      <br>
      <mat-radio-button [value]="MODE_ENUM.CONSUMPTION" title="Consumption change">
        Consumption change
      </mat-radio-button>
      <br>
      <mat-radio-button [value]="MODE_ENUM.FOOD_ITEM" title="Food Item comparison">
        Food Item comparison
      </mat-radio-button>
    </mat-radio-group>

    <mat-divider class="div-horizontal"></mat-divider>
    <mat-divider class="div-vertical" [vertical]="true"></mat-divider>

    <div class="options-grid mode-{{modeText | lowercase}}">
      <!-- start titles -->
      <span class="options-header">Food Item Group:</span>
      <span class="options-header">Food Item:</span>
      <ng-container *ngIf="(dietaryChangeService.modeObs | async) !== MODE_ENUM.FOOD_ITEM; else elseBlock">
        <span class="options-header centre">Current {{modeText | lowercase}}<br>
          <span class="options-header-units">({{units}})</span>
        </span>
        <span class="options-header centre">Scenario {{modeText | lowercase}}<br>
          <span class="options-header-units">({{units}})</span>
        </span>
      </ng-container>
      <ng-template #elseBlock>
        <span></span>
        <span class="options-header">Food Item Group:</span>
        <span class="options-header">Food Item:</span>
      </ng-template>
      <!-- end titles -->

      <!-- start fixed selection food items -->
      <!-- <div class="item-row" *ngFor="let changeItem of dietaryChangeService.changeItemsObs | async">
      </div> -->
      <!-- end fixed selection food items -->

      <!-- start changeable selection food items -->
      <mat-form-field appearance="outline">
        <mat-select #groupSelect [value]="changeableChangeItem.foodItem?.group" placeholder="Food Item Group">
          <mat-option *ngFor="let foodGroup of foodGroupsDict?.itemsObs | async" [value]="foodGroup">
            {{foodGroup.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-select placeholder="Food Item" [value]="changeableChangeItem.foodItem"
          (selectionChange)="foodItemSelectChange($event)">
          <mat-option *ngFor="let foodItem of groupSelect.value?.foodItems.itemsObs | async" [value]="foodItem">
            {{foodItem.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span class="composition-value">{{changeableChangeItem.currentValue}}</span>
      <div>
        <button type="button" class="btn btn-danger"
          (click)="changeScenarioValue(changeableChangeItem, changeableChangeItem.scenarioValue * 0.95)">-5%</button>
        <mat-form-field class="mat-form-field-scenario">
          <input type="number" matInput [value]="changeableChangeItem.scenarioValue | number:'1.1-3'">
        </mat-form-field>
        <button type="button" class="btn btn-success"
          (click)="changeScenarioValue(changeableChangeItem, changeableChangeItem.scenarioValue * 1.05)">+5%</button>
      </div>
      <!-- end changeable selection food items -->
      <span>
        <a href="#">
          <mat-icon aria-hidden="false">add_circle_outline</mat-icon>
        </a>
        Add food Item
      </span>
    </div>
  </ng-container>
</div>