@import 'src/assets/scss/_colour';

.container {
  margin-bottom: 10px;
  border: 1px solid $color_primary;
  border-radius: 5px;
  align-items: center;
  background-color: rgb(252, 250, 250);
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  gap: 5px;

  & .right-text {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  & .form,
  & .left-text {
    flex-flow: row wrap;
  }

  & .form {
    align-items: center;
    justify-content: space-around;
  }

  & .left-text {
    align-items: flex-start;
    justify-content: space-around;
  }

  & .left-text > div {
    margin: 0em 0.5em;
  }
}

//set radio buttons to  primary colour and make label bold on selection
:host ::ng-deep .mat-radio-checked .mat-radio-label-content {
  font-weight: bold;
  color: $color_primary;
}

:host ::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle,
.mat-radio-outer-circle {
  border-color: $color_primary;
}

:host ::ng-deep.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: $color_primary;
}

.options-header {
  font-weight: 700;
  font-size: 16px;
  &-units {
    font-weight: initial;
  }
  &.centre {
    text-align: center;
  }
}
.options-unit {
  font-weight: 300;
  font-size: 12px;
}
.current-value {
  font-weight: 700;
  color: $color_primary;
  text-align: center;
}

@media (max-width: 920px) {
  .container {
    flex-direction: column;
    text-align: center;
    margin: 20px;
  }
  .div-vertical {
    display: none;
  }
}
@media (min-width: 920px) {
  .div-horizontal {
    display: none;
  }
}
.div-vertical {
  margin: 10px;
  height: 100px;
}
.div-horizontal {
  margin: 10px;
  width: 90%;

  align-items: center;
  flex-direction: center;
}
mat-icon {
  color: blue;
}
mat-radio-group {
  margin: 10px;
  text-align: initial;
}
.mat-form-field-scenario {
  text-align: center;
  width: 5rem;
}
.btn-danger {
  background-color: #d9534f;
  color: white;
  outline: none;
}
.btn-success {
  background-color: #5cb85c;
  color: white;
  outline: none;
}

.options-grid {
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: center;
  gap: 1rem;
  &.mode-food_item {
    grid-template-columns: repeat(6, auto);
  }
}

button.hidden {
  visibility: hidden;
}
