<div class="container">
  <mat-spinner aria-label="spinner" *ngIf="loading" color="accent"></mat-spinner>
  <ng-container *ngIf="!loading">
    <mat-radio-group [(ngModel)]="locallySelectedMode" (change)="changeMode($event)">
      <mat-radio-button [value]="MODE_ENUM.COMPOSITION" title="Composition change">
        Composition change
      </mat-radio-button>
      <br>
      <mat-radio-button [value]="MODE_ENUM.CONSUMPTION" title="Consumption change">
        Consumption change
      </mat-radio-button>
      <br>
      <mat-radio-button [value]="MODE_ENUM.FOOD_ITEM" title="Food Item comparison">
        Food Item comparison
      </mat-radio-button>
    </mat-radio-group>

    <mat-divider class="div-horizontal"></mat-divider>
    <mat-divider class="div-vertical" [vertical]="true"></mat-divider>

    <div class="flex-col">
      <div class="options-grid mode-{{modeText | lowercase}}">
        <!-- start titles -->
        <span></span>
        <span class="options-header">Food Item Group:</span>
        <span class="options-header">Food Item:</span>
        <ng-container *ngIf="(dietaryChangeService.mode.obs | async) !== MODE_ENUM.FOOD_ITEM; else elseBlock">
          <span class="options-header centre">Current {{modeText | lowercase}}<br>
            <span class="options-header-units">({{units}})</span>
          </span>
          <span class="options-header centre">Scenario {{modeText | lowercase}}<br>
            <span class="options-header-units">({{units}})</span>
          </span>
        </ng-container>
        <ng-template #elseBlock>
          <span></span>
          <span class="options-header">Food Item Group:</span>
          <span class="options-header">Food Item:</span>
        </ng-template>
        <!-- end titles -->

        <!-- start change items -->
        <ng-container *ngFor="
      let changeItem of dietaryChangeService.changeItems.obs | async;
      last as isLast;
      count as count" class="item-row">
          <span>
            <button mat-button [class.hidden]="count == 1">
              <mat-icon color="warn" aria-hidden="false" (click)="deleteChangeItem(changeItem)">
                remove_circle_outline
              </mat-icon>
            </button>
          </span>
          <ng-container *ngIf="!isLast; else lastItemBlock">
            <span>{{changeItem.foodItem?.group.name}}</span>
            <span>
              {{changeItem.foodItem?.name}}
              <ng-container *ngIf="((dietaryChangeService.mode.obs | async) === MODE_ENUM.FOOD_ITEM)">
                ({{(changeItem | cast: FoodItemChangeItem).currentComposition?.valueAndUnits || 'No Data'}})
              </ng-container>
            </span>
          </ng-container>
          <ng-template #lastItemBlock>
            <mat-form-field appearance="outline">
              <mat-select #groupSelect placeholder="Food Item Group" [value]="changeItem.foodGroup"
                (selectionChange)="foodGroupSelectChange($event, changeItem)">
                <mat-option *ngFor="let foodGroup of filteredFoodGroups" [value]="foodGroup">
                  {{foodGroup.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="flex-col">
              <mat-form-field appearance="outline">
                <mat-select placeholder="Food Item" [value]="changeItem.foodItem"
                  (selectionChange)="foodItemSelectChange($event, changeItem)">
                  <mat-option *ngFor="let foodItem of filteredFoodItems" [value]="foodItem">
                    {{foodItem.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <ng-container
                *ngIf="(((dietaryChangeService.mode.obs | async) === MODE_ENUM.FOOD_ITEM) && (null !== changeItem.foodItem))">
                <span *ngIf="!changeItem.updatingCurrent; else loadingBlock">
                  {{(changeItem | cast:FoodItemChangeItem).currentComposition?.valueAndUnits || 'No Data'}}
                </span>
              </ng-container>
            </div>
          </ng-template>

          <ng-container
            *ngIf="(dietaryChangeService.mode.obs | async) !== MODE_ENUM.FOOD_ITEM; else foodChangeElseBlock">
            <span *ngIf="!changeItem.updatingCurrent; else loadingBlock" class="current-value">
              <span *ngIf="!changeItem.noData">
                {{(null == (changeItem | cast: NumberChangeItem).currentValue) ? '---' : (changeItem | cast:
                NumberChangeItem).currentValue}}
              </span>
              <span *ngIf="changeItem.noData">No Data</span>
            </span>
            <div class="flex-row">
              <button mat-stroked-button type="button" class="btn btn-danger"
                [disabled]="null == (changeItem | cast: NumberChangeItem).currentValue"
                (click)="changeScenarioValue(changeItem, changeItem.scenarioValue * 0.95)">-5%</button>
              <div class="mat-form-field-scenario">
                <mat-form-field *ngIf="!changeItem.updatingCurrent; else loadingBlock">
                  <input autocomplete="off" type="number" min="0" matInput [value]="changeItem.scenarioValue"
                    [disabled]="null == (changeItem | cast: NumberChangeItem).currentValue"
                    (change)="changeScenarioValue(changeItem, $event.target['value'])" aria-label="Scenario value">
                </mat-form-field>

              </div>
              <button mat-stroked-button type=" button" class="btn btn-success"
                (click)="changeScenarioValue(changeItem, changeItem.scenarioValue * 1.05)"
                [disabled]="null == (changeItem | cast: NumberChangeItem).currentValue">+5%</button>
            </div>
          </ng-container>
          <ng-template #foodChangeElseBlock>
            <span>replace with</span>
            <mat-form-field appearance="outline">
              <mat-select #groupSelect [value]="(changeItem | cast: FoodItemChangeItem).scenarioFoodItemGroup"
                (selectionChange)="changeFoodChangeScenarioGroup(changeItem, $event.value)"
                placeholder="Food Item Group">
                <ng-container *ngIf="null != changeItem.foodItem">
                  <mat-option *ngFor="let foodGroup of foodGroupsDict?.itemsObs | async" [value]="foodGroup">
                    {{foodGroup.name}}
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
            <div class="flex-col">
              <mat-form-field appearance="outline">
                <mat-select placeholder="Food Item" [value]="changeItem.scenarioValue"
                  (selectionChange)="changeScenarioValue(changeItem, $event.value)">
                  <ng-container *ngFor="let foodItem of groupSelect.value?.foodItems.itemsObs | async">
                    <mat-option *ngIf="foodItem !== changeItem.foodItem" [value]="foodItem">
                      {{foodItem.name}}
                    </mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
              <ng-container *ngIf="(null !== changeItem.scenarioValue)">
                <span *ngIf="!changeItem.updatingScenario; else loadingBlock">
                  {{(changeItem | cast:FoodItemChangeItem).scenarioComposition?.valueAndUnits || 'No Data'}}
                </span>
              </ng-container>
            </div>
          </ng-template>
          <span *ngIf="isLast">
            <button mat-stroked-button [disabled]="!changeItem.isComplete" (click)="addChangeItem()"
              aria-label="Add food item">
              <mat-icon aria-label="Add food item">add_circle_outline</mat-icon>
              Add food Item
            </button>
          </span>
        </ng-container>
        <!-- end changeable selection food items -->

      </div>
    </div>
  </ng-container>
</div>

<ng-template #loadingBlock>
  <mat-progress-bar mode="buffer"></mat-progress-bar>
</ng-template>