// @import 'src/assets/scss/_colour';

:host {
  flex: 1 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

mat-tab-group {
  min-height: 0;
  flex: 1 1;
  & ::ng-deep {
    & .mat-tab-body-wrapper {
      flex: 1 1;
      & .mat-tab-body-content > * {
        height: 100%;
      }
    }
  }
}

ngx-chartjs {
  display: block;
  & ::ng-deep > * {
    height: 100%;
  }
}

.tab-element {
  margin: 5px;
}

table {
  width: 100%;
}
