// @import 'src/assets/scss/_colour';

:host {
  flex: 1 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
mat-tab-group {
  min-height: 0;
  flex: 1 1;
  & ::ng-deep {
    /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
    /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
    & .mat-tab-body-wrapper {
      flex: 1 1;
      /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
      & .mat-tab-body-content > * {
        height: 100%;
      }
    }
  }
}

ngx-chartjs {
  display: block;
  & ::ng-deep > * {
    height: 100%;
  }
}

.tab-element {
  margin: 5px;
}

table {
  width: 100%;
}
