<div class="info-wrapper">
  <h2>Create a Micronutrient intervention</h2>
  <span>

    To model the cost and/or effectiveness of a micronutrient intervention, begin by clicking the button below to create
    the intervention. After you’ve created and stored one intervention, you will be able create additional interventions
    and compare results across interventions.

  </span>
  <button mat-stroked-button color="primary" (click)="openCESelectionDialog()">
    Create intervention
  </button>
</div>

<h2 *ngIf="this.selectedInterventions.length !== 0">Created interventions</h2>

<app-ce-intervention *ngFor="let intervention of selectedSimpleInterventions" [intervention]="intervention">
</app-ce-intervention>