<div class="container">
  <mat-card>
    <mat-card-title class="int-header">
      <div class="title">
        <div class="left-content">
          <div>
            <span *ngIf="!intervention.name"><strong>No intervention name set</strong></span>
            <span *ngIf="intervention.name"><strong>{{ intervention.name }}</strong> |
              {{intervention.focusNation}} |
              {{intervention.focusMicronutrient}}</span>
          </div>
          <!-- <div class="copy-email-wrapper">
            <button mat-flat-button class="copy-button" [cdkCopyToClipboard]="intervention.id.toString()">
              <mat-icon>file_copy</mat-icon> Copy
              Intervention ID to clipboard</button>
            <a mat-flat-button class="email-button"
              href="mailto:user@example.com?subject=MAPS%20Intervention%20ID&body=The%20Intervention%20ID%20for%20the%20Cost%20Effectiveness%20section%20of%20the%20MAPS%20tool%20is:%20{{intervention.id}}"><mat-icon>email</mat-icon>
              Email Intervention ID</a>
            <i class="fas fa-question-circle margin-left" mat-tooltip
              matTooltip="Note your ID for Future Invertention Reloading! This ID will allow you to reload your intervention at a later time. Write it down and keep it in a safe place, or send it to your email address"
              style="color: grey;"></i>
          </div> -->

        </div>
        <!-- <div class="right-content">
          <span *ngIf="intervention.userId === 'Anonymous'"><strong>Intervention not claimed: </strong><button
              mat-flat-button color="primary" class="claim-button"
              (click)="handleClaimIntervention()"><mat-icon>touch_app</mat-icon>
              Claim</button> </span>
        </div> -->
      </div>
    </mat-card-title>
    <p class="desc">{{ intervention.description }}</p>
    <div class="flex-col">
      <div class="content-container">
        <div class="item-container">
          <!-- <div class="item">
            <span *ngIf="!intervention.baseYear">Base year: <strong>{{today | date:'y'}}</strong></span>
            <span *ngIf="intervention.baseYear">Base year: <strong>{{ intervention.baseYear }}</strong></span>
          </div> -->
          <!-- <div class="item">
            10-year total cost: <strong>{{ intervention.totalCost| currency }}</strong>
          </div> -->
          <div class="item">
            Last updated: <strong>{{(intervention.lastEdited | date:'medium') || 'Not available'}}</strong>
          </div>
          <div class="item"><span class="int-id">ID: {{ intervention.id }}</span></div>
        </div>
      </div>


      <div class="column-container">
        <button mat-stroked-button type="button" class="btn btn-primary" (click)="removeIntervention()">Remove</button>
        <button mat-stroked-button color="primary" (click)="openCESCopyDialog(intervention.id)">
          <mat-icon>file_copy</mat-icon>
          Copy
        </button>
        <a mat-flat-button color="primary" class="btn" (click)="reviewIntervention()">Edit</a>
      </div>
    </div>
  </mat-card>
</div>