<app-base-dialog [data]="data" title="Welcome to Cost & Effectiveness">

  <div class="bmgf-maps-nice-scrollbar">
    <p class="text-center"><img class="maps-welcome-header-image" src="https://micronutrient.support/images/logo.svg">
    </p>
    <p class="welcome-text">The MAPS tool's cost and effectiveness functionality is being iteratively released, to allow
      potential users to explore the interface and provide us with early feedback on usability. </p>
    <p class="welcome-text">We are initially releasing parameterised models for wheat flour and oil LSFF in Ethiopia and
      Malawi;
      however, these models are not fully functional and not all aspects can currently be used to completion, and we do
      not recommend
      data is used as it stands. </p>
    <p class="welcome-text">Please contact us using the ‘Submit Feedback’ button on the right side of the screen, or by
      email to <a href="mailto:feedback@micronutrient.support">feedback@micronutrient.support
      </a>for further information.
      We will update this message as our functionality is finalised for use, and new features are added. </p>

    <p>If you would like to request, or up-vote, features operationalised in the tool, please use the <a
        href="https://features.micronutrient.support" target="_blank">Feature Request Portal</a> to do this.</p>

  </div>

</app-base-dialog>