@import 'src/assets/scss/_colour';

.container {
  max-height: 300px;
  margin-bottom: 10px;
  border: 1px solid $color_primary;
  border-radius: 5px;
  background-color: $color_background_form;
}
#baseDescPane {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
#baseDescPane > .nation,
#baseDescPane > .vitamin,
#baseDescPane > .baseline {
  flex: 1;
}

.description {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.nation,
.vitamin,
.baseline {
  padding: 5px;
}

@media only screen and (max-width: 900px) {
  .description {
    display: none;
  }
}
