@import 'src/assets/scss/_colour';

.mat-expansion-panel.mat-expanded,
.mat-expansion-panel-header,
.mat-expansion-panel-header:hover,
.mat-expansion-panel.mat-expanded:hover {
  height: 100% !important;
  background: $color_background_form;
}
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled='true']) {
  background: $color_background_form;
}

.mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none;
}

.container {
  margin-bottom: 10px;
}

.content-container {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  gap: 5px;
}

.item {
  flex: 1;
  margin: 5px 0;
}

.desc-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    text-align: center;
  }
}

.data-level-select-wrapper ::ng-deep {
  /*TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
  & .mat-form-field-wrapper {
    padding-bottom: 0;
  }
  /*TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
  & .mat-form-field-underline {
    bottom: 0;
  }
  /*TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
  & .mat-form-field-infix {
    width: 150px;
  }
}

/*TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version.*/
.capitalize-text,
.data-level-select-wrapper ::ng-deep .mat-select-value,
::ng-deep .data-level-select .capitalize-text {
  text-transform: capitalize;
}

.matches {
  font-size: 90%;
}

.alert-danger {
  background-color: #f44336;
}
.alert-success {
  background-color: #36f456;
}
.alert-warning {
  background-color: #ff9800;
}
.alert {
  padding: 15px;
  color: white;
  margin-bottom: 0 10px;
  text-align: center;
}

.right {
  min-width: 7em;
  text-align: right;
  color: #663593;
  font-weight: 500;
}

.match-summary {
  display: flex;
  align-items: center;
}

.match-warning {
  color: #ad0000;
}

.match-warning-icon {
  font-size: inherit;
  width: inherit;
  height: inherit;

  vertical-align: middle;
  margin-bottom: 3px;
}

.match-panel {
  //margin-top: -2em;

  // .mat-expansion-panel-header {
  //   padding-top: 0;
  // }

  .mat-expansion-panel-header-title {
    margin-top: -10px;
  }

  p {
    padding-top: 1em;
  }
}
