<div class="container">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header class="desc-header">
      <mat-panel-title>
        <div class="content-container">
          <div class="item">
            Nation: <strong>{{ (quickMapsService.countryObs | async)?.name }}</strong>
          </div>
          <div class="item">
            Vitamin: <strong>{{ (quickMapsService.micronutrientObs | async)?.name }}</strong>
          </div>
          <div class="item">
            Measure of MDN: <strong class="capitalize-text">{{ quickMapsService.measureObs | async }} Data</strong>
          </div>
          <div class="item">
            Data level:
            <strong *ngIf="1 === (quickMapsService.dataSourceObs | async).dataLevelOptions.length"
              class="capitalize-text">
              {{ (quickMapsService.dataSourceObs | async).dataLevelOptions[0] }}
            </strong>
            <mat-form-field *ngIf="1 < (quickMapsService.dataSourceObs | async).dataLevelOptions.length"
              appearance="fill" class="data-level-select-wrapper">
              <mat-select panelClass="data-level-select" name="data-level" placeholder="Data Level"
                [value]="quickMapsService.dataLevelObs | async" (selectionChange)="setDataLevel($event)"
                (click)="$event.stopPropagation()">
                <mat-option *ngFor="let option of (quickMapsService.dataSourceObs | async).dataLevelOptions"
                  [value]="option" class="capitalize-text">
                  {{ option }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      <button mat-button (click)="openBaselineDescriptionDialog()" color="primary">Learn More</button>
    </div>
  </mat-expansion-panel>
</div>