<app-base-dialog [data]="data">
  <mat-drawer-container class="settings-container" autosize>
    <mat-drawer #drawer [opened]="true" mode="side">
      <mat-selection-list #optionList [multiple]="false">
        <mat-list-option [selected]="true" value="general">General</mat-list-option>
        <mat-list-option value="advanced">Advanced</mat-list-option>
      </mat-selection-list>
    </mat-drawer>

    <div class="sidenav-content">
      <div *ngIf="optionList.selectedOptions.selected[0]?.value === 'general'" class="color-box">
        <p>Colour Gradient</p>
        <mat-selection-list [(ngModel)]="generalSelectionValue" [multiple]="false">
          <mat-list-option *ngFor="let colourGradientItem of gradientList" [value]="colourGradientItem.colourGradient">
            <span class="colour-option"
              >{{ colourGradientItem.name }}
              <span [ngClass]="['colour-sample', colourGradientItem.colourGradient]"></span
            ></span>
          </mat-list-option>
        </mat-selection-list>
      </div>
      <div *ngIf="optionList.selectedOptions.selected[0]?.value === 'advanced'">
        <header>
          <p>Color Scale Generator</p>
          <div class="inputs">
            <div class="color-input">
              <input (change)="callFunctionOne()" #colorOne value="#00ff00" type="color" id="color1" />
            </div>
            <div class="color-input">
              <input (change)="callFunctionTwo()" #colorTwo value="#ff0000" type="color" id="color2" />
            </div>
          </div>
        </header>

        <!-- div to hold the color scales -->
        <p>Absolute Values Gradient:</p>
        <div #container1 class="container"></div>
        <p>Threshold Values Gradient:</p>
        <div #container2 class="container"></div>
      </div>

      <div class="button-wrapper">
        <button mat-raised-button (click)="applyChanges()">Apply Changes</button>
      </div>
    </div>
  </mat-drawer-container>
</app-base-dialog>
