.settings-container {
  width: 40vw;
  height: 50vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  .color-box {
    width: 89%;
    padding: 20px;
  }
  .colour-option {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    .colour-sample {
      width: 4em;
      height: 2em;
      &.blueRedYellowGreen {
        background: linear-gradient(0.25turn, blue, red, yellow, green);
      }
      &.divergingColors {
        background: linear-gradient(0.25turn, darkred, beige, teal);
      }
      &.colourblind {
        background: linear-gradient(0.25turn, purple, green, blue, yellow, magenta);
      }
    }
  }
  .button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    button {
      margin: 5px;
    }
  }

  .color-wrapper {
    display: flex;
    height: 250px;
  }

  .input-wrapper {
    margin-top: 16px;
    display: flex;
    border-radius: 1px;
    border: 1px solid rgb(220, 220, 220);
    padding: 8px;
    height: 32px;
    justify-content: center;
  }

  .text {
    flex: 1;
    font-family: 'Helvetica';
    line-height: 32px;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
  }

  .inputs {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .color-input {
    margin: 5px;
  }

  .container {
    display: flex;
    justify-content: center;
    width: 100%;
    // height: 100%;
  }
}
