<app-base-dialog [data]="dialogData" title="Baseline Performance">
  <div class="container">
    <p>Intervention costs and/or effectiveness will be modeled over a 10-year modeling time horizon. Baseline
      performance characterizes the intervention in modeling year 1 (note that these values can be modified for
      subsequent modeling years on the next screen). For an existing intervention, this should reflect the current
      status of the intervention. For a hypothetical intervention, years 1 and 2 are assumed to be start-up years.</p>
  </div>
</app-base-dialog>