<div class="bmgf-maps-nice-scrollbar container">
  <div class="content">
    <app-intervention-description></app-intervention-description>
    <div class="title">
      <span>Baseline Assumptions</span>
    </div>
    <div *ngIf="!this.compoundAvailable">
      <app-quickmaps-no-results></app-quickmaps-no-results>
    </div>
    <div *ngIf="this.compoundAvailable">
      <app-reusable-skeleton-table *ngIf="!dataLoaded"
        [setData]="{ columns: 3, rows: 2 }"></app-reusable-skeleton-table>

      <form [formGroup]="form" *ngIf="form">
        <table mat-table [dataSource]="dataSource" formArrayName="items" class="table-full-width">
          <ng-container matColumnDef="title">
            <td class="row-title-left" mat-cell *matCellDef="let element">
              {{ element.title }}
            </td>
          </ng-container>

          <ng-container matColumnDef="year0">
            <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
              <div class="double-cell">
                <div>
                  <input id="year0" name="year0" (change)="storeIndex(index)" type="number"
                    [ngModel]="element.year0 * 100" formControlName="year0" min="0" max="100"
                    (keyup)="validateUserInput($event, index, 'year0')">
                </div>
                <button *ngIf="dirtyIndexes.includes(index) === false" mat-button color="primary">
                  GFDx<mat-icon>arrow_right_alt</mat-icon>
                </button>
                <button *ngIf="dirtyIndexes.includes(index)" mat-button color="primary">
                  User Input
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-row *matRowDef="let row; columns: baselinedisplayedColumns;"></tr>
        </table>
      </form>

      <div class="header-row">
        <div class="title standard">
          <span>Food vehicle standard/target fortification levels</span>
        </div>
        <div class="title compliance">
          <span>Baseline compliance/fortification in practice</span>
        </div>
      </div>

      <div class="focus-mn">
        <div class="divider"></div>
        <span class="sub-header">Focus micronutrient</span>
      </div>

      <div class="lower-table-wrapper">
        <table mat-table [dataSource]="FVdataSource" class="table-full-width">
          <ng-container matColumnDef="micronutrient">
            <th class="row-title-left focus" mat-header-cell *matHeaderCellDef>
              Micronutrient
            </th>
            <td mat-cell *matCellDef="let element">
              <span class="focus-mn-title">{{ (quickMapsService.micronutrient.obs | async)?.name }}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="compound">
            <th class="row-title-left" mat-header-cell *matHeaderCellDef>
              Compound
            </th>
            <td mat-cell *matCellDef="let element">
              <mat-form-field appearance="outline" class="override">
                <mat-select [(ngModel)]="selectedCompound" matNativeControl>
                  <mat-option *ngFor="let item of element.compounds" [value]="item">
                    {{ item.compound }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>
          <ng-container matColumnDef="targetVal">
            <th class="row-title-left header-top-align" mat-header-cell *matHeaderCellDef>Standard/target nutrient level
              at point of
              fortification (mg/kg)
            </th>
            <td mat-cell *matCellDef="let element">
              <ng-container class="double-cell">
                <input (change)="updateButtonState(1)" type="number" matInput required
                  [ngModel]="selectedCompound.targetVal">
                <span>
                  <button *ngIf="!buttonOneEdited" mat-button color="primary">
                    GFDx
                  </button>
                  <button *ngIf="buttonOneEdited" mat-button color="primary">
                    User Input
                  </button>
                </span>
              </ng-container>
            </td>
          </ng-container>
          <ng-container matColumnDef="avgVal">
            <th class="row-title-left header-top-align" mat-header-cell *matHeaderCellDef>Calculated average
              fortification level (mg/kg)
              among
              fortifiable food vehicle at point of fortification
              <button class="icon-display floater" mat-mini-fab color="primary" (click)="openFortificationInfoDialog()">
                <mat-icon class="icon-display">question_mark</mat-icon>
              </button>
            </th>
            <td mat-cell *matCellDef="let element">
              <ng-container class="double-cell">
                <span>
                  {{ selectedCompound.targetVal * baselineAssumptions?.potentiallyFortified.year0 | sigFig: 3 }}
                </span>

              </ng-container>
            </td>
          </ng-container>

          <ng-container matColumnDef="optFort">
            <th class="row-title-left header-top-align" mat-header-cell *matHeaderCellDef>Optional user-entered average
              fortification
              level
              (mg/kg) among fortifiable food vehicle at point of fortification
            </th>
            <td mat-cell *matCellDef="let index = inputThree, let element">
              <ng-container class="double-cell">
                <input (change)="updateButtonState(2)" type="text" appDecimalInput required
                  [(ngModel)]="optionalUserEnteredAverageAtPointOfFortification">
                <span>
                  <button *ngIf="!buttonTwoEdited" mat-button color="primary">
                    GFDx<mat-icon>arrow_right_alt</mat-icon>
                  </button>
                  <button *ngIf="buttonTwoEdited" mat-button color="primary">
                    User Input<mat-icon>arrow_right_alt</mat-icon>
                  </button>
                </span>
              </ng-container>
            </td>
          </ng-container>

          <ng-container matColumnDef="calcFort">
            <th class="row-title-left header-top-align" mat-header-cell *matHeaderCellDef>
              Calculated average fortification level (mg/kg)
              among all food vehicle
              <button class="icon-display floater" mat-mini-fab color="primary"
                (click)="openCalculatedFortificationInfoDialog()">
                <mat-icon class="icon-display">question_mark</mat-icon>
              </button>
            </th>
            <td mat-cell *matCellDef="let element">
              <ng-container class="double-cell">
                <span *ngIf="null != baselineAssumptions">
                  {{ getCalculatedAverage(baselineAssumptions.actuallyFortified.year0,
                  baselineAssumptions.potentiallyFortified.year0) | sigFig:3 }}
                </span>
              </ng-container>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="baselineFVdisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: baselineFVdisplayedColumns;"></tr>
        </table>
      </div>


      <app-micro-nutrients-in-premix-table [editable]="true" [micronutrient]="newMnInPremix"
        [baselineAssumptions]="baselineAssumptions"></app-micro-nutrients-in-premix-table>
    </div>
    <app-intervention-step-details (resetValues)="resetForm()" [resetDefaultValues]="true" [showFocusMn]="true"
      [showUserValues]="true" [showNonEditable]="false" [showMnUnits]="true" [showAddMicronutrient]="true"
      (onAddMn)="handleAddMn($event)">
    </app-intervention-step-details>
  </div>

  <footer>
    <a *ngIf="!compoundAvailable" class="intervention-navigation" mat-stroked-button
      [routerLink]="ROUTES.QUICK_MAPS_COST_EFFECTIVENESS | route" queryParamsHandling="preserve">Back</a>
    <a [disabled]="!compoundAvailable" class="intervention-navigation" mat-stroked-button
      [routerLink]="ROUTES.QUICK_MAPS_COST_EFFECTIVENESS | route" queryParamsHandling="preserve">Save and close</a>
    <button [disabled]="!compoundAvailable" class="intervention-navigation-confirm" mat-flat-button color="primary"
      [routerLink]="ROUTES.INTERVENTION_REVIEW_COMPLIANCE | route" queryParamsHandling="preserve"
      (click)="confirmAndContinue()">Confirm and
      continue</button>
  </footer>
</div>
