<div class="container">
  <div class="content">
    <app-intervention-description></app-intervention-description>
    <div class="title">

      <span>Baseline Assumptions</span>
    </div>



    <!-- <div class="intervention-baseline-panel">

      <div class="item"> Potentially fortifiable [] in the food system(%)</div>
      <div class="item"><input type="number" class="item-input"> <button mat-icon-button>GFDx
          <i class="fas fa-arrow-right"></i>
        </button></div>
      <div class="item"></div>
    </div>

    <div class="intervention-baseline-panel">

      <div class="item"> Fortifiable [] that is actually fortified to the standard(%)</div>
      <div class="item"><input type="number" class="item-input"> <button mat-icon-button>GFDx
          <i class="fas fa-arrow-right"></i>
        </button></div>
      <div class="item"></div>
    </div> -->

    <!-- add table -->

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="title">
        <td class="column-title" mat-cell *matCellDef="let element">
          {{element.title}}
        </td>
      </ng-container>

      <ng-container matColumnDef="baseline_value">
        <td class="column-title" mat-cell *matCellDef="let element">
          <div class="double-cell">
            <input type="number" matInput required [value]=element.year0>
            <span>
              <button mat-icon-button color="primary" (click)="inputType()">
                {{buttonValue?"GFDx":"User Input"}}<mat-icon>arrow_right_alt</mat-icon>
              </button>
            </span>
          </div>
        </td>
      </ng-container>

      <span>
        <button mat-icon-button color="primary" (click)="inputType()">
          {{buttonValue?"GFDx":"User Input"}}<mat-icon>arrow_right_alt</mat-icon>
        </button>
      </span>
      <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
      <tr mat-row *matRowDef="let row; columns: baselinedisplayedColumns;"></tr>
    </table>

    <div class="header-row">
      <!-- <div class="subheader-container"> -->
      <div class="title">
        <span>Food vehicle standard/target fortification levels</span>
      </div>
      <!-- </div> -->
      <!-- <div class="subheader-container"> -->
      <div class="title">
        <span>Baseline compliance/fortification in practice</span>
      </div>
      <!-- </div> -->
    </div>

    <div class="lower-table-wrapper">
      <div class="focus-mn">
        <span>Focus micronutrient</span>
        <span class="mn-title">{{ (quickMapsService.micronutrient.obs | async)?.name }}</span>
      </div>

      <table mat-table [dataSource]="FVdataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="compound">
          <th class="row-title" mat-header-cell *matHeaderCellDef> Compound </th>
          <td class="column-title" mat-cell *matCellDef="let element">
            {{element.micronutrient}}
          </td>
          <!-- <td class="column-title" mat-cell *matCellDef="let compound">
            <mat-form-field appearance="outline">
              <mat-select (empty)="null" [(ngModel)]="selectedCompound" matNativeControl>
                <mat-option *ngFor="let compound of compounds" [value]="compound">
                  {{compound.compound}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td> -->
        </ng-container>
        <ng-container matColumnDef="targetVal">
          <th class="row-title" mat-header-cell *matHeaderCellDef> Standard/target nutrient level at point of
            fortification (mg/kg) </th>
          <td class="column-title" mat-cell *matCellDef="let element">
            <div class="double-cell">
              <input type="number" matInput required [value]=element.targetVal>
              <span>
                <button mat-icon-button color="primary" (click)="inputType()">
                  {{buttonValue?"GFDx":"User Input"}}<mat-icon>arrow_right_alt</mat-icon>
                </button>
              </span>
            </div>
          </td>

        </ng-container>


        <ng-container matColumnDef="avgVal">
          <th class="row-title" mat-header-cell *matHeaderCellDef> Calculated average fortification level (mg/kg) among
            fortifiable food vehicle at point of fortification
            <button class="icon-display" mat-mini-fab color="primary" (click)="openFortificationInfoDialog()">
              <mat-icon class="icon-display">question_mark</mat-icon>
            </button>
          </th>
          <td class="column-title" mat-cell *matCellDef="let element">
            <div class="double-cell">
              <input type="number" matInput required [value]=element.targetVal>
              <span>
                <button mat-icon-button color="primary" (click)="inputType()">
                  {{buttonValue?"GFDx":"User Input"}}<mat-icon>arrow_right_alt</mat-icon>
                </button>
              </span>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="optFort">
          <th class="row-title" mat-header-cell *matHeaderCellDef> Optional user-entered average fortification level
            (mg/kg) among fortifiable food vehicle at point of fortificationn </th>
          <td class="column-title" mat-cell *matCellDef="let element">
            <div class="double-cell">
              <input type="number" matInput required [value]=element.targetVal>
              <span>
                <button mat-icon-button color="primary" (click)="inputType()">
                  {{buttonValue?"GFDx":"User Input" }}<mat-icon>arrow_right_alt</mat-icon>
                </button>
              </span>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="calcFort">
          <th class="row-title" mat-header-cell *matHeaderCellDef> Calculated average fortification level (mg/kg) among
            all food vehicle
            <button class="icon-display" mat-mini-fab color="primary" (click)="openCalculatedFortificationInfoDialog()">
              <mat-icon class="icon-display">question_mark</mat-icon>
            </button>
          </th>
          <td class="column-title" mat-cell *matCellDef="let element">
            <div class="double-cell">
              <input type="number" matInput required [value]=element.targetVal>

            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="baselineFVdisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: baselineFVdisplayedColumns;"></tr>
      </table>
    </div>
    <div>
      <tr class="static-review-elements">
        <button class="item-reset" mat-icon-button (click)="addMN()">
          <mat-icon class="red-icon">add</mat-icon> Add mcronutrient
        </button>
        <button class="item-reset" mat-icon-button (click)="resetValues()">
          <mat-icon class="red-icon">redo</mat-icon> Reset to default values
        </button>
        <div class="item-group">
          <div class="item-bottom-row ">Focus MN<div class='box purple'></div>
          </div>
          <div class="item-bottom-row ">User defined values<div class='box blue'></div>
          </div>
          <div class="item-bottom-row ">Units <strong>(mg/kg)</strong>
          </div>
        </div>
      </tr>
    </div>
    <footer>
      <a class="intervention-navigation" mat-stroked-button [routerLink]="ROUTES.QUICK_MAPS_COST_EFFECTIVENESS | route"
        queryParamsHandling="preserve">Save and close</a>
      <a class="intervention-navigation-confirm" mat-stroked-button
        [routerLink]="ROUTES.INTERVENTION_REVIEW_COMPLIANCE | route" queryParamsHandling="preserve">Confirm and
        continue</a>
    </footer>

  </div>
</div>