@import "src/assets/scss/_colour.scss";

mat-drawer {
  padding: 1em 0;
}

.sidenav-container {
  width: 100%;
  min-height: 300px;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  & ::ng-deep > .ng-star-inserted {
    // flex-grow: 1;
    width: 100%;
  }
}

.large-sidenav-mode {
  background-color: $color_background_form;
  width: 345px;
  transition: all 0.4s;
}

.slim-sidenav-mode {
  width: 50px;
  background-color: $color_background_form;
  transition: all 0.4s;
}

.menu-header {
  margin-top: 10px;
}
app-quick-maps-header {
  width: 100%;
}
