<div role="main">
  <mat-sidenav-container class="sidenav-container" *ngIf="quickMapsService.init.obs | async">
    <mat-sidenav [disableClose]="true" opened mode="side"
      [ngClass]="(quickMapsService.slim.obs | async) ? 'slim-sidenav-mode' :'large-sidenav-mode'">
      <app-side-nav-content [showGoButton]="showGoButton"></app-side-nav-content>
    </mat-sidenav>
    <div class="sidenav-content" [class.header-present]="showHeader">
      <app-quick-maps-header *ngIf="showHeader"></app-quick-maps-header>
      <router-outlet></router-outlet>
      <div class="help-fab-container">
        <button mat-fab matTooltip="View help and tour" color="secondary" aria-label="View help information and tour"
          (click)="openWelcomeDialog()">
          <mat-icon>help</mat-icon>
        </button>
        <button mat-fab matTooltip="Open usability survey" color="primary" aria-label="Open usability survey"
          (click)="openFeedbackSurvey()">
          <mat-icon>feedback</mat-icon>
        </button>
      </div>
    </div>
  </mat-sidenav-container>
</div>