.tableFullWidth {
  width: 100%;
}

.table-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
  text-align: center;
  font-size: 17px;
}

tr.mat-row {
  height: 30px !important;
}

td.mat-cell {
  font-size: 12px;
}

.chartjs-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas {
  height: 100 !important;
}
// #group {
//   height: 100%; // Whole group height.

//   ::ng-deep .mat-tab-body-wrapper {
//     flex-grow: 1;
//   }

//   .tab-content-container {
//     height: 100%; // Content height.
//   }
// }
