@import 'src/assets/scss/_colour';

.chart-container {
  display: block;
  position: relative;
  height: 100%;
}

mat-tab-group {
  flex: 1 1;
  & ::ng-deep {
    & .mat-tab-body-wrapper {
      flex: 1 1;
      & .mat-tab-body-content > * {
        height: 100%;
      }
    }
  }
}
