<ng-template #componentTemplate>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Tree">
      <!-- <div class="bmgf-maps-nice-scrollbar"> -->
      <ngx-chartjs *ngIf="chartData" id="treemap" [data]="chartData.data" [type]="chartData.type"
        [options]="chartData.options" [plugins]="chartData.plugins">
      </ngx-chartjs>
      <!-- </div> -->
    </mat-tab>

    <mat-tab label="Table">
      <div class="bmgf-maps-nice-scrollbar">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 tableFullWidth">
          <ng-container matColumnDef="foodName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Food</th>
            <td mat-cell *matCellDef="let element">{{ element.foodName }}</td>
          </ng-container>
          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Value</th>
            <td mat-cell *matCellDef="let element">{{ element.value }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <tr class="mat-row" *matNoDataRow>
          </tr>
        </table>
      </div>
    </mat-tab>

    <!-- <mat-tab label="Download">
      <app-download [chartDownloadPNG]="chartPNG" [chartDownloadPDF]="chartPDF"></app-download>
    </mat-tab> -->

  </mat-tab-group>
</ng-template>

<ng-container *ngIf="(null != dialogData) else componentTemplate">
  <app-base-dialog [data]="dialogData" [title]="title">
    <ng-container *ngTemplateOutlet="componentTemplate"></ng-container>
  </app-base-dialog>
</ng-container>
