<ng-template #componentTemplate>
  <mat-tab-group mat-align-tabs="center" [(selectedIndex)]="selectedTab">
    <mat-tab label="Tree">
      <ngx-chartjs *ngIf="chartData" id="treemap" [data]="chartData.data" [type]="chartData.type"
        [options]="chartData.options" [plugins]="chartData.plugins">
      </ngx-chartjs>
    </mat-tab>

    <mat-tab label="Table">
      <div class="bmgf-maps-nice-scrollbar">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 table-full-width">
          <ng-container matColumnDef="ranking">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Rank</th>
            <td mat-cell *matCellDef="let element">{{ element.ranking }}</td>
          </ng-container>
          <ng-container matColumnDef="foodGroupName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Food</th>
            <td mat-cell *matCellDef="let element">{{ element.foodGroupName }}</td>
          </ng-container>
          <ng-container matColumnDef="dailyMnContribution">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">
              <span *ngIf="DATA_LEVEL.HOUSEHOLD === (quickMapsService.dietDataSource.obs | async)?.dataLevel">
                {{ (quickMapsService.micronutrient.obs |
                async)?.id }} (mg/AFE/day)
              </span>
              <span *ngIf="DATA_LEVEL.COUNTRY === (quickMapsService.dietDataSource.obs | async)?.dataLevel">
                {{ (quickMapsService.micronutrient.obs |
                async)?.id }} (mg/capita/day)
              </span>
            </th>
            <td mat-cell *matCellDef="let element">{{ element.dailyMnContribution | sigFig:4 }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <tr class="mat-row" *matNoDataRow>
          </tr>
        </table>
      </div>
    </mat-tab>

    <mat-tab label="Download">
      <app-download [chartDownloadPNG]="chartPNG" [chartDownloadPDF]="chartPDF" [dataArray]="dataSource?.data">
      </app-download>
    </mat-tab>

    <mat-tab label="About {{title}}">
      <div class="about-container">
        <h2>About {{title}}</h2>
        <p>This ‘treemap’ graphic presents the individual food items which contribute the most micronutrient to the diet
          in the overall dataset. The areas of each of these items are proportional to their contribution. Hovering over
          the individual items will provide more information on the underlying data. Food items are colour coded by food
          group in the MAPS database. The graphic (default view) and table summaries of these data are available for
          download.</p>
      </div>
    </mat-tab>

  </mat-tab-group>
</ng-template>

<ng-container *ngIf="(null != dialogData) else componentTemplate">
  <app-base-dialog [data]="dialogData" [title]="title">
    <ng-container *ngTemplateOutlet="componentTemplate"></ng-container>
  </app-base-dialog>
</ng-container>