@import 'src/assets/scss/_colour';

.container {
  display: flex;
  margin-bottom: 10px;
  border: 1px solid $color_primary;
  border-radius: 5px;
  flex-flow: row wrap;
  background-color: white;
  align-items: center;
  justify-content: center;
}

.item {
  flex-grow: 0.75;
  flex: 0.75;
  margin: 5px;

  &.bold {
    font-weight: 700;
  }

  &.wideItem {
    flex-grow: 1.5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 287px;

  }
}

form::ng-deep {
  .mat-form-field-wrapper {
    padding-bottom: 0em;
  }

  .width-quantity {
    width: 5em;
    margin-right: 0.5em;
  }

  .width-time {
    width: 8em;
    margin-left: 0.5em;
  }
}

.estimateHeader {
  font-weight: 700;
  font-size: 16px;
  display: block;
}

.estimateValue {
  font-weight: 700;
  font-size: 16px;
  display: block;

  &.blue {
    color: blue;
  }

  &.green {
    color: green;
  }

  &.red {
    color: red;
  }
}

.margin-left {
  margin-left: 0.5em;
}

@media (max-width: 920px) {
  .container {
    flex-direction: column;
    text-align: center;
  }
}