<div class="container">
  <div class="item">
    <div class="nation">
      <span class="estimateHeader">Current Estimate:</span>
      <span class="estimateValue blue">23123214.21</span>
      <small>(kg per year)</small>
    </div>
  </div>
  <div class="item">
    <div class="vitamin">
      <span class="estimateHeader">Target:</span>
      <span class="estimateValue green">13553.33</span>
      <small>(kg per year)</small>
    </div>
  </div>
  <div class="item">
    <div class="baseline">
      <span class="estimateHeader">Difference:</span>
      <span class="estimateValue red">-12.4%</span>
    </div>
  </div>
  <form [formGroup]="projectionEstimateForm" class="item wideItem">

    <mat-form-field appearance="fill">
      <mat-select name="mass" formControlName="mass" placeholder="amount">
        <mat-option *ngFor="let item of massArray" [value]="item.id">
          {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-select name="timeScale" formControlName="timeScale" placeholder="time scale">
        <mat-option *ngFor="let item of timeScaleArray" [value]="item.id">
          per {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </form>

  <div class="item wideItem">
    <div class="summary">
      Business as usual to reach target
    </div>
  </div>
</div>