<div class="container">
  <div class="wideItem left-text">
    <div class="nation">
      <span class="estimateHeader">Estimate (2010):</span>
      <span class="estimateValue blue">{{currentEstimateCalc | number: '1.1-5'}}</span>
      <small>({{massName}} per {{timeScaleName}})</small>
    </div>


    <div class="vitamin">
      <span class="estimateHeader">Target:</span>
      <span class="estimateValue green">{{targetCalc | number: '1.1-5'}}</span>
      <small>({{massName}} per {{timeScaleName}})</small>
    </div>

    <div class="baseline">
      <span class="estimateHeader">Difference:</span>
      <span class="estimateValue" [ngClass]="(differencePercentage < 0)? 'red': 'green'">{{differencePercentage |
        number:'1.1-2'}}%
        <i class="fas fa-question-circle margin-left"
          matTooltip="{{differenceQuantity | number: '1.1-5'}} {{massName}} per {{timeScaleName}}"
          style="color: grey;"></i>
      </span>
    </div>
  </div>

  <form [formGroup]="projectionEstimateForm" class="wideItem form">

    <mat-form-field appearance="outline" aria-label="amount" class="width-quantity">
      <mat-label>Quantity</mat-label>
      <mat-select formControlName="mass" placeholder="amount">
        <mat-option *ngFor="let item of massArray" [value]="item">
          {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <span class="item bold">per person</span>

    <mat-form-field appearance="outline" aria-label="time scale" class="width-time">
      <mat-label>Time</mat-label>
      <mat-select formControlName="timeScale" placeholder="time scale">
        <mat-option *ngFor="let item of timeScaleArray" [value]="item">
          per {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </form>

  <div class="wideItem right-text">
    <span>
      'Business as usual' to reach target in &nbsp;
      <strong>2021</strong>
      <i class="fas fa-question-circle margin-left"
        matTooltip="Using moderate assumptions of economic and population growth, and no interventions, 
      per capita consumption of {{(quickMapsService.micronutrientObs | async).name}} is expected to reach recommended levels by 2021." style="color: grey;"></i>
    </span>
  </div>
</div>