@use 'src/app/pages/costEffectiveness/interventionReview/pages/interventionReviewPages.scss';
@import 'src/assets/scss/_colour.scss';

.button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  bottom: 10px;
  right: 10px;
  position: absolute;

  button {
    margin: 0 5px 0 5px;
  }

  .confirm {
    background-color: $color_primary;
    color: white;
  }
}

table {
  width: 100%;
  tr.mat-mdc-footer-row {
    font-weight: bold;
  }
}

.title {
  border: solid 1px $color_primary;
  margin: 1em;
  padding: 10px;
  span {
    font-size: 20px;
    font-weight: 600;
  }
}

// Style the last data row as total values
tr:last-child {
  input {
    border: none;
    background: transparent;
    color: black;
    font-weight: bold;
  }
  td:first-child {
    font-weight: bold;
  }
}
