@import 'src/assets/scss/_colour.scss';

.button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  bottom: 10px;
  right: 10px;
  position: absolute;

  button {
    margin: 0 5px 0 5px;
  }

  .confirm {
    background-color: $color_primary;
    color: white;
  }
}

table {
  width: 100%;
  tr.mat-mdc-footer-row {
    font-weight: bold;
  }
}

.title {
  border: solid 1px $color_primary;
  margin: 1em;
  padding: 10px;
  span {
    font-size: 20px;
    font-weight: 600;
  }
}
input {
  // display: block;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
  width: 60%;
  padding: 5px;
  height: 30px;
  border-radius: 5px;
  border: black 0.5px solid;
  text-align: center;

  &:disabled {
    background-color: $color_grey;
    border: 0px;
    color: white;
  }
}

// user edited values
input.ng-dirty {
  color: $color_input_blue;
  border-color: $color_input_blue;
}
