@import 'src/assets/scss/_colour.scss';

.button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  bottom: 10px;
  right: 10px;
  position: absolute;

  button {
    margin: 0 5px 0 5px;
  }

  .confirm {
    background-color: $color_primary;
    color: white;
  }
}

table {
  width: 100%;
  // margin: 0 1em;
  tr.mat-mdc-footer-row {
    font-weight: bold;
  }
}

.title {
  border: solid 1px $color_primary;
  margin: 1em;
  padding: 10px;
  span {
    font-size: 20px;
    font-weight: 600;
  }
}
input {
  // display: block;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
  width: 90%;
  padding: 5px;
  height: 30px;
  border-radius: 5px;
  border: black 0.5px solid;
  text-align: center;
  &:disabled {
    background-color: $color_grey;
    border: 0px;
    color: white !important;
  }
}

// user edited values
input.ng-dirty {
  color: $color_input_blue;
  border-color: $color_input_blue;
}

.copy-wrap {
  position: relative;
}

.copy-wrap:focus-within > button {
  visibility: visible;
}

.copy-button {
  visibility: hidden;
  position: absolute;
  width: 13px;
  height: 100%;
  top: 0;
  left: calc(100% - 16px);
  border-radius: 0 5px 5px 0;
  padding: 0;
  background: rgb(112, 58, 163);
  color: #fff;
  border: none;
  padding-top: 0.6em;

  mat-icon {
    font-size: 1em;
    width: 10px;
  }
}

// Style the last data row as total values
tr:last-child {
  input {
    border: none;
    background: transparent;
    color: black !important;
    font-weight: bold;
  }
  td:first-child {
    font-weight: bold;
  }
}
