.flex-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2rem 0;
}

.chart,
.description {
  width: 50%;
  padding: 0 2rem;
}

.chart {
  .mat-button-toggle-group {
    .mat-button-toggle {
      border-radius: 5px;
      border-left: none;

      &.mat-button-toggle-checked {
        background: #9b51e0;
        color: #ffffff;
      }

      .mat-button-toggle-button {
        .mat-button-toggle-label-content {
          line-height: 30px;
        }
      }
    }
  }
}
