// Using css flex seems to be more responsive.
.flex-container {
  display: flex;
  height: 100%;
  flex-flow: row wrap;
}

.card-container {
  flex: 1 0;
  margin: 5px;
  border: 1px solid #703aa3;
  border-radius: 5px;
  background-color: #f8f8f8;
}
.gridsterContainer {
  min-height: 1000px;
  height: 500px;
}
