<gridster class="bmgf-maps-nice-scrollbar" [options]="options">
  <app-base-desc></app-base-desc>
  <app-base-est></app-base-est>
  <gridster-item [item]="widget" *ngFor="let widget of dashboard">
    <!-- Map View -->
    <app-card #card [widget]="widget" [resizeEvent]="resizeEvent" *ngIf="widget.type === WIDGETS.MAP">
      <app-map-view [card]="card"></app-map-view>
    </app-card>

    <!-- Chart -->
    <app-card #card [widget]="widget" [resizeEvent]="resizeEvent" *ngIf="widget.type === WIDGETS.CHART">
      <app-household-supply [card]="card"></app-household-supply>
    </app-card>

    <!-- Monthly Card -->
    <app-card #card [widget]="widget" [resizeEvent]="resizeEvent" *ngIf="widget.type === WIDGETS.MONTHLY">
      <app-monthly-food [card]="card"></app-monthly-food>
    </app-card>

    <!-- Top 20 -->
    <app-card #card [widget]="widget" [resizeEvent]="resizeEvent" *ngIf="widget.type === WIDGETS.TOP_FOOD">
      <app-food-items [card]="card"></app-food-items>
    </app-card>

  </gridster-item>
</gridster>
