<div class="bmgf-maps-nice-scrollbar container">
  <div class="content">
    <app-intervention-description></app-intervention-description>
    <div class="title">
      <span>Program Monitoring Information</span>
    </div>

    <app-reusable-skeleton-table *ngIf="!dataLoaded"
      [setData]="{ columns: 12, rows: 10 }"></app-reusable-skeleton-table>

    <form [formGroup]="form" *ngIf="form">
      <table mat-table [dataSource]="dataSource" formArrayName="items" class="table-full-width">
        <ng-container matColumnDef="labelText">
          <th class="row-title-left" mat-header-cell *matHeaderCellDef> Intervention year </th>
          <td class="row-title-left" mat-cell *matCellDef="let element">
            {{element.labelText}}
            <i *ngIf="element.isCalculated && element.rowNotes" class="fas fa-question-circle"
              matTooltip="{{element.rowNotes}}"></i>
          </td>
        </ng-container>

        <ng-container *ngFor="let year of [0,1,2,3,4,5,6,7,8,9]; last as omitCopyButton" [matColumnDef]="'year' + year">
          <th mat-header-cell *matHeaderCellDef> {{ baseYear + year }} </th>
          <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
            <app-ce-input-field [index]="index" [year]="year" [element]="element" [form]="form" [tableData]="dataSource"
              [dirtyIndexes]="dirtyIndexes" [includeCopyRightButton]="!omitCopyButton"></app-ce-input-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="source">
          <th mat-header-cell *matHeaderCellDef> Source </th>
          <td mat-cell *matCellDef="let element; let index = index">
            <span>
              <button class="sourceBtn" *ngIf="!element.isCalculated && dirtyIndexes.includes(index) === false"
                mat-button color="primary" matTooltip="{{element.dataSource}}">
                {{element.dataSource}}
                <!-- GFDx<mat-icon>arrow_right_alt</mat-icon> -->
              </button>
              <button *ngIf="!element.isCalculated && dirtyIndexes.includes(index)" mat-button color="primary">
                User Input
              </button>
              <button *ngIf="element.isCalculated && dirtyIndexes.includes(index)" mat-button color="primary">
                User Overridden
              </button>
              <button *ngIf="element.isCalculated && dirtyIndexes.includes(index) === false" mat-button color="primary">
                Model calculation
              </button>
            </span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;let i = index"></tr>
      </table>
    </form>
    <app-intervention-step-details (resetValues)="resetForm()" [resetDefaultValues]="true" [showFocusMn]="false"
      [showUserValues]="true" [showUserOverrideValues]="true" [showNonEditable]="true" [showMnUnits]="false"
      [showAddMicronutrient]="false"></app-intervention-step-details>

  </div>
  <footer>
    <a class="intervention-navigation" mat-stroked-button
      [routerLink]="ROUTES.INTERVENTION_REVIEW_INDUSTRY_INFORMATION | route" queryParamsHandling="preserve">Back</a>
    <a class="intervention-navigation" mat-stroked-button [routerLink]="ROUTES.COST_EFFECTIVENESS | route"
      queryParamsHandling="preserve">Save and close</a>
    <button [disabled]="loading" class="intervention-navigation-confirm" mat-flat-button color="primary"
      (click)="confirmAndContinue(ROUTES.INTERVENTION_REVIEW_STARTUP_SCALEUP_COSTS)">
      <span *ngIf="!loading">Confirm and continue</span>
      <span *ngIf="loading">Recalculating model values&nbsp;<mat-spinner class="loading-indicator" aria-label="spinner"
          [diameter]="16" color='accent'></mat-spinner></span>
    </button>
  </footer>
</div>