

:host {
  display: flex;
  height: 100%;
}

.wrapper {
  flex: 1 1;
  position: relative;
  border: 1px solid #703aa3;
  border-radius: 5px;
  overflow: hidden;
  margin: 5px;
  display: flex;
  flex-direction: column;
  & .card-container {
    flex: 1 1;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
  }
}

.example-spacer {
  flex: 1 1 auto;
  text-align: center;
  font-size: 17px;
}

mat-toolbar {
  height: 40px;
}

.loading-indicator {
  z-index: 1000;
  background-color: #afafaf40;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
