<div class="card-container">
  <mat-toolbar color="primary">
    <button *ngIf="showSettings" (click)="functionSettings()" mat-icon-button class="example-icon"
      aria-label="Settings icon">
      <mat-icon>settings</mat-icon>
    </button>
    <span class="example-spacer">{{title}}</span>
    <button *ngIf="showExpand" (click)="functionExpand()" mat-icon-button class="example-icon" aria-label="Modal icon">
      <mat-icon>launch</mat-icon>
    </button>
  </mat-toolbar>
  <ng-content>
  </ng-content>
</div>
