// .card-container {
//   position: relative;
//   flex: 1 0;
//   margin: 5px;
//   border: 1px solid #703aa3;
//   border-radius: 5px;
//   background-color: #f8f8f8;
//   height: 100%;
// }

.example-spacer {
  flex: 1 1 auto;
  text-align: center;
  font-size: 17px;
}

mat-toolbar {
  height: 40px;
}
