.container-row {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}

.element-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  margin: 2em;
  width: 200px;
  max-width: 250px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.status-element {
  display: block;
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.status-map-select {
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translate(-50%);
  z-index: 999;
}

.data-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 0px;
  grid-column-gap: 10px;
  margin-left: 140px;
}

.pull-right {
  text-align: right;
}

.pull-left {
  text-align: left;
}

mat-form-field {
  width: 30%;
  min-width: 300px;
}

.spacer {
  margin-left: 20px;
  margin-right: 20px;
}

.vertical-divider {
  position: relative;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 50px;
  margin-left: 50px;
}
