.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  margin: 20px;
}

.grid-element {
  display: block;
  width: calc(vw / 2);
  border: 1px solid #ccc;
  border-radius: 5px;
}

.status-chart-header {
  display: block;
  height: 50px !important;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
}

.status-chart-data {
  display: block;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
}

.data-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 0px;
  grid-column-gap: 10px;
  height: 120px !important;
  margin-left: 140px !important;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}
