<ng-template #componentTemplate>
    <mat-tab-group mat-align-tabs="center" (selectedTabChange)="tabChanged($event)">
        <mat-tab label="Map">

            <div #map1></div>

            <div class="status-map-select">
                <mat-form-field appearance="fill">
                    <mat-label>Select data</mat-label>
                    <mat-select [formControl]="dataTypes" (selectionChange)="dataSelected($event.value)">
                        <mat-option *ngFor="let dataType of dataList" [value]="dataType">{{dataType}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </mat-tab>

        <mat-tab label="Table">
            <div class="bmgf-maps-nice-scrollbar">
                <div class="status-element">
                    <mat-form-field appearance="outline">
                        <mat-label>Select data</mat-label>
                        <mat-select [formControl]="dataTypes" (selectionChange)="dataSelected($event.value)">
                            <mat-option *ngFor="let dataType of dataList" [value]="dataType">{{dataType}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <span class="spacer"> by </span>
                    <mat-form-field appearance="outline">
                        <mat-label>Select a charactersitic</mat-label>
                        <mat-select [formControl]="characteristics"
                            (selectionChange)="charactersiticSelected($event.value)">
                            <mat-option *ngFor="let characteristic of characteristicList" [value]="characteristic">
                                {{characteristic}}</mat-option>
                        </mat-select>
                    </mat-form-field>


                </div>
                <div class="status-element">
                    <table mat-table [dataSource]="dataSource" matSort>
                        <ng-container matColumnDef="a" sticky>
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Region</th>
                            <td mat-cell *matCellDef="let element"></td>
                        </ng-container>
                        <ng-container matColumnDef="b">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>N</th>
                            <td mat-cell *matCellDef="let element"></td>
                        </ng-container>
                        <ng-container matColumnDef="c">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Deficient</th>
                            <td mat-cell *matCellDef="let element"></td>
                        </ng-container>
                        <ng-container matColumnDef="d">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Confidence interval (95%)</th>
                            <td mat-cell *matCellDef="let element"></td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    </table>
                </div>
                <div class="status-element">
                    <span>Description of how deficiency/excess was measured and details about groups</span>
                </div>
                <div class="status-element">
                    <span><b>Total samples (N) - {{ totalSamples }}</b></span>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Chart">
            <div class="bmgf-maps-nice-scrollbar">
                <div class="status-element">
                    <mat-form-field appearance="outline">
                        <mat-label>Select data</mat-label>
                        <mat-select [formControl]="dataTypes" (selectionChange)="dataSelected($event.value)">
                            <mat-option *ngFor="let dataType of dataList" [value]="dataType">{{dataType}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="status-element">
                    Vulputate mi sit amet mauris commodo quis imperdiet massa. Suspendisse ultrices gravida dictum fusce
                    ut
                    placerat orci. Dictumst quisque sagittis purus sit amet
                </div>
                <div class="status-element">
                    <ngx-chartjs id="box-chart" *ngIf="chartData" [data]="chartData.data" [type]="chartData.type"
                        [options]="chartData.options" [plugins]="chartData.plugins">
                    </ngx-chartjs>
                </div>
                <div class="status-element data-grid">
                    <span class="pull-right">Deficiency threshold</span>
                    <span class="pull-left"> {{ defThreshold }} &micro;g/dL</span>
                    <span class="pull-right">Threshold for abnormal values</span>
                    <span class="pull-left"> {{ abnThreshold }} &micro;g/dL</span>
                    <span class="pull-right">Outliers</span>
                    <span class="pull-left">
                        <mat-slide-toggle [formControl]="outlierControl" (change)="toggleShowOutlier()">
                        </mat-slide-toggle>
                        <span *ngIf="showOutliers; else dontShow"> Shown</span>
                        <ng-template #dontShow> Hidden</ng-template>
                    </span>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Download">
            <div class="bmgf-maps-nice-scrollbar">
                <div class="status-element">
                    <h2>Select the data to download</h2>
                </div>
                <div class="status-element">
                    <span><b>Deficiency</b></span>
                    <span class="vertical-divider"></span>
                    <span><b>Excess</b></span>
                    <span class="vertical-divider"></span>
                    <span><b>Combined deficiency and excess</b></span>
                    <span class="vertical-divider"></span>
                    <span><b>Continuous data</b></span>
                </div>
            </div>
        </mat-tab>

    </mat-tab-group>
</ng-template>

<ng-container *ngIf="(null != dialogData) else componentTemplate">
    <app-base-dialog [data]="dialogData" [title]="title">
        <ng-container *ngTemplateOutlet="componentTemplate"></ng-container>
    </app-base-dialog>
</ng-container>