<mat-menu #settingsMenu="matMenu">
  <button mat-menu-item (click)="openMapSettings()"><i class="fas fa-map"></i> Map Settings</button>
  <button mat-menu-item [disabled]="true"><i class="fas fa-table"></i> Table Settings</button>
  <button mat-menu-item [disabled]="true"><i class="fas fa-chart-bar"></i> Chart Settings</button>
</mat-menu>

<ng-template #componentTemplate>
  <mat-tab-group mat-align-tabs="center" (selectedTabChange)="tabChanged($event)" [(selectedIndex)]="selectedTab">
    <mat-tab label="Aggregated Threshold Percentages" *ngIf="dataListMap.size > 0">
      <div class="bmgf-maps-nice-scrollbar">
        <div *ngIf="!biomarkerDataUpdating" class="status-element">
          <span class="spacer">Prevalence of</span>
          <mat-form-field appearance="outline">
            <mat-label>Select a Threshold</mat-label>
            <mat-select [ngModelOptions]=" 
            {standalone: true}" [(ngModel)]="selectedDataTypeKey" (selectionChange)="setDataSelection($event.value)">
              <mat-option *ngFor="let dataType of dataListMap | keyvalue"
                [value]="dataType.key">{{dataType.key.replace('_', ' ') | titlecase}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <span class="spacer"> aggregated by </span>
          <mat-form-field appearance="outline" *ngIf="biomarkerDataSrc">
            <mat-label>Select an Aggregation Field</mat-label>
            <mat-select [(value)]="selectedAggregationField"
              (selectionChange)="setCharacteristicSelection($event.value)">
              <mat-option *ngFor="let aggField of biomarkerDataSrc.aggFields" [value]="aggField">
                {{aggField.replace('_', ' ') | titlecase}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="status-element">
          <app-status-table [aggregationThresholdData]="selectedDataType"
            [biomarkerDataUpdating]="biomarkerDataUpdating" [thresholdList]="thresholds"
            [threshold]="thresholds[selectedDataType.key]"></app-status-table>
        </div>
      </div>
    </mat-tab>

    <mat-tab label=" Aggregated Box-and-Whisker Chart">
      <div class="bmgf-maps-nice-scrollbar">
        <div class="status-element">
          <span class="spacer">Statistics aggregated by </span>
          <mat-form-field appearance="outline" *ngIf="biomarkerDataSrc">
            <mat-label>Select an Aggregation Field</mat-label>
            <mat-select [(value)]="selectedAggregationField"
              (selectionChange)="setCharacteristicSelection($event.value)">
              <mat-option *ngFor="let aggField of biomarkerDataSrc.aggFields" [value]="aggField">
                {{aggField.replace('_', ' ') | titlecase}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <app-status-chart [biomarkerData]="selectedNutrient"
          [biomarkerDataUpdating]="biomarkerDataUpdating"></app-status-chart>
      </div>
    </mat-tab>

    <mat-tab label="About {{title}}">
      <div class="about-container">
        <h2>About {{title}}</h2>

        <h3>Haemoglobin</h3>
        <p>Haemoglobin was measured on venous blood and analysed on HemoCue 301. Values were adjusted for altitude and
          smoking according to Sharma et al (<a href="https://pubmed.ncbi.nlm.nih.gov/31231812/"
            target="_blank">https://pubmed.ncbi.nlm.nih.gov/31231812/</a>). Values under 4 and above 18g/dL
          were considered biologically implausible and removed from the dataset according to Sharma et al
          (<a href="https://pubmed.ncbi.nlm.nih.gov/31231812/"
            target="_blank">https://pubmed.ncbi.nlm.nih.gov/31231812/</a>).</p>



        <h3>Ferritin</h3>
        <p>Ferritin was measured on serum and analysed using enzyme linked Immunosorbent assay (ELISA) at the VitMin
          lab.</p>

        <h3>sTfR</h3>

        <p>Soluble transferrin receptors (sTfR) were measured on serum and analysed using enzyme linked Immunosorbent
          assay (ELISA) at the VitMin lab.</p>
      </div>

    </mat-tab>

  </mat-tab-group>
</ng-template>

<ng-container *ngIf="(null != dialogData) else componentTemplate">
  <app-base-dialog [data]="dialogData" [title]="title">
    <ng-container *ngTemplateOutlet="componentTemplate"></ng-container>
  </app-base-dialog>
</ng-container>