<div class="bmgf-maps-nice-scrollbar container">
  <div class="content">
    <app-intervention-description></app-intervention-description>

    <mat-tab-group mat-align-tabs="center" [(selectedIndex)]="selectedTab">
      <mat-tab label="Quick Summary">
        <div class="tab-content">
          <h2>Quick summary</h2>
          <p>The quick cost summary shows annual average costs, 10-year total costs, and other summary cost metrics.</p>
          <mat-tab-group mat-align-tabs="center" class="nested-tab-group" [(selectedIndex)]="selectedTabSummary">
            <mat-tab label="Table">
              <app-reusable-skeleton-table *ngIf="!summaryCosts"
                [setData]="{ columns: 11, rows: 1 }"></app-reusable-skeleton-table>
              <app-intervention-cost-summary-quick-summary-table *ngIf="null != summaryCosts"
                [summaryCosts]="summaryCosts">
              </app-intervention-cost-summary-quick-summary-table>
              <!-- <app-intervention-cost-summary-quick-undiscounted-table *ngIf="null != summaryCosts"
                [summaryCosts]="summaryCosts">
              </app-intervention-cost-summary-quick-undiscounted-table>

              <app-intervention-cost-summary-quick-discounted-table *ngIf="null != summaryCosts"
                [summaryCosts]="summaryCosts">
              </app-intervention-cost-summary-quick-discounted-table> -->
            </mat-tab>
            <!-- <mat-tab label="Graph">
              <app-intervention-cost-summary-quick-total-graph [summaryCosts]="summaryCosts"
                *ngIf="selectedTabSummary === 1">
              </app-intervention-cost-summary-quick-total-graph>
            </mat-tab>
            <mat-tab label="Download">
              <app-download [chartDownloadPNG]="chartSummaryPNG" [chartDownloadPDF]="chartSummaryPDF"></app-download>
            </mat-tab> -->
          </mat-tab-group>
        </div>
      </mat-tab>

      <mat-tab label="Detailed Summary">
        <div class="tab-content">
          <h2>Detailed summary</h2>
          <p>The detailed cost summary shows intervention costs grouped by activity for each year of the 10-year
            modeling time horizon.</p>
          <mat-tab-group mat-align-tabs="center" class="nested-tab-group">
            <mat-tab label="Table">
              <app-intervention-cost-summary-detailed-startup-table *ngIf="null != startupCosts"
                [startUpScaleUpCosts]="startupCosts">
              </app-intervention-cost-summary-detailed-startup-table>
              <app-intervention-cost-summary-detailed-recurring-table *ngIf="null != recurringCosts"
                [recurringCost]="recurringCosts">
              </app-intervention-cost-summary-detailed-recurring-table>
            </mat-tab>
            <mat-tab label="Graph">
              <app-intervention-cost-summary-detailed-total-graph *ngIf="null != recurringCosts"
                [recurringCost]="recurringCosts"></app-intervention-cost-summary-detailed-total-graph>
            </mat-tab>
            <mat-tab label="Download">
              <app-download [chartDownloadPNG]="chartDetailedPNG" [chartDownloadPDF]="chartDetailedPDF"></app-download>
            </mat-tab>
          </mat-tab-group>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <footer>
    <a class="intervention-navigation" mat-stroked-button
      [routerLink]="ROUTES.INTERVENTION_REVIEW_RECURRING_COSTS | route" queryParamsHandling="preserve">Back</a>
    <a class="intervention-navigation-confirm" mat-flat-button color="primary" color="primary" (click)="onSubmit()"
      queryParamsHandling="preserve">Confirm costs</a>
  </footer>
</div>