<div class="container">
  <span>
    <strong>{{ (quickMapsService.country.obs | async)?.name }} {{ (quickMapsService.micronutrient.obs|
      async)?.name
      }}
      Status</strong>
    in
    <strong>{{ (quickMapsService.ageGenderGroup.obs | async).name }}</strong>
    ({{ (quickMapsService.biomarkerDataSource.obs | async)?.year }})
  </span>
  <span class="separator"></span>
  <span *ngIf="activeBiomarker">
    <div class="loading-indicator" *ngIf="loading">
      <mat-spinner [diameter]="16" aria-label="spinner" color='accent'></mat-spinner>
    </div>
    <span *ngIf="!loading && keys(activeBiomarker.totalThresholds).length < 1">
      <em>No adequacy thresholds available for {{ (quickMapsService.biomarkerDataSource.obs | async)?.biomarkerName |
        titlecase
        }}</em>
    </span>
    <span *ngIf="!loading">
      <span *ngFor="let threshold of keys(activeBiomarker.totalThresholds);">
        {{ threshold | titlecase }}: <strong class="red">{{ activeBiomarker.totalThresholds[threshold][0][threshold] |
          percent
          }}</strong>
      </span>
    </span>
  </span>
</div>