<div class="container">
  <span>
    <strong>{{ quickMapsService.country.name }} {{ quickMapsService.micronutrient.name }} Status</strong>
    in
    <strong>{{ quickMapsService.ageGenderGroup.name }}</strong>
    - {{ quickMapsService.dataSource.year }}
  </span>
  <span class="separator"></span>
  <span>
    Deficient: <strong class="red">{{ 0.22 | percent }}</strong>
  </span>
  <span>
    Excess: <strong class="red">{{ 0.22 | percent }}</strong>
  </span>
  <span>
    Adequate: <strong class="green">{{ 0.22 | percent }}</strong>
  </span>
</div>
