@import "src/assets/scss/_colour";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.scroll-area {
  overflow-y: scroll;
}

form {
  padding: 1em;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  transition: opacity 1s ease;

  & .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    width: 100%;
  }

}

i {
  margin-left: 1em;
}

h2 {
  font-weight: 600;
  margin-bottom: 0em;
}

h3 {
  color: $color_grey;
  margin-top: 0.5em;
}

.heading-row {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  cursor: pointer;
  &:hover {
    color: $color_blue_form;
  }

  & .minimize-button {
    position: absolute;
    right: 0;
    & i {
      font-size: 25px;
      margin: auto;
    }
  }

  & h2 {
    width: 100%;
    text-align: center;
  }
 
}
.footer-row {
  display: flex;
  justify-content: center;
  
  & button {
    margin: 1em 0;
  }
}

.slim-sidenav {
  //// opacity doesnt seem to be affected in form...
  & * {
    opacity: 0;
    display: none;
    transition: all 2s;
    transition-property: display, opacity;

    & form {
      opacity: 0;
    }
  }
}

.heading {
  & h2 {
    opacity: 1;
    display: block;
    transform: rotate(90deg);
    position: absolute;
    top: 30px;
    width: 2em;
    white-space: nowrap;
    transition: transform 0.4s ease;
  }
}
