<div class="heading-row" [ngClass]="(quickMapsService.slim.obs | async) ? 'slim-sidenav heading' : ''">
  <button class="minimize-button" mat-icon-button type="button" [disabled]="sideNavToggleLock.value"
    (click)="minimiseSideNav()" aria-label="Toggle sidebar">
    <i class="fas fa-caret-left"></i>
  </button>
  <h1 aria-level="1" id="qmSideNavTitle" (click)="minimiseSideNav()">Quick MAPS</h1>
  <mat-slide-toggle matTooltipClass="tooltip" [formControl]="sideNavToggleLock" color="primary"
    [matTooltip]="sideNavToggleLock.value === true ? 'Unlock Side-Nav' : 'Lock Side-Nav'"
    aria-label="Slide nav toggle lock">
  </mat-slide-toggle>
</div>

<div *ngIf="null != quickMapsForm && (quickMapsService.slim.obs | async) === false"
  class="bmgf-maps-nice-scrollbar scroll-area">
  <form [formGroup]="quickMapsForm" id="quickMapsForm"
    [ngClass]="(quickMapsService.slim.obs | async) ? 'slim-sidenav' : ''">
    <fieldset name="geographyOfInterest" appTour tourName="Quick MAPS Sidebar" tourStage="0"
      tourDescription="Select your geography of interest" tourTitle="Select a nation" tourPosition="right"
      (tourEnterFunction)="tourSetNation('MWI')">
      <legend>
        <span class=" field-title">
          <h2>Geography of interest</h2>
          <a class="map-button" mat-button [routerLink]="ROUTES.QUICK_MAPS_LOCATION_SELECT | route"
            [queryParams]="route.queryParams | async" routerLinkActive [routerLinkActiveOptions]="{ exact: true }"
            #rla="routerLinkActive" [disabled]="rla.isActive" aria-label="Map location select"><i
              class="fas fa-map-marked-alt"></i></a>
          <i class="fas fa-question-circle" matTooltip="Select via dropdown menu or via interactive map"></i>
        </span>
      </legend>

      <!-- <div class="toggle-buttons">
        <mat-button-toggle-group #group="matButtonToggleGroup" name="geographyInterest"
          (change)="geographyTypeChange($event.value)" aria-label="Geography of interest"
          [value]="selectedGeographyType">
          <mat-button-toggle [value]="GEOGRAPHY_TYPE_ENUM.COUNTRY">Single nation</mat-button-toggle>
          <mat-button-toggle disabled [value]="GEOGRAPHY_TYPE_ENUM.REGION">Multinational area </mat-button-toggle>
        </mat-button-toggle-group>
      </div> -->

      <mat-form-field appearance="fill" aria-label="Geography of interest">
        <mat-select id="qmSelectNation" name="nation" formControlName="nation" [placeholder]="'Select a country'">
          <mat-option id="qmSelectNationOption" *ngFor="let item of geographyOptionArray" [value]="item">
            {{ item.name }}
          </mat-option>
        </mat-select>
        <mat-error>Please select a country</mat-error>
      </mat-form-field>
    </fieldset>

    <fieldset id="nutrients" appTour tourName="Quick MAPS Sidebar" tourStage="1"
      tourDescription="Select your nutrient of interest.  Chose from Vitamins, Minerals or Other."
      tourTitle="Select a nutrient" tourPosition="right" (tourEnterFunction)="tourSetMicronutrient('Ca')">
      <legend>
        <span class="field-title">
          <h2>Nutrients to explore</h2>
          <i class="fas fa-question-circle" matTooltip="Nutrients available in the tool database"></i>
        </span>
      </legend>
      <div class="toggle-buttons">
        <mat-button-toggle-group #groupMND="matButtonToggleGroup" aria-label="MNDs of interest"
          (change)="mndChange($event.value)" [value]="selectedMndType">
          <mat-button-toggle id="qmSelectMNDVitamin" [value]="MICRONUTRIENT_TYPE_ENUM.VITAMIN">Vitamin
          </mat-button-toggle>
          <mat-button-toggle id="qmSelectMNDMineral" [value]="MICRONUTRIENT_TYPE_ENUM.MINERAL">Mineral
          </mat-button-toggle>
          <mat-button-toggle id="qmSelectMNDOther" [value]="MICRONUTRIENT_TYPE_ENUM.OTHER">Other</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <ng-container>
        <mat-form-field appearance="fill">
          <mat-select id="qmSelectMND" name="micronutrient" formControlName="micronutrient"
            [placeholder]="'Select ' + groupMND?.value + ' option'">
            <mat-option *ngFor="let mnd of selectMNDsFiltered" [value]="mnd">{{ mnd.name }}</mat-option>
          </mat-select>
          <mat-error>Please select a ({{groupMND.value}})</mat-error>
        </mat-form-field>
      </ng-container>
    </fieldset>

    {{quickMapsForm.valid }}
    {{btnViewResultsActive}}
    {{showGoButton}}
    <fieldset id="measure" appTour tourName="Quick MAPS Sidebar" tourStage="2"
      tourDescription="Select food systems or biomarker data (where available) for micronutrient availability calculations"
      tourTitle="Select data to use" tourPosition="right">
      <legend>
        <div class="field-title">
          <h2>Data to use</h2>
          <i class="fas fa-question-circle" matTooltip="Select food systems or biomarker, if both are available"></i>
        </div>
      </legend>
      <div class="toggle-buttons">
        <mat-button-toggle-group aria-label="Data to use" formControlName="measure">
          <mat-button-toggle [value]="MICRONUTRIENT_MEASURE_TYPE_ENUM.FOOD_SYSTEMS" [disabled]="!measureDietEnabled">
            Food Systems
          </mat-button-toggle>
          <mat-button-toggle #biomarkerToggle [value]="MICRONUTRIENT_MEASURE_TYPE_ENUM.BIOMARKER"
            [disabled]="!measureBiomarkerEnabled">
            Biomarker Data
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </fieldset>

    <div [hidden]="!biomarkerToggle.checked">
      <fieldset>
        <legend>
          <div class="field-title">
            <h2>Age-gender-group</h2>
            <i class="fas fa-question-circle"
              matTooltip="You can choose from the original biomarker survey demographic groups"></i>
          </div>
        </legend>
        <mat-form-field appearance="fill">
          <mat-select name="ageGenderGroup" formControlName="ageGenderGroup" placeholder="Click to select option"
            panelClass="allow-long-text">
            <mat-option *ngFor="let item of ageGenderGroupsDictionary.itemsObs | async" [value]="item">{{ item.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </fieldset>
    </div>

    <div [hidden]="!biomarkerToggle.checked">
      <fieldset>
        <legend>
          <div class="field-title">
            <h2>Biomarker</h2>
            <i class="fas fa-question-circle" matTooltip="Placeholder"></i>
          </div>
        </legend>
        <mat-form-field appearance="fill">
          <mat-select name="biomarkerSelect" formControlName="biomarkerSelect"
            [placeholder]="(0 < biomarkerNames.length) ? 'Click to select option' : 'None available'"
            panelClass="allow-long-text">
            <mat-option *ngFor="let item of biomarkerNames" [value]="item">{{item.biomarkerName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </fieldset>
    </div>

    <fieldset appTour tourName="Quick MAPS Sidebar" tourStage="3"
      tourDescription="Quick MAPS will select the best available data in the tool based on your chosen selections"
      tourTitle="Review source data selection" tourPosition="right">
      <legend class="flex-row">
        <span class="field-title">
          <h2>Data source</h2>
          <i class="fas fa-question-circle"
            matTooltip="QuickMAPS will default to the latest available dataset from your choices above"></i>
        </span>
      </legend>
      <mat-form-field appearance="fill">
        <mat-select #dataSourceSelect name="dataSource" formControlName="dataSource"
          [placeholder]="(0 < dataSources.length) ? 'Click to select option' : 'None available'"
          panelClass="allow-long-text">
          <mat-option *ngFor="let item of dataSources" [value]="item">{{item.name}}
          </mat-option>
        </mat-select>
        <mat-error>{{(0 < dataSources.length) ? 'Please select a data source'
            : '*No data source available for this selection' }}</mat-error>
      </mat-form-field>
    </fieldset>
  </form>
</div>

<div class="footer-row" [class.show]="showGoButton"
  [ngClass]="(quickMapsService.slim.obs | async) ? 'slim-sidenav heading' : ''" appTour tourName="Quick MAPS Sidebar"
  tourStage="4" tourDescription="Click view results to move to the Baseline Data dashboard" tourTitle="View Results"
  tourPosition="right" (tourForwardFunction)="submitForm()" tourTrigger="Quick MAPS Baseline Data">
  <div class="results-text" *ngIf="btnViewResultsActive === false"><i class="fas fa-info-circle"></i> No data sources
    available for this selection</div>
  <button *ngIf="quickMapsService.measure.get() === MICRONUTRIENT_MEASURE_TYPE_ENUM.FOOD_SYSTEMS"
    id="button-view-results" mat-flat-button color="primary" form="quickMapsForm" (click)="submitForm()"
    [disabled]="btnViewResultsActive === false">View results</button>
</div>

<div class="footer-row" [class.show]="showGoButton">
  <button [hidden]=" (quickMapsService.slim.obs | async)===true"
    *ngIf="quickMapsService.measure.get() === MICRONUTRIENT_MEASURE_TYPE_ENUM.BIOMARKER" mat-flat-button color="primary"
    form="quickMapsForm" (click)="submitForm()" [disabled]="viewBiomarkerResultsButtonDisabled">View Biomarker
    results</button>
</div>