.holding-container {
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4em;
  max-height: 4em;
  & .mat-snackbar-close {
    margin-right: 2em;
    box-shadow: none;
    &.negative {
      background-color: #fdefef;
    }
    & i.fas {
      &.negative {
        color: #ed6a6a;
      }
    }
  }
}
.positive {
  &.holding-container {
    background-color: green;
    border: 10px solid darkgreen;
  }
  & .mat-snackbar-close {
    background-color: darkgreen;
  }
  & .notification-symbol {
    border-right: 5px solid darkgreen;
  }
}
.negative {
  &.holding-container {
    background-color: #fdefef;
    // border: 10px solid #fdefef;
  }

  & .notification-symbol {
    border: 1px solid #ed6a6a;
  }
}
.warning {
  &.holding-container {
    background-color: orangered;
    border: 10px solid orange;
  }
  & .mat-snackbar-close {
    background-color: orange;
  }
  & .notification-symbol {
    border-right: 5px solid orange;
  }
}

.notification-symbol {
  border-radius: 50%;
  width: 1em;
  padding: 0.5em;
  margin-left: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  i.fas {
    &.negative {
      color: #ed6a6a;
    }
  }
}

.message-container {
  width: 100%;
  margin-left: 0.5em;
  display: flex;
  .message-class {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    color: #000000;
    font-family: 'Quicksand';
    font-size: 1.4rem;
    font-weight: 700;
  }
  .message-emitted {
    padding: 2px;
    font-size: 1.2rem;
    margin-left: 0.5em;
    color: #000000;
    font-weight: 700;
  }
}
