<div class="content">
  <h2>Intervention details</h2>
  <h3>Review/edit the information in the steps below</h3>

  <mat-vertical-stepper class="intervention-steps" linear="true" #interventionStepper
    [selectedIndex]="currentStepPosition">
    <mat-step>
      <ng-template matStepLabel>Baseline assumptions</ng-template>
      <p>Information about this step.</p>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Compliance over time</ng-template>
      <p>Information about this step.</p>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Point of consumption</ng-template>
      <p>Information about this step.</p>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Review of program assumptions</ng-template>
      <p>Information about this step.</p>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Industry information</ng-template>
      <p>Information about this step.</p>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Monitoring information</ng-template>
      <p>Information about this step.</p>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Startup/Scaleup costs</ng-template>
      <p>Information about this step.</p>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Recurring costs</ng-template>
      <p>Information about this step.</p>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Cost summary</ng-template>
      <p>Information about this step.</p>
    </mat-step>
  </mat-vertical-stepper>
</div>