<div class="container">
  <mat-spinner aria-label="spinner" *ngIf="loading" color="accent"></mat-spinner>
  <ng-container *ngIf="!loading">
    <div class="wideItem left-text" *ngIf="!showFullData">
      <div>
        <span class="estimateHeader">National Median:</span>
        <span class="estimateValue blue">
          {{(null == projectionsSummary?.nationalMedian) ? '-' : projectionsSummary.nationalMedian | sigFig:3 | number}}
        </span>
        <small
          *ngIf="DATA_LEVEL.HOUSEHOLD === (quickMapsService.FoodSystemsDataSource.obs | async)?.dataLevel">({{quickMapsService.micronutrient.get().unit}}
          (AFE) per day)</small>
        <small
          *ngIf="DATA_LEVEL.COUNTRY === (quickMapsService.FoodSystemsDataSource.obs | async)?.dataLevel">({{quickMapsService.micronutrient.get().unit}}
          per capita per day)</small>
      </div>
      <div>
        <span class="estimateHeader">Adequacy Threshold:</span>
        <span class="estimateValue green">{{(null == targetCalc) ? '-' : targetCalc | sigFig:3 | number}}</span>
        <small>({{quickMapsService.micronutrient.get().unit}}
          (AFE) per day)</small>
      </div>
      <div>
        <span class="estimateHeader"
          *ngIf="DATA_LEVEL.HOUSEHOLD === (quickMapsService.FoodSystemsDataSource.obs | async)?.dataLevel">Prevalence of
          inadequate supply:</span>
        <span class="estimateHeader"
          *ngIf="DATA_LEVEL.COUNTRY === (quickMapsService.FoodSystemsDataSource.obs | async)?.dataLevel">Inadequacy:</span>
        <span class="wrap-15">{{(null == projectionsSummary?.inadequacyStatement) ? '-' :
          projectionsSummary.inadequacyStatement }}</span>
      </div>
    </div>
    <div class="wideItem left-text" *ngIf="showFullData">
      <div class="nation">
        <span class="estimateHeader">Estimate ({{(null == projectionsSummary?.referenceYear) ? '-' :
          projectionsSummary.referenceYear}}):</span>
        <span class="estimateValue blue">
          {{(null == currentEstimateCalc) ? '-' : currentEstimateCalc | sigFig:3 | number}}
        </span>
        <small>({{massNameValue.name}} per {{timeScaleNameValue.name}})</small>
      </div>


      <div class="vitamin">
        <span class="estimateHeader">Target:</span>
        <span class="estimateValue green">{{(null == targetCalc) ? '-' : targetCalc | sigFig:3 | number}}</span>
        <small>({{massNameValue.name}} per {{timeScaleNameValue.name}})</small>
      </div>

      <div class="baseline">
        <span class="estimateHeader">Difference:</span>
        <span class="estimateValue" [ngClass]="(projectionsSummary?.difference < 0)? 'red': 'green'">
          {{(null == projectionsSummary?.difference) ? '- ' : projectionsSummary.difference | number:'1.0-0'}}%
          <i class="fas fa-question-circle margin-left" [matTooltip]="(null == differenceQuantity) ? '-' : (differenceQuantity | sigFig:3 | number)
        + massNameValue.name + ' per ' + timeScaleNameValue.name + ' (3.s.f)'" style="color: grey;"></i>
        </span>
      </div>
    </div>

    <div class="wideItem form" *ngIf="showFullData">

      <mat-form-field appearance="outline" aria-label="amount" class="width-quantity">
        <mat-label>Quantity</mat-label>
        <mat-select [(ngModel)]="massNameValue" (selectionChange)="calculate()" placeholder="amount">
          <mat-option *ngFor="let item of massArray" [value]="item">

            {{item.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <span class="item bold">per person</span>

      <mat-form-field appearance="outline" aria-label="time scale" class="width-time">
        <mat-label>Time</mat-label>
        <mat-select [(ngModel)]="timeScaleNameValue" (selectionChange)="calculate()" placeholder="time scale">
          <mat-option *ngFor="let item of timeScaleArray" [value]="item"> per {{item.name}} </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="wideItem right-text">
      <span class="wrap-30">
        Under 'Business as usual' conditions, threshold projected to be reached in &nbsp;
        <strong>{{(null == projectionsSummary?.intersectYear) ? '-' : projectionsSummary.intersectYear}}</strong>
        <i class="fas fa-question-circle margin-left"
          matTooltip="Using moderate assumptions of economic and population growth, and no interventions,
      per capita consumption of {{(quickMapsService.micronutrient.obs | async)?.name}} is expected to reach recommended levels by {{(null == projectionsSummary?.intersectYear) ? '-' : projectionsSummary.intersectYear}}."
          style="color: grey;"></i>
      </span>
      <span *ngIf="showProjectionLink">
        <a id="explore-projection-link" [routerLink]="ROUTES.QUICK_MAPS_PROJECTION | route"
          [queryParams]="route.queryParams | async" routerLinkActive="active-route" class="explore-projection-text">
          Explore projections (2005 to 2050)<i class="fas fa-arrow-right"></i>
        </a>
      </span>
    </div>
  </ng-container>
</div>