<ng-template #componentTemplate>

  <mat-tab-group mat-align-tabs="center" [(selectedIndex)]="selectedTab">
    <mat-tab label="Chart">
      <ngx-chartjs *ngIf="chartData" [data]="chartData.data" [type]="chartData.type" [options]="chartData.options">
      </ngx-chartjs>
    </mat-tab>

    <mat-tab label="Table">
      <div class="bmgf-maps-nice-scrollbar">
        <div class="heading">
          <h2>Projected {{ micronutrientName | lowercase }} availability to 2050</h2>
          <h4>The data shows the projected {{ micronutrientName | lowercase }} availability per capita per day</h4>
        </div>
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.header }}</th>
            <td mat-cell *matCellDef="let row">{{ column.cell(row) }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </mat-tab>

    <mat-tab label="Download">
      <app-download [chartDownloadPNG]="chartPNG" [chartDownloadPDF]="chartPDF" [dataArray]="dataSource?.data">
      </app-download>
    </mat-tab>

    <mat-tab label="About {{title}}">
      <div class="about-container">
        <h2>About {{title}}</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>
      </div>

    </mat-tab>

  </mat-tab-group>
</ng-template>

<ng-container *ngIf="null != dialogData; else componentTemplate">
  <app-base-dialog [data]="dialogData" [title]="title">
    <ng-container *ngTemplateOutlet="componentTemplate"></ng-container>
  </app-base-dialog>
</ng-container>