<ng-template #componentTemplate>

  <mat-tab-group mat-align-tabs="center" [(selectedIndex)]="selectedTab">
    <mat-tab label="Chart">
      <ngx-chartjs *ngIf="chartData" [data]="chartData.data" [type]="chartData.type" [options]="chartData.options">
      </ngx-chartjs>
    </mat-tab>

    <mat-tab label="Table">
      <div class="bmgf-maps-nice-scrollbar">
        <div class="heading">
          <h2>{{ headingText }} availability</h2>
          <h4>The data shows the projected MN availability per person {{selectedTimeScale}} {{ subtHeadingText }}</h4>
        </div>
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
            <td mat-cell *matCellDef="let element">{{ element.country }}</td>
          </ng-container>

          <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Year</th>
            <td mat-cell *matCellDef="let element">{{ element.year }}</td>
          </ng-container>

          <ng-container matColumnDef="scenario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Scenario</th>
            <td mat-cell *matCellDef="let element">{{ element.scenario }}</td>
          </ng-container>

          <ng-container matColumnDef="ca">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Ca</th>
            <td mat-cell *matCellDef="let element">{{ element.ca }}</td>
          </ng-container>

          <ng-container matColumnDef="caDiff">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Ca Diff</th>
            <td mat-cell *matCellDef="let element">{{ element.caDiff }}</td>
          </ng-container>

          <ng-container matColumnDef="b9">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>B9</th>
            <td mat-cell *matCellDef="let element">{{ element.b9 }}</td>
          </ng-container>

          <ng-container matColumnDef="b9Diff">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>B9 Diff</th>
            <td mat-cell *matCellDef="let element">{{ element.b9Diff }}</td>
          </ng-container>

          <ng-container matColumnDef="fe">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fe</th>
            <td mat-cell *matCellDef="let element">{{ element.fe }}</td>
          </ng-container>

          <ng-container matColumnDef="feDiff">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fe Diff</th>
            <td mat-cell *matCellDef="let element">{{ element.feDiff }}</td>
          </ng-container>

          <ng-container matColumnDef="mg">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Mg</th>
            <td mat-cell *matCellDef="let element">{{ element.mg }}</td>
          </ng-container>

          <ng-container matColumnDef="mgDiff">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Mg Diff</th>
            <td mat-cell *matCellDef="let element">{{ element.mgDiff }}</td>
          </ng-container>

          <ng-container matColumnDef="b3">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>B3</th>
            <td mat-cell *matCellDef="let element">{{ element.b3 }}</td>
          </ng-container>

          <ng-container matColumnDef="b3Diff">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>B3 Diff</th>
            <td mat-cell *matCellDef="let element">{{ element.b3Diff }}</td>
          </ng-container>

          <ng-container matColumnDef="p">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>P</th>
            <td mat-cell *matCellDef="let element">{{ element.p }}</td>
          </ng-container>

          <ng-container matColumnDef="pDiff">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>P Diff</th>
            <td mat-cell *matCellDef="let element">{{ element.pDiff }}</td>
          </ng-container>

          <ng-container matColumnDef="k">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>K</th>
            <td mat-cell *matCellDef="let element">{{ element.k }}</td>
          </ng-container>

          <ng-container matColumnDef="kDiff">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>K Diff</th>
            <td mat-cell *matCellDef="let element">{{ element.kDiff }}</td>
          </ng-container>

          <ng-container matColumnDef="protein">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Protein</th>
            <td mat-cell *matCellDef="let element">{{ element.protein }}</td>
          </ng-container>

          <ng-container matColumnDef="proteinDiff">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Protein Diff</th>
            <td mat-cell *matCellDef="let element">{{ element.proteinDiff }}</td>
          </ng-container>

          <ng-container matColumnDef="b2">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>B2</th>
            <td mat-cell *matCellDef="let element">{{ element.b2 }}</td>
          </ng-container>

          <ng-container matColumnDef="b2Diff">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>B2 Diff</th>
            <td mat-cell *matCellDef="let element">{{ element.b2Diff }}</td>
          </ng-container>

          <ng-container matColumnDef="b1">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>B1 Diff</th>
            <td mat-cell *matCellDef="let element">{{ element.b1 }}</td>
          </ng-container>

          <ng-container matColumnDef="b1Diff">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>B1 Diff</th>
            <td mat-cell *matCellDef="let element">{{ element.b1Diff }}</td>
          </ng-container>

          <ng-container matColumnDef="a">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>A</th>
            <td mat-cell *matCellDef="let element">{{ element.a }}</td>
          </ng-container>

          <ng-container matColumnDef="aDiff">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>A Diff</th>
            <td mat-cell *matCellDef="let element">{{ element.aDiff }}</td>
          </ng-container>

          <ng-container matColumnDef="b6">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>B6</th>
            <td mat-cell *matCellDef="let element">{{ element.b6 }}</td>
          </ng-container>

          <ng-container matColumnDef="b6Diff">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>B6 Diff</th>
            <td mat-cell *matCellDef="let element">{{ element.b6Diff }}</td>
          </ng-container>

          <ng-container matColumnDef="c">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>C</th>
            <td mat-cell *matCellDef="let element">{{ element.c }}</td>
          </ng-container>

          <ng-container matColumnDef="cDiff">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>C</th>
            <td mat-cell *matCellDef="let element">{{ element.cDiff }}</td>
          </ng-container>

          <ng-container matColumnDef="zn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Zn</th>
            <td mat-cell *matCellDef="let element">{{ element.zn }}</td>
          </ng-container>

          <ng-container matColumnDef="znDiff">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Zn Diff</th>
            <td mat-cell *matCellDef="let element">{{ element.znDiff }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </mat-tab>

    <mat-tab label="Download">
      <app-download [chartDownloadPNG]="chartPNG" [chartDownloadPDF]="chartPDF" [csvObject]="dataSource?.data">
      </app-download>
    </mat-tab>

    <mat-tab label="About {{title}}">
      <div class="about-container">
        <h2>About {{title}}</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>
      </div>

    </mat-tab>

  </mat-tab-group>
</ng-template>

<ng-container *ngIf="null != dialogData; else componentTemplate">
  <app-base-dialog [data]="dialogData" [title]="title">
    <ng-container *ngTemplateOutlet="componentTemplate"></ng-container>
  </app-base-dialog>
</ng-container>