<ng-template #componentTemplate>

  <mat-tab-group mat-align-tabs="center" [(selectedIndex)]="selectedTab">
    <mat-tab label="Chart">
      <canvas #chartData>{{ chartData }}</canvas>
    </mat-tab>

    <mat-tab label="Table">
      <div class="bmgf-maps-nice-scrollbar">
        <div class="heading">
          <h2>Projected {{ (quickMapsService.micronutrient.obs | async)?.name | lowercase }} availability to 2050
          </h2>
          <h4>The data shows the projected {{ (quickMapsService.micronutrient.obs | async)?.name | lowercase }}
            availability per capita per day</h4>
        </div>
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">{{ column.header }}</th>
            <td mat-cell *matCellDef="let row">{{ column.cell(row) }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </mat-tab>

    <mat-tab label="Download">
      <app-download [chartDownloadPNG]="chartPNG" [chartDownloadPDF]="chartPDF" [dataArray]="dataSource?.data">
      </app-download>
    </mat-tab>

    <mat-tab label="About {{title}}">
      <div class="about-container">
        <h2>About {{title}}</h2>
        <p>Availability refers to the average daily amount of a food, vitamin, or mineral available to a person. This is
          influenced by projections and trends in domestic production, net trade, consumer prices, per capita income,
          and food preferences.</p>
        <p>
          This section presents information about estimated daily micronutrient availability through to 2050.
          The estimates are derived from the estimated food availability projections from the IMPACT model, as well as
          from the estimated nutrient content of those food groups.
        </p>
      </div>

    </mat-tab>

  </mat-tab-group>
</ng-template>

<ng-container *ngIf="null != dialogData; else componentTemplate">
  <app-base-dialog [data]="dialogData" [title]="title">
    <ng-container *ngTemplateOutlet="componentTemplate"></ng-container>
  </app-base-dialog>
</ng-container>