  <gridster class="bmgf-maps-nice-scrollbar" [options]="options">
    <app-proj-est></app-proj-est>
    <gridster-item [item]="widget" *ngFor="let widget of dashboard">
      <!-- Availability -->
      <app-card #card [widget]="widget" [resizeEvent]="resizeEvent" *ngIf="widget.type === 'widgetProjAvail'">
        <app-proj-avail [card]="card"></app-proj-avail>
      </app-card>

      <!-- Food Sources -->
      <app-card #card [widget]="widget" [resizeEvent]="resizeEvent" *ngIf="widget.type === 'widgetProjFoodSources'">
        <app-proj-food-sources [card]="card"></app-proj-food-sources>
      </app-card>

    </gridster-item>
  </gridster>
