@import 'src/assets/scss/_colour';

::ng-deep {
  & .dialog-custom-backdrop-wrapper {
    position: relative;
  }
  & .dialog-custom-backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.32); // same as .cdk-overlay-dark-backdrop
  }
}
::ng-deep .base-dialog {
  & .mat-dialog-container {
    padding: 2em;
  }
  & .mat-dialog-container,
  & .mat-dialog-container > *,
  & .mat-dialog-container > * > app-base-dialog,
  & .mat-dialog-container > * > app-base-dialog .scroll-wrapper {
    display: flex;
    flex-direction: column;
    // align-items: center;
    flex: 1 1;
    min-height: 0;
  }
}

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  min-height: 0;

  & h1 {
    font-size: 1.4em;
    text-align: center;
  }

  & .header {
    display: flex;
    justify-content: center;
    margin: 0 5em;
  }

  & .mat-dialog-content {
    max-height: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 1px;
    font-size: 1.2em;
    margin: 0 -10px;
    padding: 0 10px;
  }
  & ::ng-deep {
    & .buttons-wrapper {
      display: flex;
      justify-content: center;
      padding: 5px;
    }
  }
}

.mat-dialog-close {
  position: absolute;
  right: -2em;
  top: -2em;
  // background-color: $close_button_background_colour;
  // color: $close_button_colour;
  &:hover {
    // background-color: $close_button_hover_background_colour
  }
}
.close.mat-button {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  line-height: 14px;
  min-width: auto;
  background-color: transparent;
}
