<div class="tab-content">
  <h2>Total (startup + recurring) by year, 2021 USD undiscounted</h2>

  <table mat-table [dataSource]="dataSource" matSort class="table-full-width">
    <ng-container matColumnDef="year">
      <th class="row-title-left" mat-header-cell *matHeaderCellDef>Intervention
        year</th>
      <td class="row-title-left" mat-cell *matCellDef="let element"></td>
    </ng-container>

    <ng-container matColumnDef="year0">
      <th mat-header-cell *matHeaderCellDef>2021</th>
      <td mat-cell *matCellDef="let element">{{element.year0 | currencyExtended}}</td>
    </ng-container>
    <ng-container matColumnDef="year1">
      <th mat-header-cell *matHeaderCellDef>2022</th>
      <td mat-cell *matCellDef="let element">{{element.year1 | currencyExtended}}</td>
    </ng-container>
    <ng-container matColumnDef="year2">
      <th mat-header-cell *matHeaderCellDef>2023</th>
      <td mat-cell *matCellDef="let element">{{element.year2 | currencyExtended}}</td>
    </ng-container>
    <ng-container matColumnDef="year3">
      <th mat-header-cell *matHeaderCellDef>2024</th>
      <td mat-cell *matCellDef="let element">{{element.year3 | currencyExtended}}</td>
    </ng-container>
    <ng-container matColumnDef="year4">
      <th mat-header-cell *matHeaderCellDef>2025</th>
      <td mat-cell *matCellDef="let element">{{element.year4 | currencyExtended}}</td>
    </ng-container>
    <ng-container matColumnDef="year5">
      <th mat-header-cell *matHeaderCellDef>2026</th>
      <td mat-cell *matCellDef="let element">{{element.year5 | currencyExtended}}</td>
    </ng-container>
    <ng-container matColumnDef="year6">
      <th mat-header-cell *matHeaderCellDef>2027</th>
      <td mat-cell *matCellDef="let element">{{element.year6 | currencyExtended}}</td>
    </ng-container>
    <ng-container matColumnDef="year7">
      <th mat-header-cell *matHeaderCellDef>2028</th>
      <td mat-cell *matCellDef="let element">{{element.year7 | currencyExtended}}</td>
    </ng-container>
    <ng-container matColumnDef="year8">
      <th mat-header-cell *matHeaderCellDef>2029</th>
      <td mat-cell *matCellDef="let element">{{element.year8 | currencyExtended}}</td>
    </ng-container>
    <ng-container matColumnDef="year9">
      <th mat-header-cell *matHeaderCellDef>2030</th>
      <td mat-cell *matCellDef="let element">{{element.year9 | currencyExtended}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayHeaders;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayHeaders"></tr>
    <tr class="mat-row" *matNoDataRow>
  </table>
  <div class="total-count-panel">
    <span class="count-title">Total:</span> <span class="count-total"> {{totalUndiscounted | currencyExtended}}</span>
  </div>

</div>