<app-card [title]="'Data sources & Methods'">
  <mat-tab-group mat-align-tabs="center" (selectedTabChange)="tabChanged($event)">
    <mat-tab label="Food consumption">
      <div class="tab-element">
        <p>Food composition table (FCT) sources used in estimates is summarised here.</p>
      </div>

    </mat-tab>
    <mat-tab label="Food composition">
      <div class="tab-element">
        Food composition data
      </div>
    </mat-tab>
    <mat-tab label="Thresholds">
      <div class="tab-element">
        Thresholds data
      </div>

    </mat-tab>
  </mat-tab-group>
</app-card>
