@use '../interventionReviewPages.scss';

:host {
  display: flex;
  flex-direction: column;
}

.chart-wrapper {
  max-width: 600px;
}

.recurring-cost {
  padding: 0 0 7rem 0;
}

.intervention-navigation {
  margin-right: 10px;
}
