<div class="bmgf-maps-nice-scrollbar container">
  <div class="content">
    <app-intervention-description></app-intervention-description>
    <mat-tab-group>
      <mat-tab label="Tables">
        <app-reusable-skeleton-table *ngIf="!dataLoaded" [setData]="{ columns: 11, rows: 6 }">
        </app-reusable-skeleton-table>
        <div *ngFor="let recurringCost of recurringCosts">
          <div class="title">
            <span>{{ recurringCost.category }} summary</span>
          </div>
          <div class="recurringCostTable">
            <app-reusable-cost-table *ngIf="null != recurringCosts" [recurringCost]="recurringCost"
              [headers]="displayHeaders">
            </app-reusable-cost-table>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Graphs">
        <div *ngFor="let recurringCost of recurringCosts" class="recurring-cost">
          <div class="title">
            <span>{{ recurringCost.category }}</span>
          </div>
          <div class="chart-wrapper">
            <app-reusable-cost-graph *ngIf="null != recurringCosts" [costData]="recurringCost">
            </app-reusable-cost-graph>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

  </div>
  <footer>
    <a class="intervention-navigation" mat-stroked-button [routerLink]="intSideNavService.getPreviousRoute() | route"
      queryParamsHandling="preserve">Back</a>
    <a class="intervention-navigation" mat-stroked-button [routerLink]="ROUTES.COST_EFFECTIVENESS | route"
      queryParamsHandling="preserve">Save and close</a>
    <button *ngFor="let route of intSideNavService.getNextRoutes()" [disabled]="loading" class="intervention-navigation"
      mat-flat-button color="primary" (click)="confirmAndContinue(route.route)">
      <span *ngIf="!loading">{{ route.title }}</span>
      <span *ngIf="loading">Recalculating model values&nbsp;<mat-spinner class="loading-indicator" aria-label="spinner"
          [diameter]="16" color='accent'></mat-spinner></span>
    </button>
  </footer>
</div>