<div class="container">
  <div class="content">
    <app-intervention-description></app-intervention-description>
    <div class="title">
      <span>Program Monitoring Information</span>
    </div>
    <form [formGroup]="form" *ngIf="form">
      <table mat-table [dataSource]="dataSource" formArrayName="items">
        <ng-container matColumnDef="labelText">
          <th class="row-title" mat-header-cell *matHeaderCellDef> Intervention year </th>
          <td class="row-title" mat-cell *matCellDef="let element">
            {{element.labelText}} </td>
        </ng-container>
        <ng-container matColumnDef="year0">
          <th class="column-title" mat-header-cell *matHeaderCellDef> 2021 </th>
          <td class="column-title" mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
            <div *ngIf="element.rowUnits === 'number'">
              <input type="text" appDecimalInput required [value]=element.year0 formControlName="year0">
            </div>
            <div *ngIf="element.rowUnits === 'percent'">
              <input type="text" appDecimalInput [value]="element.year0 * 100"
                (input)="element.year0 = $any($event.target).value / 100">
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="year1">
          <th class="column-title" mat-header-cell *matHeaderCellDef> 2022 </th>
          <td class="column-title" mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
            <div *ngIf="element.rowUnits === 'number'">
              <input type="text" appDecimalInput required [value]=element.year1 formControlName="year1">
            </div>
            <div *ngIf="element.rowUnits === 'percent'">
              <input type="text" appDecimalInput [value]="element.year1 * 100"
                (input)="element.year1 = $any($event.target).value / 100">
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="year2">
          <th class="column-title" mat-header-cell *matHeaderCellDef> 2023 </th>
          <td class="column-title" mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
            <div *ngIf="element.rowUnits === 'number'">
              <input type="text" appDecimalInput required [value]=element.year2 formControlName="year2">
            </div>
            <div *ngIf="element.rowUnits === 'percent'">
              <input type="text" appDecimalInput [value]="element.year2 * 100"
                (input)="element.year2 = $any($event.target).value / 100">
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="year3">
          <th class="column-title" mat-header-cell *matHeaderCellDef> 2024 </th>
          <td class="column-title" mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
            <div *ngIf="element.rowUnits === 'number'">
              <input type="text" appDecimalInput required [value]=element.year3 formControlName="year3">
            </div>
            <div *ngIf="element.rowUnits === 'percent'">
              <input type="text" appDecimalInput [value]="element.year3 * 100"
                (input)="element.year3 = $any($event.target).value / 100">
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="year4">
          <th class="column-title" mat-header-cell *matHeaderCellDef> 2025 </th>
          <td class="column-title" mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
            <div *ngIf="element.rowUnits === 'number'">
              <input type="text" appDecimalInput required [value]=element.year4 formControlName="year4">
            </div>
            <div *ngIf="element.rowUnits === 'percent'">
              <input type="text" appDecimalInput [value]="element.year4 * 100"
                (input)="element.year4 = $any($event.target).value / 100">
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="year5">
          <th class="column-title" mat-header-cell *matHeaderCellDef> 2026 </th>
          <td class="column-title" mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
            <div *ngIf="element.rowUnits === 'number'">
              <input type="text" appDecimalInput required [value]=element.year5 formControlName="year5">
            </div>
            <div *ngIf="element.rowUnits === 'percent'">
              <input type="text" appDecimalInput [value]="element.year5 * 100"
                (input)="element.year5 = $any($event.target).value / 100">
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="year6">
          <th class="column-title" mat-header-cell *matHeaderCellDef> 2027</th>
          <td class="column-title" mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
            <div *ngIf="element.rowUnits === 'number'">
              <input type="text" appDecimalInput required [value]=element.year6 formControlName="year6">
            </div>
            <div *ngIf="element.rowUnits === 'percent'">
              <input type="text" appDecimalInput [value]="element.year6 * 100"
                (input)="element.year6 = $any($event.target).value / 100">
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="year7">
          <th class="column-title" mat-header-cell *matHeaderCellDef> 2028 </th>
          <td class="column-title" mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
            <div *ngIf="element.rowUnits === 'number'">
              <input type="text" appDecimalInput required [value]=element.year7 formControlName="year7">
            </div>
            <div *ngIf="element.rowUnits === 'percent'">
              <input type="text" appDecimalInput [value]="element.year7 * 100"
                (input)="element.year7 = $any($event.target).value / 100">
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="year8">
          <th class="column-title" mat-header-cell *matHeaderCellDef> 2029 </th>
          <td class="column-title" mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
            <div *ngIf="element.rowUnits === 'number'">
              <input type="text" appDecimalInput required [value]=element.year8 formControlName="year8">
            </div>
            <div *ngIf="element.rowUnits === 'percent'">
              <input type="text" appDecimalInput [value]="element.year8 * 100"
                (input)="element.year8 = $any($event.target).value / 100">
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="year9">
          <th class="column-title" mat-header-cell *matHeaderCellDef> 2030 </th>
          <td class="column-title" mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
            <div *ngIf="element.rowUnits === 'number'">
              <input type="text" appDecimalInput required [value]=element.year9 formControlName="year9">
            </div>
            <div *ngIf="element.rowUnits === 'percent'">
              <input type="text" appDecimalInput [value]="element.year9 * 100"
                (input)="element.year9 = $any($event.target).value / 100">
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="source">
          <th class="column-title" mat-header-cell *matHeaderCellDef> Source </th>
          <td class="column-title" mat-cell *matCellDef="let element">
            GFDx
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </form>
    <app-intervention-step-details [resetDefaultValues]="true" [showFocusMn]="true" [showUserValues]="true"
      [showMnUnits]="true"></app-intervention-step-details>

  </div>
  <footer>
    <a class="intervention-navigation" mat-stroked-button
      [routerLink]="ROUTES.INTERVENTION_REVIEW_INDUSTRY_INFORMATION | route" queryParamsHandling="preserve">Back</a>
    <a class="intervention-navigation" mat-stroked-button [routerLink]="ROUTES.QUICK_MAPS_COST_EFFECTIVENESS | route"
      queryParamsHandling="preserve">Save and close</a>
    <a class="intervention-navigation-confirm" mat-stroked-button
      [routerLink]="ROUTES.INTERVENTION_REVIEW_STARTUP_SCALEUP_COSTS | route" queryParamsHandling="preserve"
      (click)="confirmAndContinue()">Confirm and
      continue</a>
  </footer>
</div>