@use '../interventionReviewPages.scss';

@import 'src/assets/scss/_colour';
.header-container {
  display: flex;
  border: 1px solid $color_primary;
  border-radius: 5px;
  background-color: white;
  align-items: center;
  justify-content: center;

  & .wideItem {
    flex-grow: 1;
    display: flex;
    margin: 1em 0.5em;
  }
}
::ng-deep th.mat-header-cell.row-title,
::ng-deep td.mat-cell.row-title {
  border-bottom-style: none !important;
  width: 200px !important;
  text-align: right !important;
  margin: 10px;
}

::ng-deep th.mat-header-cell.column-title,
::ng-deep td.mat-cell.column-title {
  border-bottom-style: none !important;
  width: 60px !important;
  text-align: center !important;
}
input {
  // display: block;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
  width: 85%;
  padding: 5px;
  height: 30px;
  border-radius: 5px;
  border: black 0.5px solid;
  text-align: center;
}
table {
  width: 100%;
}
.red-icon {
  color: red;
}
div:not(.box) {
  margin-bottom: 15px;
}

.box {
  height: 20px;
  width: 20px;
  border: 1px solid white;
  display: inline-block;
  vertical-align: middle;
  border-radius: 5px;
  margin: 5px;
}
.purple {
  background-color: purple;
}

.blue {
  background-color: blue;
}
.static-review-elements {
  display: flex;
  // align-items: center;
  padding: 10px;
  height: 50px;
}
.item-reset {
  flex-grow: 1;
}
.item-bottom-row {
  flex-grow: 1;
  justify-content: center;
  margin: 15px;
  align-items: center;
  display: inline-block;
  white-space: nowrap;
  justify-content: flex-end;
}
.item-group {
  width: 40%;
  display: inline-block;
}
