<div class="container">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header class="desc-header">
      <mat-panel-title>
        <div class="content-container">
          <div class="item">
            Nation: <strong>{{ (quickMapsService.country.obs | async)?.name }}</strong>
          </div>
          <div class="item">
            Nutrient: <strong>{{ (quickMapsService.micronutrient.obs | async)?.name }}</strong>
          </div>
          <div class="item">
            Data Used: <strong class="capitalize-text">{{ quickMapsService.measure.obs | async }}</strong>
          </div>
          <div class="item">
            Age-gender group: <strong>{{ (quickMapsService.ageGenderGroup.obs | async).name }}</strong>
          </div>
          <div class="item">
            Data Source: <strong>{{ (quickMapsService.biomarkerDataSource.obs | async)?.name }}</strong>
          </div>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="description">Short Summary of how and when the data was collected...</div>
  </mat-expansion-panel>
</div>