<div class="container">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header class="desc-header">
      <mat-panel-title>
        <div class="content-container">
          <div class="item">
            Nation: <strong>{{ (quickMapsService.countryObs | async)?.name }}</strong>
          </div>
          <div class="item">
            Vitamin: <strong>{{ (quickMapsService.micronutrientObs | async)?.name }}</strong>
          </div>
          <div class="item">Measure of MN: <strong>Biomarker</strong></div>
          <div class="item">
            Age-gender group: <strong>{{ (quickMapsService.ageGenderObs | async).name }}</strong>
          </div>
          <div class="item">
            Data Source: <strong>{{ (quickMapsService.dataSourceObs | async).name }}</strong>
          </div>
          <div class="item">
            Year: <strong>{{ (quickMapsService.dataSourceObs | async).year }}</strong>
          </div>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="description">Short Summary of how and when the data was collected...</div>
  </mat-expansion-panel>
</div>
