<div class="content">
  <p>Breadcrumbs</p>
  <h1>Point of consumption</h1>
  <p>Summary panel</p>
  <a class="mode-select-button quickmaps-cost-effectivness-link" mat-raised-button
    [routerLink]="ROUTES.INTERVENTION_REVIEW_COMPLIANCE | route" queryParamsHandling="preserve">Back</a>
  <a class="mode-select-button quickmaps-cost-effectivness-link" mat-raised-button
    [routerLink]="ROUTES.INTERVENTION_REVIEW_ASSUMPTIONS_REVIEW | route" queryParamsHandling="preserve">Confirm and
    continue</a>
</div>