<div class="pie-chart-container">
    <div class="card">
        <ngx-chartjs class="pie-chart" *ngIf="recurringCostChart != null" [data]="recurringCostChart.data"
            [type]="recurringCostChart.type" [options]="recurringCostChart.options">
        </ngx-chartjs>
    </div>


    <!-- <mat-grid-list cols="1" rowHeight="150px">
        <mat-grid-tile>
            <mat-card class="my-card">
                <mat-card-content>
                    <ngx-chartjs class="pie-chart" *ngIf="recurringCostChart != null" [data]="recurringCostChart.data"
                        [type]="recurringCostChart.type" [options]="recurringCostChart.options">
                    </ngx-chartjs>
                </mat-card-content>
            </mat-card>

        </mat-grid-tile>
    </mat-grid-list> -->

</div>