

.pie-chart-container {
    display: block;
    height: 200px;
    width: 100%;
}

::ng-deep.pie-chart > div > canvas {
    height: 200px !important;

}

// .card {

//     height: 200px;
// }

// .my-card {
//     background-color: #fafafa;
//     width: 80%;
//     transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
//     display: block;
//     position: relative;
//     padding: 16px;
//     border-radius: 4px;
// }