@use '../../../interventionReview.component.scss';

table {
  width: 95%;
  margin-left: 2em;
  background: none;
  td.mat-mdc-cell {
    border-bottom-color: rgba(0, 0, 0, 0);
  }
  tr.mat-mdc-footer-row {
    font-weight: bold;
  }
}
