.no-overflow {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

::ng-deep .feedback-button__container {
  right: -55px !important;
  font-family: 'Quicksand' !important;
}

::ng-deep ngx-feedback-main-btn {
  position: absolute;
  z-index: 10000;
}

::ng-deep .ngx-feedback-modal__container {
  transform: translate(-350px, -250px) !important;
  font-family: 'Quicksand' !important;
}

@media screen and (max-width: 700px) {
  ::ng-deep .ngx-feedback-modal__container {
    width: 100vw !important;
    height: 100vh;
    transform: none !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 11000 !important;
    overflow-y: scroll;
  }

  ::ng-deep .ngx-feedback-modal__textarea {
    width: 100% !important;
  }
  ::ng-deep .ng-star-inserted:not(.ngx-feedback-modal__boxes) {
    flex-direction: column !important;
    align-items: center;
  }
}
