<div class="bmgf-maps-nice-scrollbar container">
  <div class="content">
    <app-intervention-description></app-intervention-description>
    <div class="title">
      <span>Baseline Performance
        <button class="icon-display floater" mat-mini-fab color="primary"
          (click)="openBaselinePerformanceInfoDialog()"><mat-icon class="icon-display">question_mark</mat-icon>
        </button></span>
    </div>
    <div *ngIf="!this.compoundAvailable">
      <app-quickmaps-no-results></app-quickmaps-no-results>
    </div>
    <div *ngIf="this.compoundAvailable">
      <app-reusable-skeleton-table *ngIf="!dataLoaded"
        [setData]="{ columns: 3, rows: 3 }"></app-reusable-skeleton-table>

      <form [formGroup]="form" *ngIf="form">
        <table mat-table [dataSource]="dataSource" formArrayName="items" class="table-full-width">
          <ng-container matColumnDef="title">
            <td class="row-title-left" mat-cell *matCellDef="let element">
              {{ element.labelText }}
              <i *ngIf="element.rowNotes" class="fas fa-question-circle" matTooltip="{{element.rowNotes}}"></i>
            </td>
          </ng-container>

          <ng-container matColumnDef="year0">
            <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
              <div class="double-cell">
                <div>
                  <!-- <input id="year0" name="year0" (change)="updateBaselineAssumptions(); storeIndex(index)" type="number"
                    [ngModel]="element.year0 * 100" formControlName="year0" min="0" max="100"
                    (keyup)="validateUserInput($event, index, 'year0')"> -->
                  {{ element.micronutrient}}
                  <app-ce-input-field [index]="index" [year]="0" [element]="element" [form]="form"
                    [tableData]="dataSource" [dirtyIndexes]="dirtyIndexes" [includeCopyRightButton]="false"
                    [changeFunction]="updateBaselineAssumptions" [omitStyling]="true"></app-ce-input-field>
                </div>
                <a mat-button [href]="element.dataSource" target="_blank"
                  *ngIf="element.dataSource.startsWith('http') && dirtyIndexes.includes(index) === false && element.year0Edited === false"
                  mat-button color="primary">
                  View external source&nbsp;<mat-icon iconPositionEnd>open_in_new</mat-icon>
                </a>
                <button class="no-click"
                  *ngIf="!element.dataSource.startsWith('http') && dirtyIndexes.includes(index) === false && element.year0Edited === false"
                  mat-button color="primary">
                  {{ element.dataSource}} Input
                </button>
                <button *ngIf="dirtyIndexes.includes(index) || element.year0Edited === true" mat-button color="primary">
                  User Input
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-row *matRowDef="let row; columns: baselinedisplayedColumns;"></tr>
        </table>
      </form>





      <div class="header-row">
        <div class="title standard">
          <span>Food vehicle standard/target fortification levels<button class="icon-display floater" mat-mini-fab
              color="primary" (click)="openfoodVehicleStandardInfoDialog()"><mat-icon
                class="icon-display">question_mark</mat-icon>
            </button>
          </span>
        </div>
        <div class="title compliance">
          <span>Calculated average baseline fortification levels before accounting for micronutrient losses</span>
        </div>
      </div>

      <div class="focus-mn">
        <div class="divider"></div>
        <span class="sub-header">Focus micronutrient</span>
      </div>


      <!-- <form [formGroup]="focusMnForm"> -->
      <form [formGroup]="focusMnForm" *ngIf="focusMnForm">
        <!-- <table mat-table [dataSource]="focusMnDataSource" formArrayName="items" class="table-full-width"> -->
        <table mat-table [dataSource]="focusMnDataSource" class="table-full-width">
          <ng-container matColumnDef="title">
            <td class="row-title-left" mat-cell *matCellDef="let element">
              {{ element.labelText }}
            </td>
          </ng-container>

          <ng-container matColumnDef="micronutrient">
            <th class="row-title-left focus" mat-header-cell *matHeaderCellDef>
              Micronutrient
            </th>
            <td mat-cell *matCellDef="let element" class="text-left">
              <span class="focus-mn-title">{{ mnDictionary.getItem(element.micronutrient).name }}
              </span>
            </td>
          </ng-container>
          <ng-container matColumnDef="compounds">
            <th class="row-title-left focus" mat-header-cell *matHeaderCellDef>
              Compound
            </th>
            <td mat-cell *matCellDef="let element">
              <mat-form-field appearance="outline" class="override">
                <mat-select matNativeControl [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="selectedCompounds[element.micronutrient].index"
                  (selectionChange)="updateCompoundSelection($event, element)">
                  <mat-option [id]="item.rowIndex" *ngFor="let item of element.compounds; index as i" [value]="i">
                    {{ item.compound | titlecase }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <!-- <span *ngFor="let compound of element.compounds;">{{ compound.compound }}
              </span> -->
            </td>
          </ng-container>

          <ng-container matColumnDef="targetVal">
            <th class="row-title-left header-top-align" mat-header-cell *matHeaderCellDef>Standard/target nutrient level
              at point of
              fortification (mg/kg)
            </th>
            <td mat-cell *matCellDef="let element;  let index = index">
              <ng-container class="double-cell">
                <!-- <input (change)="updateButtonState(1)" type="number" matInput required
                  [value]="selectedCompounds[element.micronutrient].targetVal"> -->
                <app-ce-input-field [index]="index" [field]="'targetVal'"
                  [element]="element.compounds[selectedCompounds[element.micronutrient].index]" [form]="focusMnForm"
                  [tableData]="premixMnDataSource" [dirtyIndexes]="premixDirtyIndexes" [includeCopyRightButton]="false"
                  [changeFunction]="updateFVStandard(element.micronutrient)" [omitStyling]="false"></app-ce-input-field>
              </ng-container>
            </td>
          </ng-container>

          <ng-container matColumnDef="avgVal">
            <th class="row-title-left header-top-align" mat-header-cell *matHeaderCellDef>Average fortification level
              (mg/kg) among fortifiable food vehicle at point of fortification
              <button class="icon-display floater" mat-mini-fab color="primary" (click)="openFortificationInfoDialog()">
                <mat-icon class="icon-display">question_mark</mat-icon>
              </button>
            </th>
            <td mat-cell *matCellDef="let element">
              <ng-container class="double-cell">
                <span>
                  {{ selectedCompounds[element.micronutrient].targetVal * baselineAssumptions?.actuallyFortified.year0 *
                  baselineAssumptions?.averageFortificationLevel.year0 | sigFig: 3 }}
                </span>

              </ng-container>
            </td>
          </ng-container>

          <ng-container matColumnDef="calcFort">
            <th class="row-title-left header-top-align" mat-header-cell *matHeaderCellDef>
              Average fortification level (mg/kg) among all food vehicle
              <button class="icon-display floater" mat-mini-fab color="primary"
                (click)="openCalculatedFortificationInfoDialog()">
                <mat-icon class="icon-display">question_mark</mat-icon>
              </button>
            </th>
            <td mat-cell *matCellDef="let element">
              <ng-container class="double-cell">
                <span *ngIf="null != baselineAssumptions">
                  {{ selectedCompounds[element.micronutrient].targetVal * baselineAssumptions?.actuallyFortified.year0 *
                  baselineAssumptions?.averageFortificationLevel.year0 *
                  baselineAssumptions.potentiallyFortified.year0 | sigFig:3 }}
                </span>
              </ng-container>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="baselineFVdisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: baselineFVdisplayedColumns;"></tr>
        </table>
      </form>

      <mat-accordion>
        <mat-expansion-panel #panel hideToggle [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="focus-mn">
                <div class="divider"></div>
                <span class="sub-header">
                  Other micronutrients in the premix&nbsp;<span *ngIf="premixVehicleStandards">
                    ({{premixVehicleStandards.length }})
                  </span>
                </span>
              </div> <mat-icon>{{ panel.expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>




          <!-- <form [formGroup]="focusMnForm"> -->
          <form [formGroup]="premixMnForm" *ngIf="premixMnForm">
            <!-- <table mat-table [dataSource]="focusMnDataSource" formArrayName="items" class="table-full-width"> -->
            <table mat-table [dataSource]="premixMnDataSource" class="table-full-width">

              <ng-container matColumnDef="micronutrient">
                <th class="row-title-left focus" mat-header-cell *matHeaderCellDef>
                  Micronutrient
                </th>
                <td mat-cell *matCellDef="let element" class="text-left">
                  <span>{{ mnDictionary.getItem(element.micronutrient).name }}
                    {{ element.dataSource}}
                  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="compounds">
                <th class="row-title-left focus" mat-header-cell *matHeaderCellDef>
                  Compounds
                </th>
                <td mat-cell *matCellDef="let element">
                  <mat-form-field appearance="outline" class="override">
                    <mat-select matNativeControl [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="selectedCompounds[element.micronutrient].index"
                      (selectionChange)="updateCompoundSelection($event, element)">
                      <mat-option [id]="item.rowIndex" *ngFor="let item of element.compounds; index as i" [value]="i">
                        {{ item.compound | titlecase }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <!-- <span *ngFor="let compound of element.compounds;">{{ compound.compound }}
              </span> -->
                </td>
              </ng-container>

              <ng-container matColumnDef="targetVal">
                <th class="row-title-left header-top-align" mat-header-cell *matHeaderCellDef>Standard/target nutrient
                  level
                  at point of
                  fortification (mg/kg)
                </th>
                <td mat-cell *matCellDef="let element;  let index = index">
                  <ng-container class="double-cell">
                    <!-- <input (change)="updateButtonState(1)" type="number" matInput required
                  [value]="selectedCompounds[element.micronutrient].targetVal"> -->
                    <app-ce-input-field [index]="index" [field]="'targetVal'"
                      [element]="element.compounds[selectedCompounds[element.micronutrient].index]"
                      [form]="premixMnForm" [tableData]="focusMnDataSource" [dirtyIndexes]="focusDirtyIndexes"
                      [includeCopyRightButton]="false" [changeFunction]="updateFVStandard(element.micronutrient)"
                      [omitStyling]="false"></app-ce-input-field>
                  </ng-container>
                </td>
              </ng-container>

              <ng-container matColumnDef="avgVal">
                <th class="row-title-left header-top-align" mat-header-cell *matHeaderCellDef>Calculated baseline
                  fortification levels in practice
                  <button class="icon-display floater" mat-mini-fab color="primary"
                    (click)="openFortificationInfoDialog()">
                    <mat-icon class="icon-display">question_mark</mat-icon>
                  </button>

                </th>
                <td mat-cell *matCellDef="let element">
                  <ng-container class="double-cell">
                    <span>
                      {{ selectedCompounds[element.micronutrient].targetVal *
                      baselineAssumptions?.actuallyFortified.year0 *
                      baselineAssumptions?.averageFortificationLevel.year0 | sigFig: 3 }}
                    </span>
                  </ng-container>
                </td>
              </ng-container>


              <ng-container matColumnDef="calcFort">
                <th class="row-title-left header-top-align" mat-header-cell *matHeaderCellDef>
                  Calculated average fortification level (mg/kg)
                  among all food vehicle
                  <button class="icon-display floater" mat-mini-fab color="primary"
                    (click)="openCalculatedFortificationInfoDialog()">
                    <mat-icon class="icon-display">question_mark</mat-icon>
                  </button>
                </th>
                <td mat-cell *matCellDef="let element">
                  <ng-container class="double-cell">
                    <span *ngIf="null != baselineAssumptions">
                      {{ selectedCompounds[element.micronutrient].targetVal *
                      baselineAssumptions?.actuallyFortified.year0 *
                      baselineAssumptions?.averageFortificationLevel.year0 *
                      baselineAssumptions.potentiallyFortified.year0 | sigFig:3 }}
                    </span>
                  </ng-container>
                </td>
              </ng-container>

              <!-- <tr mat-header-row *matHeaderRowDef="baselineFVdisplayedColumns"></tr> -->
              <tr mat-row *matRowDef="let row; columns: baselineFVdisplayedColumns;"></tr>
            </table>
          </form>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <app-intervention-step-details (resetValues)="resetForm()" [resetDefaultValues]="true" [showFocusMn]="true"
      [showUserValues]="true" [showUserOverrideValues]="true" [showNonEditable]="false" [showMnUnits]="true"
      [showAddMicronutrient]="true" (onAddMn)="handleAddMn($event)">
    </app-intervention-step-details>
  </div>

  <footer>
    <!-- <a class="intervention-navigation" mat-stroked-button [routerLink]="intSideNavService.getPreviousRoute() | route"
      queryParamsHandling="preserve">Back</a> -->
    <a [disabled]="!compoundAvailable" class="intervention-navigation" mat-stroked-button
      [routerLink]="ROUTES.COST_EFFECTIVENESS | route" queryParamsHandling="preserve">Save and close</a>
    <button *ngFor="let route of intSideNavService.getNextRoutes()" [disabled]="loading" class="intervention-navigation"
      mat-flat-button color="primary" (click)="confirmAndContinue(route.route)">
      <span *ngIf="!loading">{{ route.title }}</span>
      <span *ngIf="loading">Recalculating model values&nbsp;<mat-spinner class="loading-indicator" aria-label="spinner"
          [diameter]="16" color='accent'></mat-spinner></span>
    </button>
  </footer>
</div>