@use '@angular/material' as mat;
@use '../interventionReviewPages.scss';
@import 'src/assets/scss/_colour';

.container {
  .content {
    overflow-x: hidden;
  }
}

.header-container {
  display: flex;
  border: 1px solid $color_primary;
  border-radius: 5px;
  background-color: white;
  align-items: center;
  justify-content: center;

  & .wideItem {
    flex-grow: 1;
    display: flex;
    margin: 1em 0.5em;
  }
}

.header-row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .standard {
    width: 60%;
    margin-right: 0.5em;
  }

  .compliance {
    width: 39%;
    margin-left: 0.5em;
  }
}

.focus-mn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1.5rem;

  .sub-header {
    color: $color_grey;
  }

  .divider {
    width: 3px;
    height: 15px;
    background: mat.get-color-from-palette($_primary_pallete, A700);
    margin-right: 0.5rem;
    border-radius: 4px;
  }
}

.focus-mn-title {
  color: $color_primary;
  font-weight: bold;
}

table {
  width: 100%;
  background: none;
  table-layout: fixed;
  // font-family: 'Quicksand', sans-serif !important;
  padding: 0 0 0 1.75rem;

  .row-title {
    &.focus {
      font-weight: 500;
      color: mat.get-color-from-palette($_primary_pallete, default);
    }
  }

  th {
    &.mat-mdc-header-cell {
      border-bottom: none;
    }
  }
}
mat-form-field {
  width: 85% !important;
}

.intervention-baseline-panel {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 50px;
  border-radius: 10px;
}

.item-input {
  border-radius: 5px;
}

.mat-mdc-icon-button {
  color: $color_primary;
  margin-left: 35px;
}

.double-cell {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  button,
  a {
    margin-left: 2rem;
  }
}

th {
  white-space: pre-wrap;
  word-break: normal;
}

.icon-display {
  transform: scale(0.6);
  display: inline-block !important;
}
input {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
  width: 4em;
  padding: 5px;
  height: 30px;
  border-radius: 5px;
  border: black 0.5px solid;
  text-align: center;
}
// // user edited values
input.ng-dirty {
  color: $color_input_blue;
  border-color: $color_input_blue;
}

.floater {
  display: flex;
}

::ng-deep mat-accordion {
  .mat-expansion-panel:not([class*='mat-elevation-z']) {
    background: none;
    box-shadow: none;
    margin-top: 1em;
  }

  .mat-expansion-panel-header {
    padding-left: 0;
  }

  .mat-expansion-panel-body {
    padding-left: 16px;
    padding-right: 0;
  }

  .mat-expansion-panel-content {
    margin-left: -16px;
  }
}

mat-panel-title {
  span {
    display: flex;
    align-items: center;

    .border {
      width: 3px;
      height: 15px;
      background: mat.get-color-from-palette($_primary_pallete, A700);
      margin-right: 0.5rem;
      border-radius: 4px;
    }
  }
}

.loading-indicator {
  display: inline-block;
}

.text-left {
  text-align: left !important;
}

.no-click {
  pointer-events: none;
}
