<div class="menu-container">
    <button mat-mini-fab color="primary">
        <mat-icon>question_mark</mat-icon>
    </button>
    <mat-button-toggle-group #group="matButtonToggleGroup">
        <mat-button-toggle value="left">
            Create Interventions
        </mat-button-toggle>
        <mat-button-toggle value="center">
            Compare Interventions
        </mat-button-toggle>
    </mat-button-toggle-group>
    <span>
        <mat-icon matBadge="3" matBadgeOverlap="false">shopping_basket</mat-icon>
    </span>
</div>