:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1em;
  .menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 24px;
    .mat-button-toggle-group {
      width: 50%;
    }
    span mat-icon {
      font-size: 30px;
    }
  }
}
