@import 'src/assets/scss/_colour';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  background-color: #f1ecf6;
  padding: 10px;
  background-color: $color_background_form;
}
.intervention-steps {
  width: 100%;
  background-color: $color_background_form;
}
.intervention-stage-info {
  font-size: 14px;
}
.intervention-review-title {
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
}
.intervention-review-subtitle {
  text-align: center;
  font-size: 12px;
  padding: 10px;
  margin-bottom: 10px;
}
