<div class="content">
  <span class="intervention-review-title">Intervention details</span>
  <span class="intervention-review-subtitle">Review/edit the information in the steps below</span>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let section of sections; index as i" class="sidebar-expansion"
      [class.is-active]="currentStepPosition <= (sectionCount(i) + section.pages.length -1)"
      [expanded]="currentStepPosition >= sectionCount(i) && currentStepPosition < sectionCount(i+1)">
      <mat-expansion-panel-header class="expansion-header">
        <mat-panel-title [innerHTML]="addNBbspTitle(section.title)">
          <!-- {{ addNBbspTitle(section.title) }} -->
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-vertical-stepper class="intervention-steps" #cmp>
        <mat-step *ngFor="let step of section.pages">
          <ng-template matStepLabel>{{ step.title }}</ng-template>
          <div class="intervention-stage-info">{{ step.description }}
          </div>
        </mat-step>
        <!-- Keep icons as numbers -->
        <ng-template matStepperIcon="edit" let-index="index">
          {{index + sectionCount(i) + 1}}
        </ng-template>
        <ng-template matStepperIcon="create" let-index="index">
          {{index + sectionCount(i) + 1}}
        </ng-template>
        <ng-template matStepperIcon="number" let-index="index">
          {{index + sectionCount(i) + 1}}
        </ng-template>
        <ng-template matStepperIcon="done" let-index="index">
          {{index + sectionCount(i) + 1}}
        </ng-template>
      </mat-vertical-stepper>
    </mat-expansion-panel>


  </mat-accordion>

</div>