@import 'src/assets/scss/_colour.scss';
@import 'src/assets/scss/_layout.scss';

router-outlet ::ng-deep + * {
  flex: 1 1;
  min-height: 0; // needs this to make the above flex rule work!
}

.mat-sidenav {
  border: 0;
  width: 320px;
}

.sidenav-container {
  position: absolute;
  top: $header_height;
  bottom: $footer_light_height;
  left: 0;
  right: 0;
}

// fix the footer position
::ng-deep app-footer-light {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .intervention-sidenav {
    display: none;
  }
}
