<div class="container">
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header class="desc-header">
            <mat-panel-title>
                <div class="content-container">
                    <div class="item">
                        Nation: <strong>{{ (quickMapsService.country.obs | async)?.name }}</strong>
                    </div>
                    <div class="item">
                        Nutrient: <strong>{{ (quickMapsService.micronutrient.obs | async)?.name }}</strong>
                    </div>
                    <div class="item">
                        Data Used: <strong class="capitalize-text">{{ quickMapsService.measure.obs | async }}
                            Data</strong>
                    </div>
                    <div class="item">
                        Data level:
                        <strong class="capitalize-text"> {{ (quickMapsService.FoodSystemsDataSource.obs |
                            async)?.dataLevel }}
                        </strong>
                    </div>
                </div>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="description">
            This functionality allows users to estimate the effectiveness, cost, and cost-effectiveness of micronutrient
            interventions over a 10-year modeling time horizon. Comparisons of effectiveness, cost, and
            cost-effectiveness across interventions is possible after users have generated these estimates for more than
            one intervention.
        </div>
    </mat-expansion-panel>
</div>