<app-base-dialog [data]="dialogData" title="Average fortification level (mg/kg) among all food vehicle">
  <div class="container">
    <p>This value represents the average fortification level among all of the food vehicle in the food system
      (fortifiable and non-fortifiable) before adjusting for post-fortification micronutrient losses. It is calculated
      as the average fortification level among fortifiable food vehicle at point of fortification multiplied by the
      percent of food vehicle that is fortifiable/industrially processed. This value will change as you adjust the
      “Baseline performance” values above.</p>
  </div>
</app-base-dialog>