@use '../interventionReviewPages.scss';
@import 'src/assets/scss/_colour';

.no-margin {
  margin: 0;
}

.lower-table-wrapper ::ng-deep .mdc-data-table__content tr:nth-child(1) td {
  color: $color_primary;
  font-weight: bold;
  border-bottom-color: rgba(0, 0, 0, 0.12);
  min-width: 6em;
}

.loading-indicator {
  display: inline-block;
}
