<div class="bmgf-maps-nice-scrollbar container">
  <div class="content">
    <app-intervention-description></app-intervention-description>
    <div class="title">
      <span>Review of program assumptions</span>
    </div>

    <app-reusable-skeleton-table *ngIf="!dataLoaded" [setData]="{ columns: 11, rows: 2 }"></app-reusable-skeleton-table>

    <form [formGroup]="form" *ngIf="form">

      <table mat-table [dataSource]="dataSource" formArrayName="items" class="table-full-width">
        <ng-container matColumnDef="title">
          <th class="row-title-left" mat-header-cell *matHeaderCellDef>Intervention
            year
          </th>
          <td class="row-title-left" mat-cell *matCellDef="let element">{{element.title}}</td>
        </ng-container>
        <ng-container matColumnDef="year0">
          <th mat-header-cell *matHeaderCellDef>2021</th>
          <td mat-cell *matCellDef="let element">{{element.year0 | percent}}</td>
        </ng-container>
        <ng-container matColumnDef="year1">
          <th mat-header-cell *matHeaderCellDef> 2022 </th>
          <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
            <div *ngIf="element.rowUnits === 'number'">
              <input type="text" appDecimalInput required [value]=element.year1 formControlName="year1">
            </div>
            <div *ngIf="element.rowUnits === 'percent'">
              <!-- <input type="text" appDecimalInput [value]="element.year1 * 100"
                (input)="element.year1 = $any($event.target).value / 100" formControlName="year1"> -->
              <input id="year1" name="year1" type="number" [ngModel]="round(element.year1 * 100)"
                formControlName="year1" min="0" max="100" (keyup)="validateUserInput($event, index, 'year1')">
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="year2">
          <th mat-header-cell *matHeaderCellDef> 2023 </th>
          <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
            <div *ngIf="element.rowUnits === 'number'">
              <input type="text" appDecimalInput required [value]=element.year2 formControlName="year2">
            </div>
            <div *ngIf="element.rowUnits === 'percent'">
              <input id="year2" name="year2" type="number" [ngModel]="round(element.year2 * 100)"
                formControlName="year2" min="0" max="100" (keyup)="validateUserInput($event, index, 'year2')">
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="year3">
          <th mat-header-cell *matHeaderCellDef> 2024 </th>
          <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
            <div *ngIf="element.rowUnits === 'number'">
              <input type="text" appDecimalInput required [value]=element.year3 formControlName="year3">
            </div>
            <div *ngIf="element.rowUnits === 'percent'">
              <input id="year3" name="year3" type="number" [ngModel]="round(element.year3 * 100)"
                formControlName="year3" min="0" max="100" (keyup)="validateUserInput($event, index, 'year3')">
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="year4">
          <th mat-header-cell *matHeaderCellDef> 2025 </th>
          <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
            <div *ngIf="element.rowUnits === 'number'">
              <input type="text" appDecimalInput required [value]=element.year4 formControlName="year4">
            </div>
            <div *ngIf="element.rowUnits === 'percent'">
              <input id="year4" name="year4" type="number" [ngModel]="round(element.year4 * 100)"
                formControlName="year4" min="0" max="100" (keyup)="validateUserInput($event, index, 'year4')">
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="year5">
          <th mat-header-cell *matHeaderCellDef> 2026 </th>
          <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
            <div *ngIf="element.rowUnits === 'number'">
              <input type="text" appDecimalInput required [value]=element.year5 formControlName="year5">
            </div>
            <div *ngIf="element.rowUnits === 'percent'">
              <input id="year5" name="year5" type="number" [ngModel]="round(element.year5 * 100)"
                formControlName="year5" min="0" max="100" (keyup)="validateUserInput($event, index, 'year5')">
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="year6">
          <th mat-header-cell *matHeaderCellDef> 2027</th>
          <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
            <div *ngIf="element.rowUnits === 'number'">
              <input type="text" appDecimalInput required [value]=element.year6 formControlName="year6">
            </div>
            <div *ngIf="element.rowUnits === 'percent'">
              <input id="year6" name="year6" type="number" [ngModel]="round(element.year6 * 100)"
                formControlName="year6" min="0" max="100" (keyup)="validateUserInput($event, index, 'year6')">
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="year7">
          <th mat-header-cell *matHeaderCellDef> 2028 </th>
          <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
            <div *ngIf="element.rowUnits === 'number'">
              <input type="text" appDecimalInput required [value]=element.year7 formControlName="year7">
            </div>
            <div *ngIf="element.rowUnits === 'percent'">
              <input id="year7" name="year7" type="number" [ngModel]="round(element.year7 * 100)"
                formControlName="year7" min="0" max="100" (keyup)="validateUserInput($event, index, 'year7')">
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="year8">
          <th mat-header-cell *matHeaderCellDef> 2029 </th>
          <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
            <div *ngIf="element.rowUnits === 'number'">
              <input type="text" appDecimalInput required [value]=element.year8 formControlName="year8">
            </div>
            <div *ngIf="element.rowUnits === 'percent'">
              <input id="year8" name="year8" type="number" [ngModel]="round(element.year8 * 100)"
                formControlName="year8" min="0" max="100" (keyup)="validateUserInput($event, index, 'year8')">
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="year9">
          <th mat-header-cell *matHeaderCellDef> 2030 </th>
          <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
            <div *ngIf="element.rowUnits === 'number'">
              <input type="text" appDecimalInput required [value]=element.year9 formControlName="year9">
            </div>
            <div *ngIf="element.rowUnits === 'percent'">
              <input id="year9" name="year9" type="number" [ngModel]="round(element.year9 * 100)"
                formControlName="year9" min="0" max="100" (keyup)="validateUserInput($event, index, 'year9')">
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="assumptionsDisplayedColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: assumptionsDisplayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
        </tr>
      </table>
    </form>
    <div class="title">
      <span>Average nutrient level (mg/kg) among all food vehicle at point of fortification</span>
    </div>
    <div class="lower-table-wrapper">
      <div class="focus-mn">
        <span class="sub-header">Focus micronutrient</span>
        {{ activeStandard}}
        <span class="mn-title">{{ (quickMapsService.micronutrient.obs | async)?.name }}</span>
      </div>
      <table mat-table [dataSource]="newDataSource" matSort class="table-full-width">
        <ng-container matColumnDef="standard">
          <th mat-header-cell *matHeaderCellDef>Standard</th>
          <td mat-cell *matCellDef="let element">{{element.standard}}</td>
        </ng-container>
        <ng-container matColumnDef="year0">
          <th mat-header-cell *matHeaderCellDef>2021</th>
          <td mat-cell *matCellDef="let element">{{element.year0}}</td>
        </ng-container>
        <ng-container matColumnDef="year1">
          <th mat-header-cell *matHeaderCellDef>2022</th>
          <td mat-cell *matCellDef="let element">
            {{element.year1 | number:'1.1-2'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="year2">
          <th mat-header-cell *matHeaderCellDef>2023</th>
          <td mat-cell *matCellDef="let element">
            {{element.year2 | number:'1.1-2'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="year3">
          <th mat-header-cell *matHeaderCellDef>2024</th>
          <td mat-cell *matCellDef="let element">
            {{element.year3 | number:'1.1-2'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="year4">
          <th mat-header-cell *matHeaderCellDef>2025</th>
          <td mat-cell *matCellDef="let element">
            {{element.year4 | number:'1.1-2'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="year5">
          <th mat-header-cell *matHeaderCellDef>2026</th>
          <td mat-cell *matCellDef="let element">
            {{element.year5 | number:'1.1-2'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="year6">
          <th mat-header-cell *matHeaderCellDef>2027</th>
          <td mat-cell *matCellDef="let element">
            {{element.year6 | number:'1.1-2'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="year7">
          <th mat-header-cell *matHeaderCellDef>2028</th>
          <td mat-cell *matCellDef="let element">
            {{element.year7 | number:'1.1-2'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="year8">
          <th mat-header-cell *matHeaderCellDef>2029</th>
          <td mat-cell *matCellDef="let element">
            {{element.year8 | number:'1.1-2'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="year9">
          <th mat-header-cell *matHeaderCellDef>2030</th>
          <td mat-cell *matCellDef="let element">
            {{element.year9 | number:'1.1-2'}}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="averageNutrientDisplayedColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: averageNutrientDisplayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
        </tr>
      </table>
    </div>
    <app-micro-nutrients-in-premix-table [editable]="false"></app-micro-nutrients-in-premix-table>
    <app-intervention-step-details (resetValues)="resetForm()" [resetDefaultValues]="true" [showFocusMn]="true"
      [showUserValues]="true" [showAddMicronutrient]="false" [showMnUnits]="true"></app-intervention-step-details>

  </div>
  <footer>
    <a class="intervention-navigation" mat-stroked-button [routerLink]="ROUTES.INTERVENTION_REVIEW_BASELINE | route"
      queryParamsHandling="preserve">Back</a>
    <a class="intervention-navigation" mat-stroked-button [routerLink]="ROUTES.COST_EFFECTIVENESS | route"
      queryParamsHandling="preserve">Save and close</a>
    <a class="intervention-navigation-confirm" mat-flat-button color="primary"
      [routerLink]="ROUTES.INTERVENTION_REVIEW_ASSUMPTIONS_REVIEW | route" queryParamsHandling="preserve"
      (click)="confirmAndContinue()">Confirm and
      continue</a>
  </footer>
</div>