<div class="bmgf-maps-nice-scrollbar container">
  <div class="content">
    <app-intervention-description></app-intervention-description>
    <div class="title">
      <span>Performance over time</span>
    </div>

    <app-reusable-skeleton-table *ngIf="!dataLoaded" [setData]="{ columns: 11, rows: 2 }"></app-reusable-skeleton-table>

    <form [formGroup]="form" *ngIf="form">

      <table mat-table [dataSource]="dataSource" formArrayName="items" class="table-full-width">
        <ng-container matColumnDef="title">
          <th class="row-title-left" mat-header-cell *matHeaderCellDef>Intervention
            year
          </th>
          <td class="row-title-left" mat-cell *matCellDef="let element">{{element.labelText}}</td>
        </ng-container>
        <ng-container matColumnDef="year0">
          <th mat-header-cell *matHeaderCellDef>2021</th>
          <td mat-cell *matCellDef="let element">{{element.year0 | percent}}</td>
        </ng-container>


        <ng-container *ngFor="let year of [1,2,3,4,5,6,7,8,9]; last as omitCopyButton" [matColumnDef]="'year' + year">
          <th mat-header-cell *matHeaderCellDef> {{ baseYear + year }} </th>
          <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
            <app-ce-input-field [index]="index" [year]="year" [element]="element" [form]="form" [tableData]="dataSource"
              [includeCopyRightButton]="!omitCopyButton"
              [changeFunction]="updateBaselineAssumptions"></app-ce-input-field>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="assumptionsDisplayedColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: assumptionsDisplayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
        </tr>
      </table>
    </form>
    <div class="title">
      <span>Average fortification level (mg/kg) among fortifiable food vehicle at point of fortification</span>
    </div>
    <div class="lower-table-wrapper">
      <table mat-table [dataSource]="newDataSource" matSort class="table-full-width">
        <ng-container matColumnDef="micronutrient">
          <th mat-header-cell *matHeaderCellDef>Micronutrient</th>
          <td mat-cell *matCellDef="let element">{{element.micronutrient}}</td>
        </ng-container>
        <ng-container matColumnDef="standard">
          <th mat-header-cell *matHeaderCellDef>Standard</th>
          <td mat-cell *matCellDef="let element">{{element.standard | number:'1.1-2'}}</td>
        </ng-container>
        <ng-container matColumnDef="year0">
          <th mat-header-cell *matHeaderCellDef>2021</th>
          <td mat-cell *matCellDef="let element">
            {{ baselineAssumptions.actuallyFortified.year0 *
            baselineAssumptions.averageFortificationLevel.year0 *
            baselineAssumptions.potentiallyFortified.year0 *
            element.standard | number:'1.1-2'}}</td>
        </ng-container>
        <ng-container matColumnDef="year1">
          <th mat-header-cell *matHeaderCellDef>2022</th>
          <td mat-cell *matCellDef="let element">
            {{ baselineAssumptions.actuallyFortified.year1 *
            baselineAssumptions.averageFortificationLevel.year1 *
            baselineAssumptions.potentiallyFortified.year1 *
            element.standard | number:'1.1-2'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="year2">
          <th mat-header-cell *matHeaderCellDef>2023</th>
          <td mat-cell *matCellDef="let element">
            {{ baselineAssumptions.actuallyFortified.year2 *
            baselineAssumptions.averageFortificationLevel.year2 *
            baselineAssumptions.potentiallyFortified.year2 *
            element.standard | number:'1.1-2'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="year3">
          <th mat-header-cell *matHeaderCellDef>2024</th>
          <td mat-cell *matCellDef="let element">
            {{ baselineAssumptions.actuallyFortified.year3 *
            baselineAssumptions.averageFortificationLevel.year3 *
            baselineAssumptions.potentiallyFortified.year3 *
            element.standard | number:'1.1-2'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="year4">
          <th mat-header-cell *matHeaderCellDef>2025</th>
          <td mat-cell *matCellDef="let element">
            {{ baselineAssumptions.actuallyFortified.year4 *
            baselineAssumptions.averageFortificationLevel.year4 *
            baselineAssumptions.potentiallyFortified.year4 *
            element.standard | number:'1.1-2'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="year5">
          <th mat-header-cell *matHeaderCellDef>2026</th>
          <td mat-cell *matCellDef="let element">
            {{ baselineAssumptions.actuallyFortified.year5 *
            baselineAssumptions.averageFortificationLevel.year5 *
            baselineAssumptions.potentiallyFortified.year5 *
            element.standard | number:'1.1-2'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="year6">
          <th mat-header-cell *matHeaderCellDef>2027</th>
          <td mat-cell *matCellDef="let element">
            {{ baselineAssumptions.actuallyFortified.year6 *
            baselineAssumptions.averageFortificationLevel.year6 *
            baselineAssumptions.potentiallyFortified.year6 *
            element.standard | number:'1.1-2'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="year7">
          <th mat-header-cell *matHeaderCellDef>2028</th>
          <td mat-cell *matCellDef="let element">
            {{ baselineAssumptions.actuallyFortified.year7 *
            baselineAssumptions.averageFortificationLevel.year7 *
            baselineAssumptions.potentiallyFortified.year7 *
            element.standard | number:'1.1-2'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="year8">
          <th mat-header-cell *matHeaderCellDef>2029</th>
          <td mat-cell *matCellDef="let element">
            {{ baselineAssumptions.actuallyFortified.year8 *
            baselineAssumptions.averageFortificationLevel.year8 *
            baselineAssumptions.potentiallyFortified.year8 *
            element.standard | number:'1.1-2'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="year9">
          <th mat-header-cell *matHeaderCellDef>2030</th>
          <td mat-cell *matCellDef="let element">
            {{ baselineAssumptions.actuallyFortified.year9 *
            baselineAssumptions.averageFortificationLevel.year9 *
            baselineAssumptions.potentiallyFortified.year9 *
            element.standard | number:'1.1-2'}}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="averageNutrientDisplayedColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: averageNutrientDisplayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
        </tr>
      </table>
    </div>
    <!-- <app-micro-nutrients-in-premix-table [editable]="false"></app-micro-nutrients-in-premix-table> -->
    <app-intervention-step-details (resetValues)="resetForm()" [resetDefaultValues]="true" [showFocusMn]="true"
      [showUserValues]="true" [showUserOverrideValues]="true" [showAddMicronutrient]="false"
      [showMnUnits]="true"></app-intervention-step-details>

  </div>
  <footer>
    <a class="intervention-navigation" mat-stroked-button [routerLink]="ROUTES.INTERVENTION_REVIEW_BASELINE | route"
      queryParamsHandling="preserve">Back</a>
    <a class="intervention-navigation" mat-stroked-button [routerLink]="ROUTES.COST_EFFECTIVENESS | route"
      queryParamsHandling="preserve">Save and close</a>
    <button [disabled]="loading" class="intervention-navigation-confirm" mat-flat-button color="primary"
      (click)="confirmAndContinue(ROUTES.INTERVENTION_REVIEW_EXPECTED_LOSSES)">
      <span *ngIf="!loading">Confirm and continue to Costs</span>
      <span *ngIf="loading">Recalculating model values&nbsp;<mat-spinner class="loading-indicator" aria-label="spinner"
          [diameter]="16" color='accent'></mat-spinner></span>
    </button>
  </footer>
</div>