<div class="bmgf-maps-nice-scrollbar">
    <!-- <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 tableFullWidth"> -->
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 tableFullWidth">

        <ng-container matColumnDef="region">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Region</th>
            <td mat-cell *matCellDef="let element">{{ element.region }}</td>
        </ng-container>
        <ng-container matColumnDef="baselineSupply">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Baseline Supply <span
                    class="scenario-unit">(mg/person/day)</span></th>
            <td mat-cell *matCellDef="let element">{{ element.baselineSupply }}</td>
        </ng-container>
        <ng-container matColumnDef="scenarioSupply">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Scenario Supply <span class="scenario-unit">
                    (mg/person/day)</span></th>
            <td mat-cell *matCellDef="let element">{{ element.scenarioSupply }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
        </tr>
    </table>
</div>