<app-base-dialog [data]="data">
  <h2>Dietary supply of {{micronutrient}} in {{ country }}: Dataset Details</h2>
  <hr>

  <p>Baseline 'nutrient availability' of micronutrients is calculated utilising a data set representing consumption
    information in combination with a locally relevant food composition table</p>

  <mat-card>
    <mat-card-title><strong>Consumption Data:</strong> {{ dataSource.consumptionDataName }}</mat-card-title>
    <mat-card-subtitle>{{ dataSource.consumptionDataDesc }}</mat-card-subtitle>
    <mat-card-actions align="end">
      <a mat-stroked-button disabled="!dataSoure.consumptionDataMetaId"
        href="https://metadata.micronutrient.support/geonetwork/srv/eng/catalog.search#/metadata/{{ dataSource.consumptionDataMetaId }}"
        target="_blank">
        View Metadata Record</a>
      <button disabled mat-stroked-button>Download Dataset</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-title><strong>Composition Data:</strong> {{ dataSource.compositionDataName }}</mat-card-title>
    <mat-card-subtitle>{{ dataSource.compositionDataDesc }}</mat-card-subtitle>
    <mat-card-actions align="end">
      <a mat-stroked-button disabled="!dataSoure.compositionDataMetaId"
        href="https://metadata.micronutrient.support/geonetwork/srv/eng/catalog.search#/metadata/{{ dataSource.compositionDataMetaId }}"
        target="_blank">
        View Metadata Record</a>
      <button disabled mat-stroked-button>Download Dataset</button>
    </mat-card-actions>
  </mat-card>



  <hr>

</app-base-dialog>