.container-row {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}

.element-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  margin: 2em;
  width: 200px;
  max-width: 250px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);

  &.end {
    border-right: none;
  }
}

.status-element {
  display: block;
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.link-label {
  margin-left: 15px;
  font-size: small;
}

.download-element {
  margin-bottom: 5px;
}

.download-title {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 1rem;
}
