<div class="container">
  <div class="content">
    <p>Intervention name: ThisIsTheInterventionName</p>
    <h1>Recurring costs</h1>
    <p>Summary panel</p>
  </div>
  <footer>
    <a class="intervention-navigation" mat-stroked-button
      [routerLink]="ROUTES.INTERVENTION_REVIEW_STARTUP_SCALEUP_COSTS | route" queryParamsHandling="preserve">Back</a>
    <a class="intervention-navigation" mat-stroked-button [routerLink]="ROUTES.QUICK_MAPS_COST_EFFECTIVENESS | route"
      queryParamsHandling="preserve">Save and close</a>
    <a class="intervention-navigation-confirm" mat-stroked-button
      [routerLink]="ROUTES.INTERVENTION_REVIEW_COST_SUMMARY | route" queryParamsHandling="preserve">Confirm and
      continue</a>
  </footer>
</div>