<div class="content">
  <div>
    <div class="title">
      <span>Startup costs</span>
    </div>
    <div class="row-container">
      <div class="tab-content">

        <table mat-table [dataSource]="dataSource" matSort class="table-full-width">
          <ng-container matColumnDef="section">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Years</th>
            <td mat-cell *matCellDef="let element">
              {{element.category}}
            </td>
            <td mat-footer-cell *matFooterCellDef> Total </td>
          </ng-container>
          <ng-container matColumnDef="year0Total">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">2021</th>
            <td mat-cell *matCellDef="let element">{{element.year0CombinedTotal | currencyExtended}}</td>
            <td mat-footer-cell *matFooterCellDef> {{getTotalCost('year1CombinedTotal') | currencyExtended}} </td>
          </ng-container>
          <ng-container matColumnDef="year1Total">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">2022</th>
            <td mat-cell *matCellDef="let element">{{element.year1CombinedTotal | currencyExtended}}</td>
            <td mat-footer-cell *matFooterCellDef> {{getTotalCost('year1CombinedTotal') | currencyExtended}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayHeaders;"></tr>
          <tr mat-row *matRowDef="let row; columns: displayHeaders"></tr>
          <tr class="mat-row" *matNoDataRow>
          <tr mat-footer-row *matFooterRowDef="displayHeaders"></tr>
        </table>
      </div>
    </div>
  </div>
</div>