<mat-toolbar color="primary" style="height:40px">
  <button mat-icon-button class="example-icon" aria-label="Settings icon">
    <mat-icon>settings</mat-icon>
  </button>
  <span class="example-spacer">Summarised data table</span>
  <button mat-icon-button class="example-icon" aria-label="Modal icon">
    <mat-icon>launch</mat-icon>
  </button>
</mat-toolbar>

<div class="table-container">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input />
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="pc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>pc</th>
      <td mat-cell *matCellDef="let element">{{ element.pc }}</td>
    </ng-container>
    <ng-container matColumnDef="va.supply">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>va.supply</th>
      <td mat-cell *matCellDef="let element">{{ element['va.supply'] | slice:0:6 }}</td>
    </ng-container>
    <ng-container matColumnDef="va.cergra">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>va.cergra</th>
      <td mat-cell *matCellDef="let element">{{ element['va.cergra'] | slice:0:6 }}</td>
    </ng-container>
    <ng-container matColumnDef="va.tubers">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>va.tubers</th>
      <td mat-cell *matCellDef="let element">{{ element['va.tubers'] | slice:0:6 }}</td>
    </ng-container>
    <ng-container matColumnDef="va.nuts">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>va.nuts</th>
      <td mat-cell *matCellDef="let element">{{ element['va.nuts'] | slice:0:6 }}</td>
    </ng-container>
    <ng-container matColumnDef="va.veg">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>va.veg</th>
      <td mat-cell *matCellDef="let element">{{ element['va.veg'] | slice:0:6 }}</td>
    </ng-container>
    <ng-container matColumnDef="va.meat">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>va.meat</th>
      <td mat-cell *matCellDef="let element">{{ element['va.meat'] | slice:0:6}}</td>
    </ng-container>
    <ng-container matColumnDef="va.fruit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>va.fruit</th>
      <td mat-cell *matCellDef="let element">{{ element['va.fruit']  | slice:0:6}}</td>
    </ng-container>
    <ng-container matColumnDef="va.dairy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>va.dairy</th>
      <td mat-cell *matCellDef="let element">{{ element['va.dairy'] | slice:0:6 }}</td>
    </ng-container>
    <ng-container matColumnDef="va.fat">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>va.fat</th>
      <td mat-cell *matCellDef="let element">{{ element['va.fat'] | slice:0:6 }}</td>
    </ng-container>
    <ng-container matColumnDef="va.misc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>va.misc</th>
      <td mat-cell *matCellDef="let element">{{ element['va.misc'] | slice:0:6 }}</td>
    </ng-container>
    <ng-container matColumnDef="va.vendor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>va.vendor</th>
      <td mat-cell *matCellDef="let element">{{ element['va.vendor'] | slice:0:6 }}</td>
    </ng-container>
    <ng-container matColumnDef="va.bev">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>va.bev</th>
      <td mat-cell *matCellDef="let element">{{ element['va.bev'] | slice:0:6 }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{ input.value }}"</td>
    </tr>
  </table>
  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5]" [length]="rawData?.data?.length">
  </mat-paginator>

</div>