@use '@angular/material' as mat;
@import 'src/assets/scss/_colour.scss';

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1;
  overflow: auto;
  padding: 24px;
}

footer {
  background: #fafafa;
  flex-direction: row;
  display: flex;
  padding: 10px;
  justify-content: flex-end;
  border-top: 1px solid $color_background_form;
}

.intervention-navigation {
  margin-right: 10px;
}

.header-container {
  display: flex;
  border: 1px solid $color_primary;
  border-radius: 5px;
  background-color: white;
  align-items: center;
  justify-content: center;

  & .wideItem {
    flex-grow: 1;
    display: flex;
    margin: 1em 0.5em;
  }
}

.title {
  border: solid 1px $color_primary;
  margin: 1em;
  padding: 10px;
  span {
    font-size: 20px;
    font-weight: 600;
  }
}

// Stage 2 & 4
.lower-table-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;

  mat-select {
    text-transform: capitalize;

    mat-option {
      span {
        text-transform: capitalize;
      }
    }
  }

  .focus-mn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Ubuntu Mono';

    .sub-header {
      margin-left: 0em;
    }

    span {
      display: flex;
      justify-content: flex-start;
    }

    .mn-title {
      color: $color_primary;
      font-weight: bold;
      margin-top: 2em;
      margin-right: 2em;
    }
  }
}

table {
  width: 100%;
  background: none;

  td.mat-mdc-cell {
    border-bottom-color: rgba(0, 0, 0, 0);
    text-align: center;

    // &.mat-column-micronutrient {
    //   color: mat.get-color-from-palette($_primary_pallete, A700);
    //   font-weight: 700;
    //   font-family: 'Quicksand', sans-serif;
    //   padding: 0 1.25rem;
    // }
  }
}

input {
  &:disabled {
    background-color: #a0a0a0;
    border: 0px;
    color: white !important;
  }
}

// user edited values
input.ng-dirty {
  color: $color_input_blue;
  border-color: $color_input_blue;
}

.calculated {
  background-color: aquamarine;
}

input.ng-dirty.calculated {
  color: black;
  border-color: black;
}

// user overridden calculated values
input.calculated.ng-touched:not(.ng-pristine) {
  color: $color_input_blue;
  border-color: $color_input_blue;
  background-color: aqua;
}

.reset-button {
  display: none;
  height: 30px;
  border: none;
  border-radius: 5px;
  padding: 0;
  background: #a0a0a0;
  color: #fff;

  mat-icon {
    font-size: 21px;
    padding-top: 0.2em;
  }
}

.copy-wrap {
  flex-grow: 1;
  flex-shrink: 1;
}

.copy-wrap:has(input.calculated.ng-touched:not(.ng-pristine)) {
  width: 70%;

  & + .reset-button {
    display: block;
  }
}

.mat-mdc-cell:has(input.calculated.ng-touched:not(.ng-pristine)) {
  // display: flex;
  height: 52px;
  align-items: center;
}

app-ce-input-field {
  display: flex;
}
