<div role="main">

    <div class="wave-header">
        <img src="/assets/images/purple-opacity-wave.svg" alt="">
    </div>
    <div class="mdc-layout-grid header">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell--span-6">
                <img class="header-image" src="/assets/images/webp/education-min.webp" alt="">
            </div>
            <div class="mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--align-middle">
                <h1>Profile Details</h1>
                <h2>MAPS is developing e-learning tools for educational and professional contexts. More content to
                    follow.</h2>
            </div>
        </div>
    </div>

</div>