<app-base-dialog [data]="dialogData" title="Food vehicle standard/target fortification levels">
  <div class="container">
    <p>Effectiveness of LSFF will be assessed on a micronutrient-specific basis and will not explicitly incorporate
      co-impacts/benefits of other micronutrients delivered by the food vehicle. If you would like to model only the
      cost of your focus micronutrient, do not added additional micronutrients in the premix or, if already loaded, set
      their standard/target nutrient levels to zero.</p>
  </div>
</app-base-dialog>