<div class="wave-header">
  <img src="/assets/images/purple-opacity-wave.svg" alt="placeholder">
</div>
<div class="share-page">
  <button id="sharePageButton" mat-icon-button color="primary" aria-label="share this page"
    (click)="share('Micronutrient Action Policy Support (MAPS) Tool', 'MAPS will be a web-hosted tool, communicating estimates of dietary micronutrient (MN) supplies and deficiency risks at national and sub-national scales in Africa.', 'https://micronutrient.support/')">
    <mat-icon>share</mat-icon>
  </button>
</div>
<div class="mdc-layout-grid header" role="main">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--align-middle">
      <h1>Micronutrient Action Policy Support (MAPS) Tool</h1>
      <h2>MAPS will be a web-hosted tool, communicating estimates of dietary micronutrient (MN) supplies and deficiency
        risks at national and sub-national scales in Africa. </h2>
      <button mat-raised-button color="primary" [routerLink]="ROUTES.MAPS_TOOL | route">Maps Tool Portal</button>
      <img src="/assets/images/maps-logo-full-greyscale.svg" alt="BMGF MAPS Logo" class="logo">
    </div>
    <div class="mdc-layout-grid__cell--span-6">
      <img class="header-image" src="/assets/images/webp/study-map-min.webp" alt="placeholder">
    </div>
  </div>
</div>

<mat-divider></mat-divider>

<div class="mdc-layout-grid section-shade">
  <div class=" mdc-layout-grid__inner">
    <div class="homeCell mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
      <div class="basic-card">
        <img src="/assets/images/webp/learning-min.webp" alt="placeholder">
        <div class="text text-center">
          <h2>Educational Resources</h2>
          <p>Educational resources related to the MAPS tool</p>
          <button mat-button color="primary" [routerLink]="ROUTES.EDUCATIONAL_RESOURCES | route">View</button>
        </div>

      </div>
    </div>
    <div class="homeCell mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
      <div class="basic-card">
        <img src="/assets/images/webp/objectives-min.webp" alt="placeholder">
        <div class="text text-center">
          <h2>Project Objectives</h2>
          <p>Project goals and ambitions for the future</p>
          <button mat-button color="primary" [routerLink]="ROUTES.PROJECT_OBJECTIVES | route">View</button>
        </div>
      </div>
    </div>
  </div>
</div>

<mat-divider></mat-divider>

<div class="mdc-layout-grid section">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-6">
      <h2 color="primary">Maps Tool Portal</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus ipsum a hendrerit ut maecenas. Ornare at
        ultricies nulla arcu ut ornare diam. Donec et pellentesque quis sed sed massa sed. Feugiat gravida ut auctor
        elementum enim at nibh egestas.</p>
      <button mat-raised-button color="primary" [routerLink]="ROUTES.MAPS_TOOL | route">Maps Tool Portal</button>
    </div>
    <div class="mdc-layout-grid__cell--span-6">
      <img class="homeCellImage" src="/assets/images/webp/maps-min.webp" alt="placeholder">
    </div>
  </div>
</div>