<div class="purpleWave"></div>

<div class="mdc-layout-grid header">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-8">
      <h1>Micronutrient Action Policy Support (MAPS) Tool</h1>
      <h2>MAPS will be a web-hosted tool, communicating estimates of dietary micronutrient (MN) supplies and deficiency
        risks at national and sub-national scales in Africa. </h2>
      <button mat-raised-button color="primary">Maps Tool Portal</button>
    </div>
    <div class="mdc-layout-grid__cell--span-4">
      <img src="https://via.placeholder.com/300x150">
    </div>
  </div>
</div>

<mat-divider></mat-divider>

<div class="mdc-layout-grid section">
  <div class=" mdc-layout-grid__inner">
    <div class="homeCell mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
      <div class="basic-card">
        <img class="homeCellImage" src="/assets/images/png/learning-min.png" alt="placeholder">
        <div class="text text-center">
          <h2>Educational Resources</h2>
          <p>Educational resources related to the MAPS tool</p>
          <button mat-button color="primary">View</button>
        </div>

      </div>
    </div>
    <div class="homeCell mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
      <div class="basic-card">
        <img class="homeCellImage" src="/assets/images/png/objectives-min.png" alt="placeholder">
        <div class="text text-center">
          <h2>Project Objectives</h2>
          <p>Project goals and ambitions for the future</p>
          <button mat-button color="primary">View</button>
        </div>
      </div>
    </div>
  </div>
</div>

<mat-divider></mat-divider>

<div class="mdc-layout-grid section">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-8">
      <h2 color="primary">Maps Tool Portal</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus ipsum a hendrerit ut maecenas. Ornare at
        ultricies nulla arcu ut ornare diam. Donec et pellentesque quis sed sed massa sed. Feugiat gravida ut auctor
        elementum enim at nibh egestas.</p>
      <button mat-raised-button color="primary">Maps Tool Portal</button>
    </div>
    <div class="mdc-layout-grid__cell--span-4">
      <img src="https://via.placeholder.com/300x150">
    </div>
  </div>
</div>
