.homeCell {
  box-sizing: border-box;
}

.homeCellImage {
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

@media (min-width: 840px) {
  .homeGrid .mdc-layout-grid__inner {
    justify-content: center;
  }
}

.wave-header {
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
