.purpleWave {
  background: url(/assets/images/purple-wave.svg);
  width: 100%;
  height: 340px;
  position: absolute;
  background-size: cover;
}
.purpleWedge {
  background: url(/assets/images/purple-wedge.svg);
}
.homeCell {
  box-sizing: border-box;
  // padding: 8px;
}

@media (min-width: 840px) {
  .homeGrid .mdc-layout-grid__inner {
    justify-content: center;
  }
}
