ngx-chartjs {
  height: 100%;
  width: 100%;
}

.chart-container {
  display: block;
  width: 100%;
  margin-left: 30px;
  margin-right: 30px;
}

.example-spacer {
  flex: 1 1 auto;
  text-align: center;
  font-size: 17px;
}

.tab-element {
  margin: 5px;
}
