<p>chart-card works!</p>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>ChartJS</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="chart-container">
      <ngx-chartjs id="chart" [data]="data" [style]="graphStyle" type="line"> </ngx-chartjs>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Plotly Chart</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="chart-container">
      <plotly-plot [data]="graph.data" [layout]="graph.layout"></plotly-plot>
    </div>
  </mat-card-content>
</mat-card>
