<mat-toolbar color="primary" style="height:40px">
  <button mat-icon-button class="example-icon" aria-label="Settings icon">
    <mat-icon>settings</mat-icon>
  </button>
  <span class="example-spacer">Chart View</span>
  <button mat-icon-button class="example-icon" aria-label="Modal icon">
    <mat-icon>launch</mat-icon>
  </button>
</mat-toolbar>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Chart 1">
    <div class="tab-element">
      <div class="chart-container">
        <plotly-plot [data]="graph.data" [layout]="graph.layout" [config]="{responsive: true}"></plotly-plot>
      </div>
    </div>

    <mat-tab label="Chart 2">
      <div class="tab-element">

        <div class="chartjs-container">
          <ngx-chartjs id="chart" [data]="data" [style]="graphStyle" type="line"> </ngx-chartjs>
        </div>
      </div>

    </mat-tab>

  </mat-tab>

</mat-tab-group>