ngx-chartjs {
  height: 100%;
  width: 100%;
}

.example-card {
  max-width: 900px;
}

.example-header-image {
  background-size: cover;
}

.tab-element {
  margin: 5px;
}

table {
  width: 100%;
  td {
    text-align: center;
  }
  tr.mat-row {
    height: 30px !important;
  }
  td.mat-cell {
    font-size: 12px;
  }
}

::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.chartjs-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
