<app-base-dialog [data]="dialogData">
    <h2>Select and intervention</h2>
    <p>
        Select one of the existing interventions and customise it for your scenario or design a completely new
        intervention.
    </p>
    <hr>
    <h3><strong>Select and intervention</strong></h3>

    <mat-form-field appearance="outline">
        <!-- <mat-select placeholder="Select an intervention"> -->
        <mat-label>Existing interventions</mat-label>
        <mat-optgroup label="Select an intervention">
            <select matNativeControl placeholder="Select an intervention">


                <mat-option>Wheat flour fortification
                        <button mat-mini-fab color="primary" (click)="openCEInterventionDialog()">
                        <mat-icon>question_mark</mat-icon>
                    </button>
                </mat-option>
                <mat-option>Supplementation
                    <button mat-mini-fab color="primary" (click)="openCEInterventionDialog()">
                        <mat-icon>question_mark</mat-icon>
                    </button>
                </mat-option>
                <mat-option>Salt fortification
                    <button mat-mini-fab color="primary" (click)="openCEInterventionDialog()">
                        <mat-icon>question_mark</mat-icon>
                    </button>
                </mat-option>
            </select>
        </mat-optgroup>
        <!-- </mat-select> -->
    </mat-form-field>

    <div class="button-container">
        <button mat-raised-button type=" button" class="btn btn-primary" (click)="closeDialog()">Cancel</button>
    </div>
    <div class="button-container">
        <button mat-raised-button color="primary">Create</button>
    </div>



</app-base-dialog>