@use '@angular/material/theming';
@import '/src/assets/scss/colour';

.content-container {
  padding: 10px;
}
h2,
p {
  text-align: center;
}

h2 {
  font-weight: 600;
}

p {
  display: flex;
  align-self: center;
}

mat-form-field {
  &.mat-mdc-form-field {
    width: 100%;
    font-weight: 500;
  }
}

.btn-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  z-index: 10;

  button {
    margin-left: 5px;

    &.btn-proceed {
      background-color: map_get($_primary_pallete, A700);

      &:disabled {
        color: #ffffff;
        cursor: not-allowed;
        opacity: 0.6;
      }
    }
  }
}

.dropdown-title {
  margin-bottom: 0.25rem;
}

.intervention-title {
  margin-top: 1rem;
}

form {
  &#form {
    margin-bottom: 2rem;
  }
}

.bing {
  margin: 5px;
}
