@use '@angular/material/theming';
@import '/src/assets/scss/_colour.scss';

mat-form-field {
  &.mat-mdc-form-field {
    width: 99%;
    font-weight: 500;
    margin: 8px 0 8px 0;
  }
}

.btn-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  z-index: 10;

  button {
    margin-left: 5px;

    &.btn-proceed {
      background-color: map_get($_primary_pallete, A700);

      &:disabled {
        color: #ffffff;
        cursor: not-allowed;
        opacity: 0.6;
      }
    }
  }
}

.dropdown-title {
  margin-top: 20px;
}

.result-wrapper {
  margin: 10px 0 5px 0;
}

form {
  &#parameter-form {
    margin: 2rem 0 1rem 0;
  }

  &#intervention-form {
    margin-top: 1rem;
  }

  .form-flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    div {
      width: 50%;
      margin-bottom: 0.5rem;

      h4 {
        margin-bottom: 0;
      }
    }
  }
}
