@use '@angular/material/theming';
@import '/src/assets/scss/_colour.scss';

mat-form-field {
  &.mat-mdc-form-field {
    width: 99%;
    font-weight: 500;
    margin: 8px 0 8px 0;
  }
}

.btn-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  z-index: 10;

  button {
    margin-left: 5px;

    &.btn-proceed {
      background-color: map_get($_primary_pallete, A700);

      &:disabled {
        color: #ffffff;
        cursor: not-allowed;
        opacity: 0.6;
      }
    }
  }
}
.id-container {
  padding: 10px;
  border-radius: 8px;
  margin: 0 1rem 2rem 1rem;
  border: 2px solid blue;
  background-color: rgba(0, 170, 255, 0.2);
}
.copy-button,
.email-button {
  border: 2px solid blue;
  color: blue;
  background-color: white;
  border-radius: 6px;
  padding: 2px;
  margin: 5px;
}
.dropdown-title {
  margin-top: 20px;
}

.result-wrapper {
  margin: 10px 0 5px 0;
}

form {
  &#parameter-form {
    margin: 2rem 0 1rem 0;
  }

  &#intervention-form {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .form-flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    div {
      width: 100%;
      margin-bottom: 0.5rem;

      h4 {
        margin-bottom: 0;
      }
    }
  }
}

.login-prompt-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  margin-top: 1em;
  .login-prompt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: $color_accent 1px solid;
    border-radius: 10px;
    width: 55%;
  }
}

.form-50 {
  width: 50% !important;
}

small {
  display: block;
  margin-top: -1em;
}

.error {
  color: red;
}

:host ::ng-deep .hint .mat-mdc-form-field-bottom-align {
  display: block;

  .mat-mdc-form-field-hint-wrapper {
    position: relative;
    padding: 0;
    margin-top: -2em;
  }
}

.load-message {
  padding: 1em;
  max-width: 30em;
  color: rgba(0, 0, 0, 0.6);
}
