@import 'src/assets/scss/_colour.scss';

.page-loading-spinner {
  z-index: 2000;
  background-color: #afafaf40;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}