@use '../../../../interventionReviewPages.scss';

table {
  tr.mat-mdc-footer-row {
    font-weight: bold;
  }
  .truncate-cell {
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
