<div class="content">
  <div>
    <div class="title">
      <span>Recurring/operating costs</span>
    </div>
    <div class="row-container">
      <div class="tab-content">

        <table mat-table [dataSource]="dataSource" matSort class="table-full-width">
          <ng-container matColumnDef="section">
            <th class="row-title-left" mat-header-cell *matHeaderCellDef>Years</th>
            <td class="row-title-left" mat-cell *matCellDef="let element">
              <button class="table-edit-button" mat-button color="primary"
                (click)="openSectionRecurringCostReviewDialog(element.category)">
                <mat-icon>edit</mat-icon>{{element.category}}
              </button>
            </td>
            <td class="row-title-left" mat-footer-cell *matFooterCellDef> Total </td>
          </ng-container>
          <ng-container matColumnDef="year0Total">
            <th mat-header-cell *matHeaderCellDef>2021</th>
            <td mat-cell *matCellDef="let element">{{element.year0CombinedTotal | currencyExtended}}</td>
            <td mat-footer-cell *matFooterCellDef> {{getTotalCost('year0CombinedTotal') | currencyExtended}} </td>
          </ng-container>
          <ng-container matColumnDef="year1Total">
            <th mat-header-cell *matHeaderCellDef>2022</th>
            <td mat-cell *matCellDef="let element">{{element.year1CombinedTotal | currencyExtended}}</td>
            <td mat-footer-cell *matFooterCellDef> {{getTotalCost('year1CombinedTotal') | currencyExtended}} </td>
          </ng-container>
          <ng-container matColumnDef="year2Total">
            <th mat-header-cell *matHeaderCellDef>2023</th>
            <td mat-cell *matCellDef="let element">{{element.year2CombinedTotal | currencyExtended}}</td>
            <td mat-footer-cell *matFooterCellDef> {{getTotalCost('year2CombinedTotal') | currencyExtended}} </td>
          </ng-container>
          <ng-container matColumnDef="year3Total">
            <th mat-header-cell *matHeaderCellDef>2024</th>
            <td mat-cell *matCellDef="let element">{{element.year3CombinedTotal | currencyExtended}}</td>
            <td mat-footer-cell *matFooterCellDef> {{getTotalCost('year3CombinedTotal') | currencyExtended}} </td>
          </ng-container>
          <ng-container matColumnDef="year4Total">
            <th mat-header-cell *matHeaderCellDef>2025</th>
            <td mat-cell *matCellDef="let element">{{element.year4CombinedTotal | currencyExtended}}</td>
            <td mat-footer-cell *matFooterCellDef> {{getTotalCost('year4CombinedTotal') | currencyExtended}} </td>
          </ng-container>
          <ng-container matColumnDef="year5Total">
            <th mat-header-cell *matHeaderCellDef>2026</th>
            <td mat-cell *matCellDef="let element">{{element.year5CombinedTotal | currencyExtended}}</td>
            <td mat-footer-cell *matFooterCellDef> {{getTotalCost('year5CombinedTotal') | currencyExtended}} </td>
          </ng-container>
          <ng-container matColumnDef="year6Total">
            <th mat-header-cell *matHeaderCellDef>2027</th>
            <td mat-cell *matCellDef="let element">{{element.year6CombinedTotal | currencyExtended}}</td>
            <td mat-footer-cell *matFooterCellDef> {{getTotalCost('year6CombinedTotal') | currencyExtended}} </td>
          </ng-container>
          <ng-container matColumnDef="year7Total">
            <th mat-header-cell *matHeaderCellDef>2028</th>
            <td mat-cell *matCellDef="let element">{{element.year7CombinedTotal | currencyExtended}}</td>
            <td mat-footer-cell *matFooterCellDef> {{getTotalCost('year7CombinedTotal') | currencyExtended}} </td>
          </ng-container>
          <ng-container matColumnDef="year8Total">
            <th mat-header-cell *matHeaderCellDef>2029</th>
            <td mat-cell *matCellDef="let element">{{element.year8CombinedTotal | currencyExtended}}</td>
            <td mat-footer-cell *matFooterCellDef> {{getTotalCost('year8CombinedTotal') | currencyExtended}} </td>
          </ng-container>
          <ng-container matColumnDef="year9Total">
            <th mat-header-cell *matHeaderCellDef>2030</th>
            <td mat-cell *matCellDef="let element">{{element.year9CombinedTotal | currencyExtended}}</td>
            <td mat-footer-cell *matFooterCellDef> {{getTotalCost('year9CombinedTotal') | currencyExtended}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayHeaders;"></tr>
          <tr mat-row *matRowDef="let row; columns: displayHeaders"></tr>
          <tr class="mat-row" *matNoDataRow>
          <tr mat-footer-row *matFooterRowDef="displayHeaders"></tr>
        </table>
      </div>
    </div>
  </div>
</div>