@import 'src/assets/scss/_colour';

.double-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
  width: 4em;
  padding: 5px;
  height: 30px;
  border-radius: 5px;
  border: black 0.5px solid;
  text-align: center;
}

table {
  width: 100%;
  background: none;
  table-layout: fixed;
  td.mat-mdc-cell {
    border-bottom-color: rgba(0, 0, 0, 0);
  }
  .mat-mdc-button:not([class*='remove-mn']) {
    color: $color_primary;
  }
  .remove-mn {
    mat-icon {
      color: $color_accent;
    }
  }
}
