@import 'src/assets/scss/colour';

.double-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
  width: 4em;
  padding: 5px;
  height: 30px;
  border-radius: 5px;
  border: black 0.5px solid;
  text-align: center;

  &.ng-dirty {
    color: $color_input_blue;
    border-color: $color_input_blue;
  }
}

table {
  width: 100%;
  background: none;
  table-layout: fixed;
  padding: 0 0 0 1.75rem;

  td.mat-mdc-cell {
    border-bottom-color: rgba(0, 0, 0, 0);
    text-align: left;

    &:first-of-type {
      padding-left: 0;
    }

    .micronutrient-title {
      text-transform: capitalize;
      font-weight: 700;
      font-family: 'Quicksand';
    }
  }

  .mat-mdc-button:not([class*='remove-mn']) {
    color: $color_primary;
  }

  ::ng-deep mat-form-field {
    width: 90%;
  }
  .remove-mn {
    padding: 0;
    vertical-align: middle;
    margin-left: 5rem;
  }
}
.icon-display {
  transform: scale(0.6);
}
// // user edited values
input.ng-dirty {
  color: $color_input_blue;
  border-color: $color_input_blue;
}
