<div class="wave-header">
  <img src="/assets/images/purple-opacity-wave.svg">
</div>
<div class="mdc-layout-grid header">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--align-middle">
      <h1>Educational Resources</h1>
      <h2>MAPS is developing e-learning tools for educational and professional contexts. More content to follow.</h2>
    </div>
    <div class="mdc-layout-grid__cell--span-6">
      <img class="header-image" src="/assets/images/webp/education-min.webp">
    </div>
  </div>
</div>
