<div role="main">

  <div class="wave-header">
    <img src="/assets/images/purple-opacity-wave.svg" alt="">
  </div>
  <div class="mdc-layout-grid header">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--align-middle">
        <h1>Project Objectives</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus ipsum a hendrerit ut maecenas. Ornare at
          ultricies nulla arcu ut ornare diam. Donec et pellentesque quis sed sed massa sed. Feugiat gravida ut auctor
          elementum enim at nibh egestas. </h2>
      </div>
      <div class="mdc-layout-grid__cell--span-6">
        <img class="header-image" src="/assets/images/webp/study-map-min.webp" alt="">
      </div>
    </div>
  </div>

</div>