<!-- <div role="main">

  <div class="wave-header">
    <img src="/assets/images/purple-opacity-wave.svg" alt="">
  </div>
  <div class="mdc-layout-grid header">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--align-middle">

        <div class="columns mb-2">
          <div class="column col-8 col-md-12">
            <h2 class="text-primary">What is the problem?</h2>
            <p>Micronutrients such as: folic acid, iron, iodine, selenium, zinc, and vitamins A, Bs, C, D, E, K are
              essential
              for human health and are mostly acquired from the food we eat. Although humans require small quantities of
              these
              micronutrients, inadequate intake of one or more of these cause micronutrient deficiency (MND) which have
              serious ramifications on the health of individuals affected and the economy of the country in which they
              live.
              Micronutrient deficiencies are global problems and can be significant concerns in sub-Saharan Africa. With
              the
              burgeoning human population and anticipated changes in climate which impact on food availability, MNDs are
              likely to remain important problems. Hence, it is crucial to better understand MNDs at various scales and
              time-horizons, to support evidence gathering for policy interventions and program investments.

            </p>
          </div>
          <div class="column col-4 col-md-12"><img src="../../../assets/images/jpg/crop.jpg" style="max-width: 100%">
          </div>
          <h2 class="text-primary column col-12">The Micronutrient Support Tool</h2>
          <div class="column col-4 hide-md text-center"><img src="../../../assets/images/jpg/structure.png"
              style="max-width: 80%"></div>
          <div class="column col-8 col-md-12">

            <p>Micronutrient Action Policy Support (MAPS) tool will deliver a co-designed, web-hosted tool, to enable
              the best
              possible estimates of MNDs to be communicated at national and sub-national scales in Africa. The MAPS tool
              will be a unique enabling environment for the wider Agriculture-Nutrition community and beyond. Through
              novel
              functionality, this tool will allow users to view and explore MND risks at various spatial and temporal
              scales.
              The tool will provide users with dietary micronutrient supply estimates of all nations in Africa using
              national-scale data, which can be spatially disaggregated by population data. Where survey data on food
              consumption (e.g. Household Consumption and Expenditure Surveys, HCES) or food composition (e.g.
              GeoNutrition
              surveys) are available for a nation, these data will support delivery of sub-national estimates of dietary
              micronutrient supplies and risks of deficiency. Where both types of data are available with good spatial
              resolution for the geography of interest, these will provide the most spatially disaggregated estimates
              possible.
            </p>
          </div>

          <div class="text-primary column col-12">
            <p>The MAPS project is funded by the <a href="https://www.gatesfoundation.org/">Bill & Melinda Gates
                Foundation</a>
            </p>
          </div>
        </div>


      </div>
    </div>
  </div>

</div> -->

<div role="main">

  <div class="wave-header">
    <img src="/assets/images/purple-opacity-wave.svg" alt="">
  </div>
  <div class="mdc-layout-grid header">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--align-middle">
        <h1>Project Objectives</h1>

        <div class="column col-8 col-md-12">
          <h2 class="text-primary">What is the problem?</h2>
          <p>Micronutrients such as: folic acid, iron, iodine, selenium, zinc, and vitamins A, Bs, C, D, E, K are
            essential
            for human health and are mostly acquired from the food we eat. Although humans require small quantities
            of these
            micronutrients, inadequate intake of one or more of these cause micronutrient deficiency (MND) which
            have
            serious ramifications on the health of individuals affected and the economy of the country in which they
            live.
            Micronutrient deficiencies are global problems and can be significant concerns in sub-Saharan Africa.
            With the
            burgeoning human population and anticipated changes in climate which impact on food availability, MNDs
            are
            likely to remain important problems. Hence, it is crucial to better understand MNDs at various scales
            and
            time-horizons, to support evidence gathering for policy interventions and program investments.
          </p>
        </div>

        <div class="column col-4 hide-md text-center">
          <img class="image-content" src="../../../assets/images/jpg/structure.png" style="max-width: 80%">
        </div>



      </div>
      <div class="mdc-layout-grid__cell--span-6">

        <img class="image-content" src="../../../assets/images/jpg/crop.jpg" style="max-width: 75%; max-height: 75%">
        <h2 class="text-primary column col-12">The Micronutrient Support Tool</h2>
        <p>Micronutrient Action Policy Support (MAPS) tool will deliver a co-designed, web-hosted tool, to enable
          the best
          possible estimates of MNDs to be communicated at national and sub-national scales in Africa. The MAPS
          tool
          will be a unique enabling environment for the wider Agriculture-Nutrition community and beyond. Through
          novel
          functionality, this tool will allow users to view and explore MND risks at various spatial and temporal
          scales.
          The tool will provide users with dietary micronutrient supply estimates of all nations in Africa using
          national-scale data, which can be spatially disaggregated by population data. Where survey data on food
          consumption (e.g. Household Consumption and Expenditure Surveys, HCES) or food composition (e.g.
          GeoNutrition
          surveys) are available for a nation, these data will support delivery of sub-national estimates of
          dietary
          micronutrient supplies and risks of deficiency. Where both types of data are available with good spatial
          resolution for the geography of interest, these will provide the most spatially disaggregated estimates
          possible.
        </p>
        <div class="mdc-layout-grid__cell--span-6">
          <p>The MAPS project is funded by the <a href="https://www.gatesfoundation.org/">Bill & Melinda Gates
              Foundation</a></p>
        </div>
      </div>
    </div>
  </div>

</div>