@import 'src/assets/scss/_colour';

mat-tab-group {
  min-height: 0;
  flex: 1 1;
  & ::ng-deep {
    & .mat-tab-body-wrapper {
      flex: 1 1;
      & .mat-tab-body-content > * {
        height: 100%;
      }
    }
  }
}

ngx-chartjs {
  display: block;
  & ::ng-deep > * {
    height: 100%;
  }
}

.example-header-image {
  background-size: cover;
}

.tab-element {
  margin: 5px;
}

table {
  width: 100%;
  & td.mat-cell {
    text-align: center;
    font-size: 12px;
  }
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}
