<div class="intervention-info">
  <span>Intervention name: <strong>{{ selectedIntervention?.name }}</strong></span>
  <span>ID: <strong>{{ selectedIntervention?.id }}</strong></span>
  <div>
    <span *ngIf="selectedIntervention.userId === 'Anonymous'">Intervention not claimed: <button mat-flat-button
        (click)="handleClaimIntervention()">Claim</button> </span>
  </div>
</div>

<div class="intervention-summary-title">{{ (quickMapsService.micronutrient.obs | async)?.name }} intervention in {{
  (quickMapsService.country.obs | async)?.name }}</div>
<div class="intervention-summary-panel">
  <div class="item">
    <div class="title">Food Vehicle:</div>
    <div class="value">{{ selectedIntervention?.foodVehicleName | titlecase }}</div>
  </div>
  <div class="item">
    <div class="title">Micronutrient:</div>
    <div class="value">{{ (quickMapsService.micronutrient.obs | async)?.name }}</div>
  </div>
  <div class="item">
    <div class="title">Status:</div>
    <div class="value">{{ (selectedIntervention?.programStatus | titlecase) || "Voluntary, transitioning to mandatory"}}
    </div>
  </div>
  <div class="item">
    <div class="title">Base year:</div>
    <div class="value">{{ (selectedIntervention?.baseYear) || "2021"}}</div>
  </div>
</div>