<p>Intervention name: {{ interventionName }}</p>
<div class="intervention-summary-title">{{ (quickMapsService.micronutrient.obs | async)?.name }} intervention in {{
  (quickMapsService.country.obs | async)?.name }}</div>
<div class="intervention-summary-panel">
  <div class="item">
    <div class="title">Food Vehicle:</div>
    <div class="value">Wheat Flour</div>
  </div>
  <div class="item">
    <div class="title">Status:</div>
    <div class="value">Voluntary, transitioning to mandatory</div>
  </div>
  <div class="item">
    <div class="title">Base year:</div>
    <div class="value">2021</div>
  </div>
</div>