@import 'src/assets/scss/_colour';

.intervention-info {
  display: flex;
  font-size: 14px;
  padding: 5px;
  border-bottom: 1px solid $color_primary;
  justify-content: space-between;
}

.intervention-summary-title {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  font-size: 24px;
  margin: 1.5rem;
}

.intervention-summary-panel {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 50px;
  background-color: $color_background_form;
  border-radius: 10px;
  margin: 0 1rem 2rem 1rem;

  .item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;

    .value {
      font-weight: bold;
      margin-left: 5px;
    }
  }
}
