@import 'src/assets/scss/_colour.scss';

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1;
  overflow: auto;
  padding: 10px;
}
footer {
  background: #fafafa;
  flex-direction: row;
  display: flex;
  padding: 10px;
  justify-content: flex-end;
  border-top: 1px solid $color_background_form;
}
.intervention-navigation {
  margin-right: 10px;

  &-confirm {
    margin-right: 0px;
    background-color: $color_primary;
    color: white;
  }
}

.title {
  border: solid 1px #9b51e0;
  margin: 1em;
  padding: 10px;
  span {
    font-size: 20px;
    font-weight: 600;
  }
}

// Stage 2 & 4
.lower-table-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  .focus-mn {
    display: flex;
    flex-direction: column;
    margin-right: 1em;
    justify-content: flex-end;
    .mn-title {
      color: $color_primary;
      font-weight: bold;
      display: flex;
      justify-content: end;
      margin-top: 2em;
    }
  }
}
