@use '@angular/material' as mat;
@import 'src/assets/scss/_colour.scss';

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1;
  overflow: auto;
  padding: 10px;
}

footer {
  background: #fafafa;
  flex-direction: row;
  display: flex;
  padding: 10px;
  justify-content: flex-end;
  border-top: 1px solid $color_background_form;
}

.intervention-navigation {
  margin-right: 10px;

  &-confirm {
    margin-right: 0px;
    background-color: $color_primary;
    color: white;
  }
}

.title {
  border: solid 1px $color_primary;
  margin: 1em;
  padding: 10px;
  span {
    font-size: 20px;
    font-weight: 600;
  }
}

// Stage 2 & 4
.lower-table-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;

  mat-select {
    text-transform: capitalize;

    mat-option {
      span {
        text-transform: capitalize;
      }
    }
  }

  .focus-mn {
    display: flex;
    flex-direction: column;
    margin-top: 2.5em;

    .sub-header {
      margin-left: 1.5em;
    }

    span {
      display: flex;
      justify-content: flex-end;
    }

    .mn-title {
      color: $color_primary;
      font-weight: bold;
      margin-top: 2em;
      margin-right: 2em;
    }
  }
}

table {
  width: 100%;
  background: none;

  td.mat-cell {
    border-bottom-color: rgba(0, 0, 0, 0);
    text-align: left;
    vertical-align: bottom;

    &.cdk-column-micronutrient {
      color: mat.get-color-from-palette($_primary_pallete, A700);
      font-weight: 700;
      font-family: 'Quicksand', sans-serif;
    }
  }
}

// user edited values
input.ng-dirty {
  color: $color_input_blue;
  border-color: $color_input_blue;
}
