<app-base-dialog title="Add micronutrient">
  <div class="container">
    <p>Select the micronutrient that you would like to add</p>
    <mat-form-field appearance="outline">
      <mat-select [(ngModel)]="micronutrientsSelected" (selectionChange)="handleSelectionChange($event)">
        <mat-option *ngFor="let micronutrient of micronutrientsFiltered" [value]="micronutrient"
          [disabled]="alreadyAdded(micronutrient.name)">
          {{ micronutrient.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="button-group" mat-dialog-actions align="end">
      <button mat-stroked-button color="primary" (click)="handleClose()">Cancel</button>
      <button mat-flat-button color="primary" (click)="handleAddMicronutrient()">Add micronutrient</button>
    </div>
  </div>
</app-base-dialog>
