<!-- <div class="MnAdditionDialog">
  <h2>Add micronutrient</h2>
  <p>Select the micronutrient that you would like to add</p>
  <mat-form-field appearance="outline">
    <mat-select [(ngModel)]="micronutrientsFiltered[0]" (selectionChange)="handleSelectionChange($event)">
      <mat-option *ngFor="let micronutrient of micronutrientsFiltered" [value]="micronutrient">
        {{ micronutrient.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="button-group" mat-dialog-actions>
    <button mat-stroked-button type="button" class="btn btn-primary" (click)="handleCloseDialog()">
      Cancel
    </button>
    <button mat-stroked-button class="primary-button" (click)="handleAddMicronutrient()">
      Add micronutrient
    </button>
  </div>
</div> -->

<app-base-dialog title="Add micronutrient">
  <div class="container">
    <p>Select the micronutrient that you would like to add</p>
    <mat-form-field appearance="outline">
      <mat-select [(ngModel)]="micronutrientsFiltered[0]" (selectionChange)="handleSelectionChange($event)">
        <mat-option *ngFor="let micronutrient of micronutrientsFiltered" [value]="micronutrient">
          {{ micronutrient.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="button-group" mat-dialog-actions align="end">
      <button mat-stroked-button color="primary" (click)="handleCloseDialog()">Cancel</button>
      <button mat-flat-button color="primary" (click)="handleAddMicronutrient()">Add micronutrient</button>
    </div>
  </div>
</app-base-dialog>