<gridster class="bmgf-maps-nice-scrollbar" [options]="options">
  <app-biomarker-description></app-biomarker-description>
  <app-biomarker-overview></app-biomarker-overview>
  <gridster-item [item]="widget" *ngFor="let widget of dashboard">
    <app-card #card [widget]="widget" [resizeEvent]="resizeEvent" [ngSwitch]="widget.type">

      <app-biomarker-status *ngSwitchCase="WIDGETS.STATUS" [card]="card"></app-biomarker-status>
      <!-- eg: -->
      <!-- Map View -->
      <!-- <app-map-view *ngSwitchCase="WIDGETS.MAP" [card]="card"></app-map-view> -->
    </app-card>
  </gridster-item>
</gridster>