<app-base-dialog [data]="dialogData">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 tableFullWidth">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Years of start-up or scale-up</th>
            <td mat-cell *matCellDef="let element">
                {{element.name}}
            </td>
        </ng-container>
        <ng-container matColumnDef="year0">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>2021</th>
            <td mat-cell *matCellDef="let element">{{element.year0 | currency: 'USD'}}</td>
        </ng-container>
        <ng-container matColumnDef="year1">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>2022</th>
            <td mat-cell *matCellDef="let element">{{element.year1 | currency: 'USD'}}</td>
        </ng-container>
        <ng-container matColumnDef="year2">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>2023</th>
            <td mat-cell *matCellDef="let element">{{element.year2 | currency: 'USD'}}</td>
        </ng-container>
        <ng-container matColumnDef="year3">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>2024</th>
            <td mat-cell *matCellDef="let element">{{element.year3 | currency: 'USD'}}</td>
        </ng-container>
        <ng-container matColumnDef="year4">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>2025</th>
            <td mat-cell *matCellDef="let element">{{element.year4 | currency: 'USD'}}</td>
        </ng-container>
        <ng-container matColumnDef="year5">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>2026</th>
            <td mat-cell *matCellDef="let element">{{element.year5 | currency: 'USD'}}</td>
        </ng-container>
        <ng-container matColumnDef="year6">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>2027</th>
            <td mat-cell *matCellDef="let element">{{element.year6 | currency: 'USD'}}</td>
        </ng-container>
        <ng-container matColumnDef="year7">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>2028</th>
            <td mat-cell *matCellDef="let element">{{element.year7 | currency: 'USD'}}</td>
        </ng-container>
        <ng-container matColumnDef="year8">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>2029</th>
            <td mat-cell *matCellDef="let element">{{element.year8 | currency: 'USD'}}</td>
        </ng-container>
        <ng-container matColumnDef="year9">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>2030</th>
            <td mat-cell *matCellDef="let element">{{element.year9 | currency: 'USD'}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayHeaders;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayHeaders"></tr>
        <tr class="mat-row" *matNoDataRow>
        </tr>
    </table>
</app-base-dialog>