<div class="centredContent">
  <img class="header-image" src="/assets/images/no-dataset-found.svg">
  <h2 class="mat-headline-5">No dataset available</h2>
  <h3 class="mat-headline-6">There are no <strong>{{quickMapsService.measure.obs | async | titlecase}}</strong> data
    sources
    available for
    <strong>{{
      (quickMapsService.micronutrient.obs | async)?.name }}</strong>
    in
    <strong>{{ (quickMapsService.country.obs | async)?.name }}</strong>. <br>
    Please select
    another option.
  </h3>
</div>