<mat-fab-menu #fabMenu matTooltip="Dashboard Layout" [matTooltipDisabled]="fabMenu.isActive" class="fab-layout"
  color="primary" [fabButtons]="layoutOptions" icon="dashboard_customize"
  (onFabMenuItemSelected)="layoutChange($event)">
</mat-fab-menu>
<gridster class="bmgf-maps-nice-scrollbar" [options]="options">
  <app-dc-description></app-dc-description>
  <app-dc-options class="options-panel"></app-dc-options>
  <gridster-item [item]="widget" *ngFor="let widget of dashboard">
    <app-card #card [widget]="widget" [resizeEvent]="resizeEvent" [ngSwitch]="widget.type">
      <!-- Comparison card -->
      <app-dc-comparison-card *ngSwitchCase="WIDGETS.DIET_CHANGE_COMPARISON" [card]="card"></app-dc-comparison-card>
    </app-card>
  </gridster-item>
</gridster>