  <div class="container">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="content-container">
            <div class="item">
              Nation: <strong>{{countryName}}</strong>
            </div>
            <div class="item">
              Vitamin: <strong>{{vitaminName}}</strong>
            </div>
            <div class="item">
              Baseline assumptions: <strong>SSP2</strong>
            </div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="description">The projections are modelled based on 3 different scenarios. Scenario SSP1 is
        called the
        Sustainability scenario; scenario SSP2 is the Middle of the Road scenario; scenario SSP3 is the Regional
        Rivalry Scenario. Learn More</div>
    </mat-expansion-panel>
  </div>
