<div class="container">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header class="desc-header">
      <mat-panel-title>
        <div class="content-container">
          <div class="item">
            Nation: <strong>{{(quickMapsService.country.observable | async)?.name}}</strong>
          </div>
          <div class="item">
            Micronutrient: <strong>{{ (quickMapsService.micronutrient.observable | async)?.name }}</strong>
          </div>
          <div class="item">
            Underlying Metric: <strong class="capitalize-text">{{ quickMapsService.measureObs | async }} Data</strong>
          </div>
          <div class="item">
            Baseline assumptions: <strong>{{currentImpactScenario?.name}}</strong>
          </div>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="description">The projections are modelled based on 3 different scenarios. Scenario SSP1 is
      called the
      Sustainability scenario; scenario SSP2 is the Middle of the Road scenario; scenario SSP3 is the Regional
      Rivalry Scenario. <button mat-button (click)="openScenarioTypeDialog()" color="primary">Learn More</button></div>
  </mat-expansion-panel>
</div>