/* You can add global styles to this file, and also import other style files */
@use '@material/layout-grid/mdc-layout-grid';
@use './assets/scss/_bmgf_maps_theme';
@use './assets/scss/_driver';

// @import '~@material/layout-grid/mdc-layout-grid.scss';

@use '@fortawesome/fontawesome-free/css/all.min.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

.shareButton {
  background: linear-gradient(81.93deg, #00dbde 0%, #9b51e0 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  color: white;
}

a[disabled='true'] {
  pointer-events: none;
}

:root {
  --mdc-layout-grid-margin-desktop: 30px 50px;
  --mdc-layout-grid-gutter-desktop: 30px;
  --mdc-layout-grid-margin-tablet: 24px;
  --mdc-layout-grid-gutter-tablet: 24px;
  --mdc-layout-grid-margin-phone: 24px;
  --mdc-layout-grid-gutter-phone: 24px;
}

// Force mat-fab-menu to be the same size as mat-mini-fab
.mat-mdc-fab {
  /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
  // & .mat-button-wrapper {
  //   padding: 7px 0 !important;
  // }
  width: 40px !important;
  height: 40px !important;
  margin-bottom: 0 !important;
}

.mat-mdc-mini-fab {
  margin-bottom: 0 !important;
}

// disable rectangle outline when clicking on leaflet map data
path.leaflet-interactive:focus {
  outline: none;
}

.mat-mdc-dialog-surface {
  overflow-y: unset !important;
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: transparent !important;
  box-shadow: none !important;
}
