<app-reusable-skeleton-table *ngIf="biomarkerDataUpdating"
  [setData]="{ columns: 4, rows: 5 }"></app-reusable-skeleton-table>

<table *ngIf="!biomarkerDataUpdating && dataSource" mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="aggregation" sticky>
    <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Aggregation</th>
    <td mat-cell *matCellDef="let element">{{ element.aggregation | titlecase }}</td>
  </ng-container>
  <ng-container matColumnDef="x">
    <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">{{columnX.replace('_', ' ') |
      titlecase}}</th>
    <td mat-cell *matCellDef="let element">{{ element.x }}</td>
  </ng-container>
  <ng-container matColumnDef="confidenceIntervalLower">
    <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Confidence Interval Lower</th>
    <td mat-cell *matCellDef="let element">{{ element.confidenceIntervalLower }}</td>
  </ng-container>
  <ng-container matColumnDef="confidenceIntervalUpper">
    <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Confidence Interval Upper</th>
    <td mat-cell *matCellDef="let element">{{ element.confidenceIntervalUpper }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator *ngIf="!biomarkerDataUpdating" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
<div *ngIf="!biomarkerDataUpdating" class="status-element">

  <p>
    <span *ngFor="let threshold of thresholdKeys">
      {{ threshold | titlecase }} was defined as {{ (quickMapsService.biomarkerDataSource.obs | async)?.biomarkerName |
      titlecase
      }} {{
      thresholdList[threshold].thresholdType.startsWith('deficiency') ? '&lt; ' + thresholdList[threshold].upper :
      '&gt; ' + thresholdList[threshold].lower }}{{thresholdList[threshold]?.unit}}
      <span *ngIf="thresholdList[threshold].comments">({{ thresholdList[threshold].comments }})</span>
      <br />
    </span>
  </p>
  <p>
    Inflammation adjustment of micronutrients was done according to the <a
      href="https://pubmed.ncbi.nlm.nih.gov/36792034/" target="_blank">BRINDA method</a>.
  </p>
</div>