<div class="bmgf-maps-nice-scrollbar container">
  <div class="content">
    <app-intervention-description></app-intervention-description>
    <div class="title">
      <span>Projected number of households</span>
    </div>

    <app-reusable-skeleton-table [setData]="{ columns: 11, rows: 2 }"></app-reusable-skeleton-table>


  </div>
  <footer>
    <a class="intervention-navigation" mat-stroked-button [routerLink]="ROUTES.INTERVENTION_REVIEW_BASELINE | route"
      queryParamsHandling="preserve">Back</a>
    <a class="intervention-navigation" mat-stroked-button [routerLink]="ROUTES.COST_EFFECTIVENESS | route"
      queryParamsHandling="preserve">Save and close</a>
    <a class="intervention-navigation-confirm" mat-flat-button color="primary"
      [routerLink]="ROUTES.INTERVENTION_REVIEW_EFFECTIVENESS_METRICS | route" queryParamsHandling="preserve"
      (click)="confirmAndContinue()">Confirm and
      continue</a>
  </footer>
</div>