<ng-template #componentTemplate>
  <mat-tab-group mat-align-tabs="center" [(selectedIndex)]="selectedTab">
    <mat-tab label="Monthly Summary Chart">
      <ngx-chartjs id="stacked-chart" *ngIf="chartData" [data]="chartData.data" [type]="chartData.type"
        [options]="chartData.options">
      </ngx-chartjs>
    </mat-tab>

    <mat-tab label="Monthly Summary Data">
      <div class="bmgf-maps-nice-scrollbar">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="monthIndex" sticky>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Month</th>
            <td mat-cell *matCellDef="let element">{{ element.month }}</td>
          </ng-container>
          <!-- <ng-container matColumnDef="unitPerc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>unitPerc</th>
            <td mat-cell *matCellDef="let element">{{ element.unitPerc }}</td>
          </ng-container> -->
          <ng-container matColumnDef="vegetablesPerc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Vegetables %</th>
            <td mat-cell *matCellDef="let element">{{ element.vegetablesPerc }}</td>
          </ng-container>
          <ng-container matColumnDef="cerealGrainsPerc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cereal Grains %</th>
            <td mat-cell *matCellDef="let element">{{ element.cerealGrainsPerc }}</td>
          </ng-container>
          <ng-container matColumnDef="dairyPerc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Dairy %</th>
            <td mat-cell *matCellDef="let element">{{ element.dairyPerc }}</td>
          </ng-container>
          <ng-container matColumnDef="fatPerc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fat %</th>
            <td mat-cell *matCellDef="let element">{{ element.fatPerc }}</td>
          </ng-container>
          <ng-container matColumnDef="fruitPerc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fruit %</th>
            <td mat-cell *matCellDef="let element">{{ element.fruitPerc }}</td>
          </ng-container>
          <ng-container matColumnDef="meatPerc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Meat %</th>
            <td mat-cell *matCellDef="let element">{{ element.meatPerc }}</td>
          </ng-container>
          <ng-container matColumnDef="tubersPerc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tubers %</th>
            <td mat-cell *matCellDef="let element">{{ element.tubersPerc }}</td>
          </ng-container>
          <ng-container matColumnDef="nutsPerc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nuts %</th>
            <td mat-cell *matCellDef="let element">{{ element.nutsPerc }}</td>
          </ng-container>
          <ng-container matColumnDef="miscPerc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Misc %</th>
            <td mat-cell *matCellDef="let element">{{ element.miscPerc }}</td>
          </ng-container>
          <ng-container matColumnDef="supplyTotal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Supply Total</th>
            <td mat-cell *matCellDef="let element">{{ element.supplyTotal }}</td>
          </ng-container>
          <!-- <ng-container matColumnDef="supplyUnit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>supplyUnit</th>
            <td mat-cell *matCellDef="let element">{{ element.supplyUnit }}</td>
          </ng-container> -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </mat-tab>

    <mat-tab label="Download">
      <app-download [chartDownloadPNG]="chartPNG" [chartDownloadPDF]="chartPDF"></app-download>
    </mat-tab>
    <mat-tab label="About {{title}}">
      <div class="about-container">
        <h2>About {{title}}</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>
      </div>

    </mat-tab>
  </mat-tab-group>
</ng-template>

<ng-container *ngIf="(null != dialogData) else componentTemplate">
  <app-base-dialog [data]="dialogData" [title]="title">
    <ng-container *ngTemplateOutlet="componentTemplate"></ng-container>
  </app-base-dialog>
</ng-container>