@import 'src/assets/scss/_colour';

:host {
  width: 100%;
  margin-bottom: 1em;
  border-radius: 5px;
}

.button::ng-deep {
  padding: 10px;
  margin: 15px;
  justify-content: space-between;
}

.container {
  border: solid 1px $color_primary;
  border-radius: 5px;
  mat-card {
    padding: 1em;
  }
}

.content-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  font-size: 18px;
  gap: 5px;
}

.column-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.item-container {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  padding: 5px 0;

  .item {
    button {
      color: #ffffff;
      line-height: 24px;
      margin-left: 0.5rem;
      min-width: 130px;
    }
  }
}

.button-container {
  display: inline;
  margin: 0 0 0 1rem;
  flex-flow: row wrap;
  justify-content: space-between;
  font-size: 14px;
}

.desc {
  display: block;
  font-size: 14px;
}

.item {
  margin: 2px 1.5rem 2px 0;
}

.int-header {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 18px;
}

.flex-col {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.title {
  display: flex;
  justify-content: flex-start;
}

.int-id {
  margin-left: 10px;
}

.edit-title {
  color: $color_primary;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  margin-bottom: 0.125rem;
  background: transparent;
  border: none;
  cursor: pointer;

  mat-icon {
    transform: scale(0.75);
  }

  span {
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
  }
}

.green {
  background-color: #6fcf97;
}

.red {
  background-color: #eb5757;
}
