<div class="container" *ngIf="loading">
  <mat-spinner color="accent"></mat-spinner>
</div>

<div class="container" *ngIf="!loading">
  <div class="wideItem left-text">
    <div class="nation">
      <span class="estimateHeader">Estimate ({{(null == projectionsSummary?.referenceYear) ? '-' :
        projectionsSummary.referenceYear}}):</span>
      <span class="estimateValue blue">
        {{(null == currentEstimateCalc) ? '-' : currentEstimateCalc | sigFig:3 | number}}
      </span>
      <small>({{massNameValue.name}} per {{timeScaleNameValue.name}})</small>
    </div>


    <div class="vitamin">
      <span class="estimateHeader">Target:</span>
      <span class="estimateValue green">{{(null == targetCalc) ? '-' : targetCalc | sigFig:3 | number}}</span>
      <small>({{massNameValue.name}} per {{timeScaleNameValue.name}})</small>
    </div>

    <div class="baseline">
      <span class="estimateHeader">Difference:</span>
      <span class="estimateValue" [ngClass]="(projectionsSummary?.difference < 0)? 'red': 'green'">
        {{(null == projectionsSummary?.difference) ? '- ' : projectionsSummary.difference | number:'1.0-0'}}%
        <i class="fas fa-question-circle margin-left" [matTooltip]="(null == differenceQuantity) ? '-' : (differenceQuantity | sigFig:3 | number)
        + massNameValue.name + ' per ' + timeScaleNameValue.name + ' (3.s.f)'" style="color: grey;"></i>
      </span>
    </div>
  </div>

  <div class="wideItem form">

    <mat-form-field appearance="outline" aria-label="amount" class="width-quantity">
      <mat-label>Quantity</mat-label>
      <mat-select [(ngModel)]="massNameValue" (selectionChange)="calculate()" placeholder="amount">
        <mat-option *ngFor="let item of massArray" [value]="item">
          {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <span class="item bold">per person</span>

    <mat-form-field appearance="outline" aria-label="time scale" class="width-time">
      <mat-label>Time</mat-label>
      <mat-select [(ngModel)]="timeScaleNameValue" (selectionChange)="calculate()" placeholder="time scale">
        <mat-option *ngFor="let item of timeScaleArray" [value]="item"> per {{item.name}} </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div class="wideItem right-text">
    <span>
      'Business as usual' to reach target in &nbsp;
      <strong>{{(null == projectionsSummary?.intersectYear) ? '-' : projectionsSummary.intersectYear}}</strong>
      <i class="fas fa-question-circle margin-left"
        matTooltip="Using moderate assumptions of economic and population growth, and no interventions, 
      per capita consumption of {{(quickMapsService.micronutrientObs | async).name}} is expected to reach recommended levels by {{(null == projectionsSummary?.intersectYear) ? '-' : projectionsSummary.intersectYear}}."
        style="color: grey;"></i>
    </span>
    <span>
      <a id="explore-projection-link" [routerLink]="ROUTES.QUICK_MAPS_PROJECTION | route"
        [queryParams]="route.queryParams | async" routerLinkActive="active-route" class="explore-projection-text">
        Explore projections <i class="fas fa-arrow-right"></i>
      </a>
    </span>
  </div>
</div>