<app-base-dialog [data]="dialogData" title="The Cost-Effectiveness Module">
  <div class="container">
    <p>The cost-effectiveness module of the MAPS tools provides a modeling framework to predict and compare the cost,
      effectiveness, cost-efficiency (i.e., cost per unit of output), and cost-effectiveness (i.e., cost per unit of
      impact) of micronutrient intervention programs. You can use just the costing functionality, just the effectiveness
      functionality, or both.
    </p>
    <p>The costing functionality provides a modeling framework to estimate micronutrient intervention costs over a
      10-year time horizon using an activity- and ingredients-based costing approach. The effectiveness functionality
      provides a modeling framework for using household consumption and expenditure survey data or food balance sheet
      data to predict the change in the micronutrient adequacy of diets as a result of a micronutrient intervention.
      Together, these estimates can be used to predict and compare the cost-efficiency (cost per capita, cost per
      household reached, etc.) and cost-effectiveness (cost per household with adequate apparent micronutrient intake as
      the result of an intervention) of micronutrient intervention programs.</p>
  </div>
</app-base-dialog>