<app-base-dialog [data]="dialogData">
    <h2>Cost-Effectiveness of Micronutrient Interventions</h2>
    <hr>
    <h3><strong>What is cost-effectiveness?</strong></h3>
    <p>The cost-effectiveness module allows you to predict the effectiveness, cost, and cost-effectiveness of existing
        and
        hypothetical micronutrient intervention programs. You can look at interventions individually, or compare the
        effectiveness, cost, and cost-effectiveness of multiple interventions.</p>
    <hr>
    <h3><strong>How to use this tool?</strong></h3>
    <p>The cost-effectiveness module allows you to predict the effectiveness, cost, and cost-effectiveness of existing
        and
        hypothetical micronutrient intervention programs. You can look at interventions individually, or compare the
        effectiveness, cost, and cost-effectiveness of multiple interventions.</p>


</app-base-dialog>