@use 'src/app/pages/quickMaps/pages/costEffectiveness/interventionReview/pages/interventionReviewPages.scss';

::ng-deep mat-accordion {
  .mat-expansion-panel:not([class*='mat-elevation-z']) {
    background: none;
    box-shadow: none;
    margin-top: 1em;
  }
}
