@import 'src/assets/scss/_colour.scss';

.mode-select {
  flex: 0 0;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-bottom: 10px;
  & .active-route:not(.mat-button-disabled) {
    background-color: $color_primary;
    color: white;
  }
}

.mode-select-button {
  flex-grow: 1;
  margin: 5px;

  a {
    width: 100%;
  }
}

.container {
  display: flex;
  margin: 5px;
  align-items: center;
}

.item-center {
  flex-grow: 1;
  text-align: center;
}

.item + .item {
  margin-left: 2%;
}

.qm-title {
  font-weight: 600;
  text-align: center;
  font-size: 25px;
  margin-bottom: 0px;
}
