<div class="container">
  <div class="item-center">
    <div class="box" *ngIf="(quickMapsService.micronutrientObs | async).isDiet">
      <h2 class="qmTitle">{{ (quickMapsService.countryObs | async)?.name }} Diet Data</h2>
    </div>
    <div class="box" *ngIf="(quickMapsService.micronutrientObs | async).isBiomarker">
      <h2 class="qmTitle">{{ (quickMapsService.countryObs | async)?.name }}< Biomarker Data</h2>
    </div>
  </div>
  <div class="item">
    <button
      mat-raised-button
      class="shareButton"
      (click)="
        share(
          'Micronutrient Action Policy Support (MAPS) Tool',
          'MAPS will be a web-hosted tool, communicating estimates of dietary micronutrient (MN) supplies and deficiency risks at national and sub-national scales in Africa.',
          'https://micronutrient.support/')">
      Share Page
    </button>
  </div>
</div>

<div class="mode-select">
  <a
    class="mode-select-button quickmaps-baseline-link"
    mat-raised-button
    [routerLink]="ROUTES.QUICK_MAPS_BASELINE | route"
    [queryParams]="route.queryParams | async"
    routerLinkActive="active-route"
    >Baseline
  </a>
  <a
    class="mode-select-button quickmaps-projection-link"
    mat-raised-button
    [routerLink]="
      (quickMapsService.micronutrientObs | async).isInImpact ? (ROUTES.QUICK_MAPS_PROJECTION | route) : null
    "
    [queryParams]="route.queryParams | async"
    routerLinkActive="active-route"
    [disabled]="!(quickMapsService.micronutrientObs | async).isInImpact"
    >Explore projections to 2050
  </a>
  <a class="mode-select-button" mat-raised-button>Explore simple dietary change scenarios</a>
  <a class="mode-select-button" mat-raised-button>Explore cost effectiveness scenarios</a>
</div>
