<div class="container">
  <div class="item-center">
    <div>
      <h1 class="qm-title">
        {{ (quickMapsService.country.obs | async)?.name }} {{quickMapsService.measure.obs | async |
        titlecase}}
        Data
      </h1>
    </div>
  </div>
  <div class="item">
    <button mat-stroked-button
      (click)="
        share(
          'Micronutrient Action Policy Support (MAPS) Tool',
          'MAPS will be a web-hosted tool, communicating estimates of dietary micronutrient (MN) supplies and deficiency risks at national and sub-national scales in Africa.')">
      <mat-icon>share</mat-icon>
      Share Page
    </button>
  </div>
</div>

<div class="mode-select" *ngIf="(quickMapsService.measure.obs | async) === MEASURE_TYPES.FOOD_SYSTEMS">
  <a class="mode-select-button quickmaps-baseline-link" mat-stroked-button
    [routerLink]="ROUTES.QUICK_MAPS_BASELINE | route" [queryParams]="route.queryParams | async"
    routerLinkActive="active-route">Baseline
  </a>
  <a class="mode-select-button quickmaps-projection-link" mat-stroked-button [routerLink]="
      (quickMapsService.micronutrient.obs | async)?.isInImpact ? (ROUTES.QUICK_MAPS_PROJECTION | route) : null
    " [queryParams]="route.queryParams | async" routerLinkActive="active-route"
    [disabled]="!(quickMapsService.micronutrient.obs | async)?.isInImpact" appTour tourName="Quick MAPS Baseline Data"
    tourDescription="Click here to view more details of the projections to 2050" tourTitle="Projections to 2050"
    tourPosition="auto" tourStage="6">Explore projections to 2050
  </a>
  <div class="mode-select-button" matTooltip="This feature is under development and currently not available"
    [matTooltipDisabled]="featureFlagsServive.isEnabled('Uncertainty-Enable')">
    <a [disabled]=" featureFlagsServive.isDisabled('Uncertainty-Enable')" class="quickmaps-uncertainty-link"
      mat-stroked-button [routerLink]="ROUTES.QUICK_MAPS_UNCERTAINTY | route" [queryParams]="route.queryParams | async"
      routerLinkActive="active-route">Explore uncertainty
    </a>
  </div>
  <div class="mode-select-button" matTooltip="This feature is under development and currently not available"
    [matTooltipDisabled]="featureFlagsServive.isEnabled('DietaryScenarios-Enable')">
    <a [disabled]=" featureFlagsServive.isDisabled('DietaryScenarios-Enable')" class="quickmaps-dieray-change-link"
      mat-stroked-button [routerLink]="ROUTES.QUICK_MAPS_DIETARY_CHANGE | route"
      [queryParams]="route.queryParams | async" routerLinkActive="active-route" appTour
      tourName="Quick MAPS Baseline Data"
      tourDescription="'Sandbox' mode to explore the effect on dietary micronutrient supply of changes to the composition or consumption of certain food items"
      tourTitle="Simple Dietary Change Scenarios" tourPosition="auto" tourStage="7">Simple dietary change scenarios</a>
  </div>
  <div class="mode-select-button" matTooltip="This feature is under development and currently not available"
    [matTooltipDisabled]="featureFlagsServive.isEnabled('CE-Enable')">
    <a [disabled]=" featureFlagsServive.isDisabled('CE-Enable')" class="quickmaps-cost-effectivness-link"
      mat-stroked-button [routerLink]="ROUTES.QUICK_MAPS_COST_EFFECTIVENESS | route"
      [queryParams]="route.queryParams | async" routerLinkActive="active-route">Explore cost
      effectiveness scenarios</a>
  </div>
</div>