@import 'src/assets/scss/_colour.scss';

.mode-select {
  flex: 0 0;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-bottom: 10px;
  & .active-route:not(.mat-button-disabled) {
    background-color: $color_primary;
    color: white;
  }
}

.mode-select-button {
  flex-grow: 1;
  margin: 5px;
}
