@import 'src/assets/scss/_colour.scss';

:host {
  flex: 0 0;
  width: 100%;
  display: flex;
  justify-content: center;
  & .active-route {
    background-color: $color_primary;
    color: white;
  }
}

a {
  flex-shrink: 0;
}
