<gridster class="bmgf-maps-nice-scrollbar" [options]="options">
    <app-ce-menu></app-ce-menu>
    <div *ngIf="enableComparisonCard">
        <gridster-item [item]="widget" *ngFor="let widget of dashboard">
            <app-card #card [widget]="widget" [resizeEvent]="resizeEvent" [ngSwitch]="widget.type">
                <app-intervention-comparison-card *ngSwitchCase="WIDGETS.COST_EFFECTIVENESS_COMPARISION" [card]="card">
                </app-intervention-comparison-card>
            </app-card>
        </gridster-item>
    </div>
</gridster>